@model LC_Reports_V1.Controllers.OEMList

@{
    ViewBag.Title = "BudgetingOrder";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Equipment/SW Orders</title>
    <style>
        section {
            padding: 25px;
        }

        .dx-datagrid-headers.dx-state-disabled:after { /* on edit disable column filterings*/
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
            font-size: 17px;
            font-weight: bold;
        }

        .dx-editor-cell .dx-texteditor .dx-texteditor-input {
            background-color: lightgray;
        }

        .dx-datagrid-content /*.dx-datagrid-table .dx-row .dx-editor-cell*/ .dx-texteditor /*.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container*/ {
            background-color: antiquewhite;
        }

        .dx-datagrid-filter-row,
        .dx-datagrid-filter-row .dx-editor-cell .dx-texteditor-input {
            background-color: antiquewhite;
        }

        .columnHeaderCSS {
            /*font-weight: bold;*/
            color: #000000;
            background-color: antiquewhite !important;
        }


        /* Base for label styling */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: 0;
            opacity: 0.00;
        }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 2.3em;
                font-size: 1em;
                line-height: 1.7;
                cursor: pointer;
            }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 4px;
                    width: 1em;
                    height: 1em;
                    border: 1px solid #aaa;
                    background: #FFF;
                    border-radius: .2em;
                    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                    -webkit-transition: all .275s;
                    transition: all .275s;
                }

                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                    content: '✓';
                    position: absolute;
                    top: .6em;
                    left: .45em;
                    font-size: 1.2em;
                    color: #b1095c;
                    line-height: 0;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }

                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0) rotate(45deg);
                    transform: scale(0) rotate(45deg);
                }

                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1) rotate(0);
                    transform: scale(1) rotate(0);
                }

        /* Disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #e9e9e9;
        }

        [type="checkbox"]:disabled:checked + label:after {
            color: #777;
        }

        [type="checkbox"]:disabled + label {
            color: #aaa;
        }

        /* Accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
        }
    </style>





    @section scripts{
        @*JS Library specific for Bootstrap-Select Dropdown*@
        <script src="~/Scripts/bootstrap-select.js"></script>

        @*CSS Library*@
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        @*External stylesheet to exhibit Budgeting Order view functionality*@
        <script src="~/Scripts/BudgetingOrder_Test.js"></script>

        <script>
           
        </script>

    }
</head>
<body>
 

        <div>
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/shoppingcart-blue.png" style="width:50px;height:50px;" alt="VKM Order" />
                    </td>
                    <td><h2 style="text-align:center;margin-top:2px;"><b> Lab RFO - Test </b></h2></td>
                </tr>
            </table>
        </div>

        <div style="float:right;height:30px;margin:3px">
            @*<a id="btnSubmitAll" class="btn btn-outline-success btn-sm" style="margin:5px" ;"><i class='fa fa-check-square-o'></i> Submit All <i id="SubmitSpinner"></i></a>*@
            <input type="image" src="/Content/images/Excel_Icon.png" alt="ExportToExcel" width="37" height="35" id="export" title="Export" class="btn btn-outline-secondary btn-sm" style="margin:5px;" />
        </div>


        <a id="buttonClearFilters" class="btn btn-outline-secondary btn-sm" style="margin:5px; margin-top:5px; width: 130px; height: 35px; "><i class="fa fa-check"></i> Clear Filters</a>
        <label style="text-align:left;  padding-right: 10px;" class="" for="Year"><b>Choose the Year:</b> </label>

        <select id="ddlYears" class="selectpicker show-tick" onchange="fnYearChange(this)"
                data-live-search="true"
                data-actions-box="true"
                data-width="130px"
                style="cursor:pointer;"></select>

        @*<label style="text-align:left;  padding-right: 10px;" class="" for="Year"><b>Choose the OEM:</b> </label>


             @Html.DropDownList("OEM", Model.OEMSelectList as List<SelectListItem>, new
        {
            @class = "selectpicker",
            @title = "Select OEM",
            @id = "selectOEM",
            @style = "cursor:pointer; overflow:visible;",
            multiple = "multiple",
            @onchange = "fnOEMselectChange(this)",
            //data_style = "btn-success",
            data_live_search = "true",
            autocomplete = "off",
            data_actions_box = "true",
            data_width = "150px",
            data_display = "static",
            data_dropup_auto = "false"
        })*@



        <label style="text-align:left;top:0px; font-size:17px; padding-left:70px;" for=""><b>Details:</b></label>

        <input type="checkbox" id="chkRequest" name="Request" value="Request" />
        <label for="chkRequest" style="padding-right: 10px; background-color:#7fd3d7">Request</label>
        <input type="checkbox" id="chkItem" name="Item" value="Item" />
        <label for="chkItem" style="padding-right: 10px; background-color:#dc80ba">Item</label>
        <input type="checkbox" id="chkRFO" name="RFO" value="RFO" />
        <label for="chkRFO" style="padding-right: 10px; background-color:#fdd78b">RFO</label>



        <div align="center" style="font-size: 30px;">
            <i id="load"></i>
            <span class="spinner-text" id="loadpanel" style="font-size:20px;">Please, wait...Fetching the Order Details..</span>

        </div>

        <div>
            <table id="RequestTable_RFO" class="table table-bordered display compact nowrap cell-border">
            </table>

        </div>



</body>

</html>

