@model LC_Reports_V1.Controllers.BudgetParam
@{
    ViewBag.Title = "GetVKMDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/export/exceljs.min.js"></script>
    <script src="~/Scripts/export/FileSaver.min.js"></script>
    <style>
        .dx-datagrid {
            font: 16px arial; /*change default font size*/
        }
    </style>

    <script type="text/javascript">
    $(document).ready(function () {
        var dataObjData;
        var dataObj;

        var selected = [];
        var selected1;
        var selected2;
        var BU_list, Item_list, Category_list, OEM_list, Group_list, Group_list_2020, CostElement_list;
        var dataGridCockpit;
        var costelement_selected;
        var categoryid_selected;
        var ItemID;
        var BUList;
        var selected, selectedthree;
        var selectedthree1, selectedthree2, selectedthree3;
        var selected_ccxc;
        var isthreeyr_flag;
        var current_tab; //store curent tab(if 3 yr tab open -> View changed -> both 2yr & 3 yr tab data ll be updated but success notifiction should be shown only for active tab's content updtion)
        debugger;
        var z = 0;
        var data = @Html.Raw(Json.Encode(Model));
        debugger;
        OnSuccess_CostElementDrillDown_comparison(data);
        //var employeeData = (IEnumerable<DeliveryStatus>)TempData["DeliveryStatus"];
        //var delData =

        function OnSuccess_CostElementDrillDown_comparison(data) {
            //debugger;
            var objdata = eval(data.data.data);
            $('#costelement_nav').click();
            if (data.message != "") {

                CostElementDrillDown = $("#CostElementDrillDown").dxDataGrid({

                    dataSource: objdata,
                    showColumnLines: true,
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    //columnChooser: {
                    //    enabled: true
                    //},
                    //filterRow: {
                    //    visible: true

                    //},
                    showBorders: true,
                    //export: {
                    //    enabled: true,
                    //    fileName: "CostElement Details"
                    //},
                    headerFilter: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    selection: {
                        applyFilter: "auto"
                    },
                    loadPanel: {
                        enabled: true
                    },
                    hoverStateEnabled: {
                        enabled: true
                    },
                    //scrolling: {
                    //    mode: "virtual",
                    //    rowRenderingMode: "virtual",
                    //    columnRenderingMode: "virtual"
                   // },
                   // paging: {
                   //     pageSize: 10
                   // },
                    //searchPanel: {
                    //    visible: true,
                    //    width: 240,
                    //    placeholder: "Search..."
                    //},

                    onCellPrepared: function (e) {


                        if (e.rowType === "data" && e.column.dataField != undefined && e.column.dataField === "Category Name") {  //Tooltip - specific CostElement for Comparison

                            e.cellElement.mouseover(function (arg) {
                                e.cellElement.css("font-weight", "bold");

                                tooltipInstance_costelt.option("contentTemplate", function (contentElement) {
                                    contentElement.html(`<div class='tooltipContent'><div><b>Click here to view Comparison of Category DrillDown</b></div>`);
                                });

                                tooltipInstance_costelt.show(arg.target);
                            });

                            e.cellElement.mouseout(function (arg) {
                                e.cellElement.css("font-weight", "normal");

                                tooltipInstance_costelt.hide();
                            });
                        }

                    },

                    onCellClick: function (e) {
                        debugger;
                        selected_ccxc = $('#ddlCC_XC').val();
                        get_bus();

                        if (e.rowType == 'data' && e.column.dataField == "Category Name") {  //DrillDown of specific CostElement for Comparison
                            categoryid_selected = e.value;


                            $("#CategoryDrillDown_Title").css("display", "none");
                            $("#CategoryDrillDown").css("display", "none");
                            $("#Itemview_Title").css("display", "none");
                            $("#RequestTable_Cockpit").css("display", "none");

                            //debugger;
                            $.ajax({
                                type: "POST",
                                url: "/Cockpit/CategoryDrillDown_comparison/",
                                data: { 'years': selected, 'CostElement_Chosen': costelement_selected, 'Category_Chosen': categoryid_selected, 'buList': BUList, 'selected_ccxc': selected_ccxc },

                                success: OnSuccess_CategoryDrillDown_comparison,
                                error: OnError_CategoryDrillDown
                            });

                            document.getElementById("CategoryDrillDown_Title").innerHTML = " CATEGORY BASED DRILL DOWN " + " - " + categoryid_selected;
                            document.getElementById("CategoryDrillDown_Title").style.fontWeight = "700";
                            $.notify('Loading, Please wait !', {
                                globalPosition: "top center",
                                className: "warn",
                                autoHideDelay: 5000
                            });
                        }

                    },

                });
                var tooltipInstance_costelt = $("#tooltipContainer_costelt").dxTooltip({
                    // position: "right"
                }).dxTooltip("instance");

                $("#CostElementDrillDown_Title").css("display", "block");
                $("#CostElementDrillDown").css("display", "block");

                $.notify('Cost Element drilldown loaded successfully !', {
                    globalPosition: "top center",
                    className: "success",
                    autoHideDelay: 20000
                });

                var str = "Compare";
                var result = str.bold();
                genText.innerHTML = result;
                $("#genSpinner").removeClass("fa fa-spinner fa-spin");


            }

            //$('#costelement_nav').css({ "color": "black" });

        }


        function OnSuccess_CategoryDrillDown_comparison(data) {
            debugger;
            var objdata = eval(data.data.data);
            $('#category_nav').click();


            CategoryDrillDown = $("#CategoryDrillDown").dxDataGrid({

                dataSource: objdata,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                //columnChooser: {
                //    enabled: true
                //},
                //filterRow: {
                //    visible: true

                //},
                showBorders: true,
                headerFilter: {
                    visible: true,
                    applyFilter: "auto"
                },
                selection: {
                    applyFilter: "auto"
                },
                //export: {
                //    enabled: true,
                //    fileName: "Category DrillDown Details"
                //},
                loadPanel: {
                    enabled: true
                },
                hoverStateEnabled: {
                    enabled: true
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual",
                    columnRenderingMode: "virtual"
                },
               // paging: {
              //      pageSize: 10
              //  },
                //searchPanel: {
                //    visible: true,
                //    width: 240,
                //    placeholder: "Search..."
                //},

                onCellPrepared: function (e) {


                    if (e.rowType === "data" && e.column.dataField != undefined && e.column.dataField === "Item Name") {  //Tooltip - specific CostElement for Comparison

                        e.cellElement.mouseover(function (arg) {
                            e.cellElement.css("font-weight", "bold");

                            tooltipInstance_category.option("contentTemplate", function (contentElement) {
                                contentElement.html(`<div class='tooltipContent'><div><b>Click here to view Item Details</b></div>`);
                            });

                            tooltipInstance_category.show(arg.target);
                        });

                        e.cellElement.mouseout(function (arg) {
                            e.cellElement.css("font-weight", "normal");

                            tooltipInstance_category.hide();
                        });
                    }

                },

                onCellClick: function (e) {
                    //debugger;
                    get_bus();

                    if (e.rowType == 'data' && e.column.dataField == "Item Name") {  //DrillDown of specific CostElement for Comparison
                        itemname_selected = e.value;


                        $("#Itemview_Title").css("display", "none");
                        $("#RequestTable_Cockpit").css("display", "none");

                        $.ajax({
                            type: "GET",
                            url: "/Cockpit/ItemID/",
                            //async: false,
                            data: { 'Item_Chosen': itemname_selected },

                            success: OnSuccess_ItemName

                        });
                        function OnSuccess_ItemName(response) {
                            //debugger;
                            ItemID = response.data;
                            $.ajax({
                                type: "POST",
                                url: "/Cockpit/ItemDrillDown/",
                                data: { 'CostElement_Chosen': costelement_selected, 'Category_Chosen': categoryid_selected, 'Item_Chosen': ItemID, 'buList': BUList, 'years': selected },
                                success: OnSuccess_ItemDrillDown,
                                error: OnError_ItemDrillDown

                            });


                            $.notify('Loading, Please wait !', {
                                globalPosition: "top center",
                                className: "warn",
                                autoHideDelay: 5000
                            });
                        }


                    }

                },


            });
            var tooltipInstance_category = $("#tooltipContainer_category").dxTooltip({
                //position: "right"
            }).dxTooltip("instance");


            $("#CategoryDrillDown_Title").css("display", "block");
            $("#CategoryDrillDown").css("display", "block");

            $.notify('Category drilldown loaded successfully !', {
                globalPosition: "top center",
                className: "success",
                autoHideDelay: 20000
            });
        }


        function OnError_CategoryDrillDown(response) {
            //debugger;
            $.notify('Unable to load Category based Drill Down right now, Please Try again later!', {
                globalPosition: "top center",
                className: "warn"
            });
        }



        function OnSuccess_ItemDrillDown(response) {
            //debugger;
            var objdata_item = response.data;
            $('#item_nav').click();


            dataGridCockpit = $("#RequestTable_Cockpit").dxDataGrid({

                dataSource: objdata_item,
                columnResizingMode: "nextColumn",
                columnMinWidth: 50,
                columnAutoWidth: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnChooser: {
                    enabled: true
                },

                filterRow: {
                    visible: true

                },
                showBorders: true,
                headerFilter: {
                    visible: true,
                    applyFilter: "auto"
                },
                selection: {
                    applyFilter: "auto"
                },
                //export: {
                //    enabled: true,
                //    fileName: "Item Details"
                //},
                loadPanel: {
                    enabled: true
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual",
                    columnRenderingMode: "virtual"
                },
                //paging: {
                //    pageSize: 50
                //},
                //searchPanel: {
                //    visible: true,
                //    width: 240,
                //    placeholder: "Search..."
                //},



                columns: [
                    {
                        dataField: "BU",
                        width: 50,

                        setCellValue: function (rowData, value) {
                            //debugger;
                            rowData.BU = value;

                        },
                        lookup: {
                            dataSource: function (options) {

                                return {

                                    store: BU_list,
                                };

                            },
                            valueExpr: "ID",
                            displayExpr: "BU"
                        },

                    },



                    {
                        dataField: "OEM",
                        validationRules: [{ type: "required" }],
                        width: 80,
                        lookup: {
                            dataSource: OEM_list,
                            valueExpr: "ID",
                            displayExpr: "OEM"
                        },


                    },
                    {
                        dataField: "DEPT",
                        caption: "Dept",
                        validationRules: [{ type: "required" }],
                        setCellValue: function (rowData, value) {

                            rowData.DEPT = value;
                            rowData.Group = null;

                        },
                        width: 100,
                        lookup: {
                            dataSource: function (options) {

                                return {

                                    store: DEPT_list,
                                    filter: options.data ? ["Outdated", "=", false] : null


                                };
                            },

                            valueExpr: "ID",
                            displayExpr: "DEPT"

                        },



                    },
                    {
                        dataField: "Group",
                        width: 100,
                        validationRules: [{ type: "required" }],
                        lookup: {
                            dataSource: function (options) {

                                return {

                                    store: Group_list,
                                    filter: options.data ? ["Dept", "=", options.data.DEPT] : null
                                };

                            },
                            valueExpr: "ID",
                            displayExpr: "Group"
                        },



                    },


                    {
                        dataField: "Item_Name",
                        width: 250,
                        validationRules: [{ type: "required" }],

                        lookup: {
                            dataSource: function (options) {

                                return {

                                    store: Item_list,

                                    filter: options.data ? [["BU", "=", options.data.BU], 'and', ["Deleted", "=", false]] : null
                                }


                            },
                            valueExpr: "S_No",
                            displayExpr: "Item_Name"
                        },


                    },
                    {
                        dataField: "Category",
                        caption: "Category",
                        validationRules: [{ type: "required" }],
                        lookup: {
                            dataSource: Category_list,
                            valueExpr: "ID",
                            displayExpr: "Category"
                        },
                        allowEditing: false,
                        visible: false,


                    },
                    {
                        dataField: "Cost_Element",

                        lookup: {
                            dataSource: CostElement_list,
                            valueExpr: "ID",
                            displayExpr: "CostElement"
                        },
                        allowEditing: false,
                        visible: false


                    },

                    {
                        dataField: "Required_Quantity",
                        caption: "ReqQuantity",
                        validationRules: [
                            { type: "required" },
                            {
                                type: "range",
                                message: "Please enter valid count > 0",
                                min: 0,
                                max: 214783647
                            }],
                        dataType: "number",

                        setCellValue: function (rowData, value) {

                            rowData.Required_Quantity = value;

                        }
                    },
                    {
                        dataField: "Reviewed_Quantity",
                        caption: "RevQuantity",

                        dataType: "number"
                    },
                    {
                        dataField: "Ordered_Quantity",

                        visible: false
                    },
                    {
                        dataField: "Unit_Price",

                        visible: false


                    },
                    {
                        dataField: "Total_Price",

                        dataType: "number",
                        format: { type: "currency", precision: 2 },
                        valueFormat: "#0.00",
                        allowEditing: false,
                        visible: false
                    },
                    //Reviewed_Cost
                    {
                        dataField: "Reviewed_Cost",
                        caption: "RevCost",


                        dataType: "number",
                        format: { type: "currency", precision: 2 },
                        valueFormat: "#0.00",
                        allowEditing: false
                    },
                    {
                        dataField: "OrderPrice",

                        format: { type: "currency", precision: 2 },
                        valueFormat: "#0.00",
                        visible: false


                    },


                    {
                        dataField: "Requestor",
                        allowEditing: false,
                        //visible: false
                    },
                    {
                        dataField: "Reviewer_1",
                        allowEditing: false,
                        visible: false
                    },
                    {
                        dataField: "Reviewer_2",
                        allowEditing: false,
                        visible: false
                    },
                    {
                        dataField: "Comments",

                        visible: false

                    },
                    {
                        dataField: "RequestDate",
                        allowEditing: false



                    },

                    //{
                    //    dataField: "LeadTime",
                    //    width: 50,
                    //    caption: "LeadTime (in days)",
                    //    visible: false,
                    //    calculateCellValue: function (rowData) {
                    //        //update the LeadTime
                    //        if (rowData.Item_Name == undefined || rowData.Item_Name == null) {

                    //            leadtime1 = "";
                    //        }

                    //        else {

                    //            $.ajax({

                    //                type: "GET",
                    //                url: "/BudgetingRequest/GetLeadTime",
                    //                data: { 'ItemName': rowData.Item_Name },
                    //                datatype: "json",
                    //                async: false,
                    //                success: success_getleadtime,

                    //            });

                    //            function success_getleadtime(response) {

                    //                if (response == 0)
                    //                    leadtime1 = "";
                    //                else
                    //                    leadtime1 = response;

                    //            }

                    //        }

                    //        return leadtime1;
                    //    }

                    //},
                    {
                        dataField: "Request_Status"
                    }



                ]

            });
            //debugger;
            document.getElementById("Itemview_Title").innerHTML = "ITEM DETAILED VIEW " + " - " + itemname_selected;
            document.getElementById("Itemview_Title").style.fontWeight = "700";


            $("#Itemview_Title").css("display", "block");
            $("#RequestTable_Cockpit").css("display", "block");

            $.notify('Item Detailed View is loaded successfully !', {
                globalPosition: "top center",
                className: "success",
                autoHideDelay: 20000
            });
        }
        function OnError_ItemDrillDown(response) {

            $.notify('Please Try Again !', {
                globalPosition: "top center",
                className: "warn"
            });
        }

        $('#item_nav').click(function () {
            $('#cards').css("display", "none");
            $('#breadcrumb_nav1').css("display", "none");
            document.getElementById("DeliveryStatus").style.display = "none";
            $('#backButton').dxButton('instance').option('visible', true);
            $('#breadcrumb_nav2').css("display", "block");
            //window.location.href = params;
            $('#category_view').css("display", "none");
            $('#twoyr_view').css("display", "none");
            $('#costelement_view').css("display", "none");
            $('#item_view').css("display", "block");
            $('#Itemview_Title').css("display", "block");
            $('#threeyr_view').css("display", "none");

            var bd1 = document.getElementById("item_nav");
            bd1.style.color = "black";
            var bd2 = document.getElementById("costelement_nav");
            bd2.style.color = "grey";
            var bd3 = document.getElementById("category_nav");
            bd3.style.color = "grey";
            var bd4 = document.getElementById("twoyr_nav");
            bd4.style.color = "grey";
            var bd5 = document.getElementById("threeyr_nav");
            bd5.style.color = "grey";

        });
        $('#costelement_nav').click(function () {
            //debugger;
            $('#cards').css("display", "none");
            $('#breadcrumb_nav1').css("display", "none");
            $('#backButton').dxButton('instance').option('visible', true);
            $('#breadcrumb_nav2').css("display", "block");


            $('#category_view').css("display", "none");
            $('#twoyr_view').css("display", "none");
            $('#costelement_view').css("display", "block");
            $('#item_view').css("display", "none");
            $('#threeyr_view').css("display", "none");
            //$('#costelement_nav').css({ "color": "black" });

            var bd1 = document.getElementById("item_nav");
            bd1.style.color = "grey";
            var bd2 = document.getElementById("costelement_nav");
            bd2.style.color = "black";
            var bd3 = document.getElementById("category_nav");
            bd3.style.color = "grey";
            var bd4 = document.getElementById("twoyr_nav");
            bd4.style.color = "grey";
            var bd5 = document.getElementById("threeyr_nav");
            bd5.style.color = "grey";

        });
        $('#category_nav').click(function () {
            $('#cards').css("display", "none");
            $('#breadcrumb_nav1').css("display", "none");
            $('#backButton').dxButton('instance').option('visible', true);
            $('#breadcrumb_nav2').css("display", "block");

            $('#category_view').css("display", "block");
            $('#costelement_view').css("display", "none");
            $('#twoyr_view').css("display", "none");
            $('#item_view').css("display", "none");
            $('#threeyr_view').css("display", "none");
            //$('#category_nav').css({ "color": "black" });

            var bd1 = document.getElementById("item_nav");
            bd1.style.color = "grey";
            var bd2 = document.getElementById("costelement_nav");
            bd2.style.color = "grey";
            var bd3 = document.getElementById("category_nav");
            bd3.style.color = "black";
            var bd4 = document.getElementById("twoyr_nav");
            bd4.style.color = "grey";
            var bd5 = document.getElementById("threeyr_nav");
            bd5.style.color = "grey";

        });
        $('#twoyr_nav').click(function () {
            $('#cards').css("display", "block");
            $('#breadcrumb_nav1').css("display", "block");
            $('#backButton').dxButton('instance').option('visible', false);
            $('#breadcrumb_nav2').css("display", "none");

            current_tab = "twoyr";
            $('#twoyr_view').css("display", "block");
            $('#costelement_view').css("display", "none");
            $('#category_view').css("display", "none");
            $('#item_view').css("display", "none");
            $('#threeyr_view').css("display", "none");
            //$('#twoyr_nav').css({ "color": "black" });

            var bd1 = document.getElementById("item_nav");
            bd1.style.color = "grey";
            var bd2 = document.getElementById("costelement_nav");
            bd2.style.color = "grey";
            var bd3 = document.getElementById("category_nav");
            bd3.style.color = "grey";
            var bd4 = document.getElementById("twoyr_nav");
            bd4.style.color = "black";
            var bd5 = document.getElementById("threeyr_nav");
            bd5.style.color = "grey";
        });
        $('#threeyr_nav').click(function () {
            debugger;
            current_tab = "threeyr";
            $('#cards').css("display", "block");
            $('#breadcrumb_nav1').css("display", "block");
            $('#backButton').dxButton('instance').option('visible', false);
            $('#breadcrumb_nav2').css("display", "none");

            $('#twoyr_view').css("display", "none");
            $('#costelement_view').css("display", "none");
            $('#category_view').css("display", "none");
            $('#item_view').css("display", "none");
            $('#threeyr_view').css("display", "block");

            var bd1 = document.getElementById("item_nav");
            bd1.style.color = "grey";
            var bd2 = document.getElementById("costelement_nav");
            bd2.style.color = "grey";
            var bd3 = document.getElementById("category_nav");
            bd3.style.color = "grey";
            var bd4 = document.getElementById("twoyr_nav");
            bd4.style.color = "grey";
            var bd5 = document.getElementById("threeyr_nav");
            bd5.style.color = "black";

        });


    });


    </script>
</head>
<body>
    <div id="breadcrumb_nav2">
        <nav aria-label="breadcrumb" style="width:250px;height:10px;">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" id="costelement_nav" aria-current="page"><b>Cost Element</b>   </li>
                <li class="breadcrumb-item active" id="category_nav" aria-current="page">  <b>Category</b>  </li>
                <li class="breadcrumb-item active" id="item_nav" aria-current="page"> <b>Item</b> </li>
            </ol>
        </nav>
    </div>


    <div id="costelement_view" style="display:none;">
        <table align="center" style="width: 70%;">

            <tr>
                <td><p id="CostElementDrillDown_Title" style="text-align:center;margin-top:15px;display:none;"></p></td>
            </tr>
            <tr align="center">

                <td style="padding-right: 10px">
                    <div id="tooltipContainer_costelt"></div>
                    <div id="CostElementDrillDown" style="width: 90%;height:400px;display:none;"></div>
                </td>

            </tr>

        </table>
    </div>

    <div id="category_view" style="display:none;">
        <table align="center" style="width: 70%;">

            <tr>
                <td><p id="CategoryDrillDown_Title" style="text-align:center;margin-top:1px;display:none;"></p></td>
            </tr>
            <tr align="center">
                <td style="padding-right: 10px">
                    <div id="tooltipContainer_category"></div>
                    <div id="CategoryDrillDown" style=" width: 90%;display:none;"></div>
                </td>
            </tr>
        </table>
    </div>


    <div id="item_view" style="display:none;">
        <table align="center">
            <tr>
                <td><p id="Itemview_Title" style="text-align:center;margin-top:1px;display:none;"></p></td>
            </tr>

        </table>

        <table align="center" id="RequestTable_Cockpit" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
        </table>
    </div>


</body>
</html>
