@model LC_Reports_V1.Controllers.DeliveryStatus

    @{
        ViewBag.Title = "GetDeliveryStatus";
        Layout = "~/Views/Shared/_Layout_SLCockpit.cshtml";
    }

    <h2>GetDeliveryStatus</h2>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;

           
            localStorage.clear();
            debugger;
            var obj = @Html.Raw(Json.Encode(Model));
            DeliveryStatus_Chart(obj);
            
            function DeliveryStatus_Chart(data) {
                debugger;


                $("#DeliveryStatus_newtab").dxChart({

                    rotated: true,
                    width: 1000,
                    dataSource: data,
                    series: {
                        label: {
                            visible: true,
                            backgroundColor: '#c18e92',
                        },
                        color: '#79cac4',
                        type: 'bar',
                        argumentField: 'Description',
                        valueField: 'Value',
                    },
                    title: 'Actual delivery Vs Requested',
                    argumentAxis: {
                        label: {
                            //customizeText() {
                            //    return `Day ${this.valueText}`;
                            //},
                            visible: true,
                        },
                    },
                    valueAxis: {
                        //tick: {
                        //    visible: false,
                        //},
                        label: {
                            visible: false,
                        },
                    },
                    //export: {
                    //    enabled: true,
                    //},
                    legend: {
                        visible: false,
                    },
                });
            }


        });


    </script>
    <html>
    <body>
        <div id="DeliveryStatus_newtab" style="width: 60%;height:500px; align-items: center; margin: auto;display:none;"></div>

    </body>
</html>
