@model LC_Reports_V1.Controllers.Del_list


@{
    ViewBag.Title = "GetPurchaseStatus";
    Layout = "~/Views/Shared/_Layout_SLCockpit.cshtml";
    // var delData = (IEnumerable<LC_Reports_V1.Controllers.DeliveryStatus>)TempData["DeliveryStatus"];
}

@*<h2>GetDeliveryStatus</h2>*@
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GKX0NP1SYR');
</script>
<script type="text/javascript">
    $(document).ready(function () {

        var obj = @Html.Raw(Json.Encode(Model));
        //var employeeData = (IEnumerable<DeliveryStatus>)TempData["DeliveryStatus"];
        //var delData =

        DeliveryStatus_Chart(obj.po_status);
        debugger;
        function DeliveryStatus_Chart(data) {
            debugger;


            $("#DeliveryStatus").dxChart({

                rotated: true,
                width: 1000,
                dataSource: data,
                series: {
                    label: {
                        visible: true,
                        backgroundColor: '#c18e92',
                    },
                    color: '#79cac4',
                    type: 'bar',
                    argumentField: 'Description',
                    valueField: 'Value',
                },
                title: 'Actual delivery Vs Requested',
                argumentAxis: {
                    label: {
                        //customizeText() {
                        //    return `Day ${this.valueText}`;
                        //},
                        visible: true,
                    },
                },
                valueAxis: {
                    //tick: {
                    //    visible: false,
                    //},
                    label: {
                        visible: false,
                    },
                    title: "Number of Requests Delivered"

                },
                //export: {
                //    enabled: true,
                //},
                legend: {
                    visible: false,
                },
            });
        }


    });


</script>
<html>
<body>
    <div id="DeliveryStatus" style="width: 60%;height:500px; align-items: center; margin: auto;"></div>

</body>
</html>