
@{
    ViewBag.Title = "Master List";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
</head>
<body>
    <div class="jumbotron" style="padding:2.5vh;">
        <table align="center">
            <tr align="center">
                @*<td>
                    <img style="height:100px;width:90px;" src="~/Content/images/diag.png" />
                </td>*@
                <td>
                    <div id="main" style="text-align:center;"><h1><b>Master List</b></h1>  </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-deck text-center">

        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; background-image: linear-gradient(to right, #50237f,#005691);display:block;">
            <img class="card-img mx-auto d-block" src="~/Content/images/learn.png" style="width:50px;height:55px; " alt="VKM SPOC Reviews">
            @*<div class="card-body">*@
            <h3 id="VKMCardName" class="card-title" align="center" style="color: white;">Requestors Master List</h3>
            <p id="VKMCardDesc" class="card-text" align="center" style="color: white;">Authorize Users</p>
            @*</div>*@
            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="vkmadminbtn">Launch</button></div>
        </div>

        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; background-image: linear-gradient(to right, #50237f,#005691);display:block;">
            <img class="card-img mx-auto d-block" src="~/Content/images/inlist.png" style="width:50px;height:55px; " alt="Items Master List">
            @*<div class="card-body">*@
            <h3 class="card-title" align="center" style="color: white;">Items Master List</h3>
            <p class="card-text" align="center" style="color: white;">Manage Items for VKM Planning </p>
            @*</div>*@
            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button type="button" style="cursor:pointer" class="btn btn-outline-info" id="inventorybtn">Launch</button></div>
        </div>
    </div>
    <br />


</body>

<script>

 document.querySelector('#vkmadminbtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingLabAdmin",null, null)';
                     window.location.href=url;
 }, false);

document.querySelector('#inventorybtn').addEventListener('click', function () {

                     var url='@Url.Action("Index", "BudgetingInventory", null, null)';
                     window.location.href=url;
        }, false);

</script>