
@{
    ViewBag.Title = "EM/SupportPerson";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VKM HeadCount Planning</title>
    <style>

        .columnHeaderCSS {
            /*font-weight: bold;*/
            color: #000000;
            background-color: antiquewhite !important;
        }

        .dx-datagrid-headers.dx-state-disabled:after { /* on edit disable column filterings*/
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .dx-editor-cell .dx-texteditor .dx-texteditor-input {
            /*background-color: lightgray;*/
        }

        .dx-datagrid-content /*.dx-datagrid-table .dx-row .dx-editor-cell*/ .dx-texteditor /*.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container*/ {
            background-color: antiquewhite;
        }

        .dx-datagrid-filter-row,
        .dx-datagrid-filter-row .dx-editor-cell .dx-texteditor-input {
            background-color: antiquewhite;
        }

        /*.columnHeaderCSS {*/
        /*font-weight: bold;*/
        /*color: #000000;
            background-color: #f2f2f2 !important;
        }*/
    </style>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/export/exceljs.min.js"></script>
    <script src="~/Scripts/export/FileSaver.min.js"></script>

    <script src="~/Scripts/Budgeting/Load_GRMEMDatagrid.js"></script>

    <script>


    </script>

    @section Scripts{

        <script type="text/javascript">

            $(document).ready(function () {

                debugger;


                IsVKMSpoc();

                var ddlYears = document.getElementById("ddlYears");
                //Determine the Current Year.
                var currentYear = (new Date()).getFullYear();

                //Loop and add the Year values to DropDownList.
                for (var i = currentYear + 1; i >= 2021; i--) {
                    var option = document.createElement("OPTION");
                    option.innerHTML = i;
                    option.value = i;
                    ddlYears.appendChild(option);

                    if (option.value == (currentYear + 1)) {
                        //if (option.value == (currentYear - 2)) {
                        option.defaultSelected = true;
                        //option.defaultSelected = true;
                    }
                    filtered_yr = $("#ddlYears").val();
                    filtered_yr = parseInt(filtered_yr);
                    filtered_yr = filtered_yr.toString();
                    //debugger;
                }



                GRMEM_lookup();


            });

            function fnYearChange(yearselect) {

                filtered_yr = parseInt(yearselect.value);
                debugger;
                filtered_yr = filtered_yr.toString();
                GRMEM_lookup();
            }

            function GRMEM_lookup() {
                debugger;
                $.ajax({

                    type: "Get",
                    async: false,
                    url: "/GRMEMSupport/Lookup_GRMEM",
                    success: onsuccess_lookupdata,
                    error: onerror_lookupdata
                })


                function onsuccess_lookupdata(data) {
                    debugger;
                    var product_area_list = JSON.parse(data.data_bu.Data.Content);
                    var section_list = JSON.parse(data.data_section.Data.Content);
                    var department_list = JSON.parse(data.data_dept.Data.Content);
                    var group_list = JSON.parse(data.data_grp.Data.Content);
                    var sap_role_list = JSON.parse(data.data_saprole.Data.Content);
                    var vkm_role_list1 = JSON.parse(data.data_vkmrole.Data.Content);
                    var spoton_emp_list = JSON.parse(data.data_spemp.Data.Content);

                    var yr_list = [];
                    var currentYear = (new Date()).getFullYear();
                    for (var i = currentYear + 1; i >= 2021; i--) {
                        yr_list.push({ "Year": i });

                    }
                    debugger;
                    GenerateGRMEM(product_area_list, section_list, department_list, group_list, sap_role_list, vkm_role_list1, yr_list, spoton_emp_list);
                }

                function onerror_lookupdata(response) {
                    alert("Error lookup");

                }


            }

        </script>




    }
</head>
<body>

    <div>
        <h5 style="text-align: center;"><b>VKM HeadCount Planning</b></h5>
        @*<table align="center" width="50%" style="padding-top:30%;padding-bottom:30%;display:none;">
            <tr style="margin:auto;width:100px;">
                <td>
                    <div id="Sum"></div>
                </td>
                <td>
                    <div id="1"></div>
                </td>
                <td>
                    <div id="2"></div>
                </td>
                <td>
                    <div id="3"></div>
                </td>
                <td>
                    <div id="4"></div>
                </td>
                <td>
                    <div id="5"></div>
                </td>
                <td>
                    <div id="6"></div>
                </td>
                <td>
                    <div id="7"></div>
                </td>
                <td>
                    <div id="8"></div>
                </td>
                <td>
                    <div id="9"></div>
                </td>
                <td>
                    <div id="10"></div>
                </td>
                <td>
                    <div id="11"></div>
                </td>
                <td>
                    <div id="12"></div>
                </td>
                <td>
                    <div id="PYO"></div>
                </td>
            </tr>

        </table>*@

        <label style="text-align:left;  padding-right: 10px;margin-top:5px;padding-left:15px;" class="" for="Year"><b> Choose VKM Year:</b></label>
        <select id="ddlYears" class="selectpicker show-tick" onchange="fnYearChange(this)"
                data-live-search="true"
                data-actions-box="true"
                data-width="100px"
                style="cursor:pointer;margin-top:5px;"></select>

        <table width="100%" align="center">
            <tr>
                <td>
                    <div id="grmem_dataGrid" style="height: 75.5vh;margin:0 auto;"></div>
                </td>

            </tr>

        </table>

    </div>

</body>
</html>




