

@{
    ViewBag.Title = "BudgetingLabAdmin";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <title>VKM Planning & Ordering Requestors</title>
    <style>
        section {
            padding: 25px;
        }

        .dx-datagrid-headers.dx-state-disabled:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
            font-size: 17px;
            font-weight: bold;
        }

        .dx-datagrid-headers .dx-header-row {
            background-color: antiquewhite;
        }

        .dx-header-row {
            color: black;
        }
    </style>





    @section scripts{
        @*JS Library specific for Bootstrap-Select Dropdown*@
        <script src="~/Scripts/bootstrap-select.js"></script>

        @*CSS Library*@
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        @*External stylesheet to exhibit Budgeting Order view functionality*@
        <script src="~/Scripts/BudgetingLabAdmin.js"></script>

        <style>
            .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
                font-size: 17px;
                font-weight: bold;
            }

            .dx-datagrid-headers .dx-header-row {
                background-color: antiquewhite;
            }

            .dx-header-row {
                color: black;
            }
        </style>

    }
</head>
<body>
    <header>
        
        <div>
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/requ.png" style="width:50px;height:55px;" alt="VKM Order" />
                    </td>
                    <td><h2 style="text-align:center;margin-top:10px;"><b> VKM Planning Requestors and Reviewers List </b></h2></td>
                </tr>
            </table>
        </div>

    </header>



    <section>



        <div id="VKMPlanningImport">

            @using (Ajax.BeginForm("Index", "BudgetingLabAdmin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "VKMPlanningImport", OnSuccess = "mySuccessFuntion(returnedData)", OnFailure = "myFailureFuntion(returnedData)" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
            {
                <div style="width:80%">
                    <b>Import Details to EM List : </b>
                    <div class="custom-file" style="width:30%">
                        <input type="file" class="custom-file-input" id="postedFile" name="postedFile" accept=".xlsx">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnable()" />
                    <i id="UploadSpinner"></i>
                </div>
                @Html.ActionLink("Click here to download template", "DownloadTemplate", new { })
            }
        </div>


        <a id="buttonClearFilters" class="btn btn-outline-secondary btn-sm" style="margin:5px; "><i class="fa fa-check"></i> Clear Filters</a>
        @*@using (Html.BeginForm("ExportDataToExcel", "BudgetingInventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="float:right;height:50px">
                <input type="submit" title="Export" value="Export" class="btn btn-outline-secondary btn-sm" style="margin:5px;float:right" />
            </div>
        }*@
        <div align="center" style="font-size: 30px;">
            <i id="load"></i>
            <span class="spinner-text" id="loadpanel" style="font-size:20px;">Please, wait...Fetching VKM Planning Requestor Details</span>

        </div>

        <div>
            <table id="RequestTable_VKMPlanning" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
            </table>

        </div>

        @* HOE Details *@

        <div id="VKMHOEImport">

            @using (Ajax.BeginForm("Index_Planning_HOE", "BudgetingLabAdmin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "VKMHOEImport", OnSuccess = "mySuccessFuntion1(returnedData1)", OnFailure = "myFailureFuntion1(returnedData1)" }, new { enctype = "multipart/form-data", id = "frmUploader1" }))
            {
                <div style="width:80%">
                    <b>Import Details to HOE List : </b>
                    <div class="custom-file" style="width:30%">
                        <input type="file" class="custom-file-input" id="postedFile1" name="postedFile1" accept=".xlsx">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnable1()" />
                    <i id="UploadSpinner1"></i>
                </div>
                @Html.ActionLink("Click here to download template", "DownloadTemplate_HOE", new { })
            }
        </div>


        <a id="buttonClearFilters1" class="btn btn-outline-secondary btn-sm" style="margin:5px; "><i class="fa fa-check"></i> Clear Filters</a>

        <div>
            <table id="RequestTable_HOE" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
            </table>

        </div>

        @* Ordering Stage Req *@

        <div id="VKMOrderingImportRFO">

            @using (Ajax.BeginForm("Index_OrderingStage", "BudgetingLabAdmin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "VKMOrderingImportRFO", OnSuccess = "mySuccessFuntionRFO(returnedDataRFO)", OnFailure = "myFailureFuntionRFO(returnedDataRFO)" }, new { enctype = "multipart/form-data", id = "frmUploaderRFO" }))
            {
                <div style="width:80%">
                    <b>Import Details to Ordering stage Requestor List : </b>
                    <div class="custom-file" style="width:30%">
                        <input type="file" class="custom-file-input" id="postedFileRFO" name="postedFileRFO" accept=".xlsx">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnableRFO()" />
                    <i id="UploadSpinnerRFO"></i>
                </div>
                @Html.ActionLink("Click here to download template", "DownloadTemplate_Ordering", new { })
            }
        </div>


        <a id="buttonClearFiltersRFO" class="btn btn-outline-secondary btn-sm" style="margin:5px; "><i class="fa fa-check"></i> Clear Filters</a>

        <div>
            <table id="RequestTable_VKMRFO" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
            </table>

        </div>



        @* VKM Role Details *@

        <div id="VKMRoleImport">

            @using (Ajax.BeginForm("Index_VKMRole", "BudgetingLabAdmin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "VKMRoleImport", OnSuccess = "mySuccessFuntion1(returnedVKMData1)", OnFailure = "myFailureFuntion1(returnedVKMData1)" }, new { enctype = "multipart/form-data", id = "frmUploaderVKMRole" }))
            {
                <div style="width:80%">
                    <b>Import VKM Role Details : </b>
                    <div class="custom-file" style="width:30%">
                        <input type="file" class="custom-file-input" id="postedFileVKMRole" name="postedFileVKMRole" accept=".xlsx">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnableVKMRole()" />
                    <i id="UploadSpinnerVKMRole"></i>
                </div>
                @Html.ActionLink("Click here to download template", "DownloadTemplate_VKMRole", new { })
            }
        </div>


        <a id="buttonClearFiltersVKMRole" class="btn btn-outline-secondary btn-sm" style="margin:5px; "><i class="fa fa-check"></i> Clear Filters</a>

        <div>
            <table id="RequestTable_VKMRole" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
            </table>

        </div>


    </section>

</body>

</html>

