
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 14px;
            color: #FFF;
            border: 1px solid #FFF;
            text-decoration: none;
            font-size: 14px;
            line-height: 120%;
            background-color: rgba(255,255,255, 0);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: background-color 300ms ease;
            -moz-transition: background-color 300ms ease;
            transition: background-color 300ms ease;
            cursor: pointer;
        }
    </style>
</head>

<body onload="checkFileAPI()">

    <table align="center">
        <tr>
            <td> <img class="card-img mx-auto d-block" src="~/Content/images/cchart.png" style="width:50px;height:55px;margin-top:40px;" alt="Reporting Tool" /></td>
            <td><h2 style="text-align:center;margin-top:50px;"><b> DashBoard Options </b></h2></td>
        </tr>
    </table>





    <div class="card-deck text-center" style="padding-top:100px;padding-bottom:250px;">



        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; resize: both; background-image: linear-gradient(to right, #50237f,#005691);display:block">
            <img class="card-img mx-auto d-block" src="~/Content/images/chart-line.png" style="width:50px;height:55px; margin-top:5px" alt="Requests" />
         
                <h3 class="card-title" align="center" style="color: white;">Test Infra Utilization</h3>
                <p class="card-text" align="center" style="color: white;">Interface that generates Lab Utilization Information</p>
                     

            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="infrabtn" type="button" style="cursor:pointer;" class="btn">Launch</button></div>
        </div>
        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; resize: both; background-image: linear-gradient(to right, #50237f,#005691);display:block">
            <img class="card-img mx-auto d-block" src="~/Content/images/req.png" style="width:50px;height:55px; margin-top:5px" alt="DH Reviews" />
          
                <h3 class="card-title" align="center" style="color: white;">Plan Order Summary</h3>
                <p class="card-text" align="center" style="color: white;">Interface to view Planned Order Requests and Status</p>
            
            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="vkmbtn" type="button" style="cursor:pointer;" class="btn">Launch</button></div>
        </div>

        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; resize: both; background-image: linear-gradient(to right, #50237f,#005691);display:block">
            <img class="card-img mx-auto d-block" src="~/Content/images/wrench.png" style="width:50px;height:50px; margin-top:5px" alt="VKM SPOC Reviews" />
            <h3 id="VKMCardName" class="card-title" align="center" style="color: white;">Hardware Damage Report</h3>
            <p id="VKMCardDesc" class="card-text" align="center" style="color: white;">Interface that provides HW Damage Details</p>            
            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="hwbtn" type="button" style="cursor:pointer;" class="btn">Launch</button></div>
        </div>



        <div class="card border-dark" style="width:200px;height:28.5vh; min-height:205px;max-height:240px; resize: both; background-image: linear-gradient(to right, #50237f,#005691);display:block">
            @*<img class="card-img mx-auto d-block" src="~/Content/images/diag.png" style="width:50px;height:55px;" alt="TSUA" />*@
            @*<div class="card-body" style="resize: both;">*@
            <img class="card-img mx-auto d-block" src="~/Content/images/keys-user-access.png" style="width:50px;height:55px;" alt="TSUA" />
            <h3 class="card-title" style="color: white;">TSUA OEM Admin</h3>
            <p class="card-text" style="color: white;">Interface to add Lab Users based on OEM</p>
            @*</div>*@
            <div class="card-footer bg-transparent" style="margin-top:4vh;"><button id="tsuabtn" type="button" style="cursor:pointer;" class="btn">Launch</button></div>
        </div>

    </div>
    <br />


</body>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLab - DashBoard Options</title>
    <meta charset="UTF-8" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/LabReportPage.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js"></script>
    <link href="~/Content/Charts.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.2.3/css/dx.light.css" />
    @*<script src="https://cdn3.devexpress.com/jslib/22.2.3/js/dx.all.js"></script>*@
    <script src="data.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="index.js"></script>
    @section Scripts{
        <script type="text/javascript">



              document.querySelector('#infrabtn').addEventListener('click', function () {

                     var url='@Url.Action("Dashboard_Options", "Dashboard", null, null)';
                     window.open(url, '_blank');
        }, false);
        document.querySelector('#vkmbtn').addEventListener('click', function () {

            var url = '@Url.Action("Index", "BudgetingOrder", new { isDashboard = "Plan Order Summary" }, null)';
            window.open(url, '_blank');
        }, false);

            document.querySelector('#hwbtn').addEventListener('click', function () {
                debugger;
                     var url='@Url.Action("Index", "HWDamage",null, null)';
                window.open(url,'_blank');
            }, false);

            document.querySelector('#tsuabtn').addEventListener('click', function () {
                debugger;
                     var url='@Url.Action("Index", "TSUA",null, null)';
                window.open(url,'_blank');
                }, false);

        </script>
        <script src="~/Scripts/Chart_UI.js"></script>
        <script src="../../Scripts/core.js" type="text/javascript"></script>
        <script src="../../Scripts/charts.js" type="text/javascript"></script>
        <script src="../../Scripts/animated.js" type="text/javascript"></script>
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="~/Scripts/Tsou_Chart.js"></script>
        <script src="../../Scripts/core.js" type="text/javascript"></script>
        <script src="../../Scripts/charts.js" type="text/javascript"></script>
        <script src="../../Scripts/animated.js" type="text/javascript"></script>
        <script src="~/Scripts/Tsiu_Chart.js"></script>
    }
</head>
</html>
