@model LC_Reports_V1.Controllers.Del_list
@{
    ViewBag.Title = "GenerateHwDamage_chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GKX0NP1SYR');
</script>
<script type="text/javascript">
    $(document).ready(function () {

        var obj = @Html.Raw(Json.Encode(Model));
        //var employeeData = (IEnumerable<DeliveryStatus>)TempData["DeliveryStatus"];
        //var delData =

        HWDamageOEM_Chart(obj.hwoem);
        debugger;
        function HWDamageOEM_Chart(data) {
            debugger;

            $("#hwDamage_oemchart").dxChart({

                dataSource: res1,
                resolveLabelOverlapping: 'stack',
                color: '#57b8bc',
                //scrollBar: {
                //    visible: true
                //},
                //customizePoint() {
                //    debugger;
                //    if (this.seriesName == EndMonth)
                //        return { color: '#db9a9a', hoverStyle: { color: '#f5a2a2' } };
                //    //if (this.value > 1000) {
                //    //    return { color: '#ff7c7c', hoverStyle: { color: '#ff7c7c' } };
                //    //}
                //    //if (this.value < 500) {
                //    //    return { color: '#8c8cff', hoverStyle: { color: '#8c8cff' } };
                //    //}
                //    return null;
                //},
                argumentAxis: {
                    label: {
                        wordWrap: 'none',
                        overlappingBehavior: 'rotate',
                    },
                },

                //zoomAndPan: {
                //    argumentAxis: "both",

                //},
                ////height: 50,
                size: {
                    height: 400//200,
                    // width: 1500,
                },
                title: 'Hardware Damage Cost per OEM',
                commonSeriesSettings: {
                    argumentField: 'OEM',
                    valueField: 'Damage_Cost',
                    //color: '#57b8bc',
                    label: {
                        visible: true,
                        customizeText: function () {
                            return "€" + this.value.toFixed(0);
                        },
                        //backgroundColor:'violet'




                    },
                    type: 'bar',
                    barWidth: 50,

                },
                seriesTemplate: {
                    nameField: 'Month',
                    //color: '#57b8bc'

                },
                //color: '#57b8bc',
                palette: 'Violet',
                    //'Dark Moon',
                    //'Dark Violet',
                    //'Soft Blue',
                    //'Ocean',
                //onLegendClick: function (e) {
                //    debugger;
                //    var hiddenPoints, shownPoints;

                //        hiddenPoints = e.component.getSeriesByName("Jan").getAllPoints();
                //    shownPoints = e.target.getAllPoints();
                //    //lastClickedSeriesName = e.target.name;


                //    $.each(shownPoints, function (index, point) {

                //        point.showTooltip();//getLabel().show();
                //    });
                //}  ,
                onLegendClick: function (e) {
                    debugger;
                    var series_curr = e.target;

                    //if (series.isVisible()) {
                    //    series.hide();
                    //} else {
                    //    series.show();
                    //}
                   // series.opacity = 1;
                    for (i = 0; i < 12; i++) {
                        if (e.component.series[i].name != series_curr.name) {
                            e.component.series[i].hide();
                        }
                        else {
                            shownPoints = e.target.getAllPoints();
                            e.component.series[i].show();
                            $.each(shownPoints, function (index, point) {
                                debugger;
                                point.showTooltip();//getLabel().show();
                            });

                        }


                    }

                },
                //legend: {
                //    customizeHint: function (e) {
                //        debugger;
                //        e.seriesColor = '#ff7c7c';
                //    }

                //},
                //seriesHoverChanged: function (arg) {
                //    debugger;
                //    return {
                //    text: "Project Team: " + arg.argument + ", Month: " + arg.seriesName + " - " + "€*******" + arg.value.toFixed(0)
                //}
                //},
                //return {
                //    text: "Project Team: " + arg.argument + ", Month: " + arg.seriesName + " - " + "€" + arg.value.toFixed(0)
                //}




                    //'Harmony Light',
                    //'Soft Blue',
                    //'Ocean',
                //commonSeriesSettings: {
                //    argumentField: "OEM",
                //    type: "bar",
                //    hoverMode: "allArgumentPoints",
                //    selectionMode: "allArgumentPoints",
                //    //barPadding: 5,
                //    barWidth: 50,
                //    valueField: "Damage_Cost", //name: "Damage_Cost",
                //    label: {

                //        visible: true,



                //    }


                //},


                //seriesTemplate: {
                //    nameField: 'Month',

                //},

                //series: [

                //    {
                //        valueField: "Damage_Cost", name: "Damage_Cost",
                //        label: {

                //            visible: true,



                //        }
                //    },


                //],





                valueAxis: [


                    {

                        position: 'left',
                        label: {
                            font: {
                                color: "black",
                                family: "Arial",
                                size: 13

                            },
                        },
                        valueMarginsEnabled: false,
                        title: {
                            text: "Cost (in €)",

                            font: {
                                color: "black",
                                family: "Arial",
                                size: 13

                            },
                        },

                        //constantLines: [{
                        //    value: AverageVN_data,
                        //    color: '#1b4f72',
                        //    dashStyle: 'dash',
                        //    width: 2,
                        //    label: { visible: false },
                        //    label: {
                        //        text: 'VN Avg'
                        //    },
                        //}],
                    },


                ],

                //title: 'Hardware Damage per Project Team',

                //export: {
                //    enabled: true,
                //    fileName: "Hardware Damage (Project Teamwise)"
                //},
                //tooltip: {
                //    enabled: true
                //}
                tooltip: {
                    enabled: true,

                    location: "edge",
                    customizeTooltip: function (arg) {
                        debugger;
                        //if (arg.percentText != null)
                        //    return { text: arg.point.data.Location + ":" + arg.valueText + "\n" + arg.point.series.name + ":" + arg.percentText }
                        //else
                        //    return { text: arg.point.data.Location + ":" + arg.valueText }
                        return {
                            text: "Project Team: " + arg.argument + ", Month: " + arg.seriesName + " - " + "€" + arg.value.toFixed(0)
                        }

                    }
                },
            });

</script>
<html>
<body>
    <div id="hwDamage_oemchart" style="width:1400px;height:1400px; margin:0 auto;"></div>

</body>
</html>