@*@model LC_Reports_V1.Controllers.OEMList*@
@{
    ViewBag.Title = "Hw Damage Cost";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hw Damage Cost Report</title>
    <style>
        .columnHeaderCSS {
            /*font-weight: bold;*/
            color: #000000;
            background-color: #f2f2f2 !important;
        }
    </style>



    @section Scripts{
        @*JS Library specific for Bootstrap-Select Dropdown*@
        <script src="~/Scripts/bootstrap-select.js"></script>

        @*CSS Library*@
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="~/Scripts/export/exceljs.min.js"></script>
        <script src="~/Scripts/export/FileSaver.min.js"></script>
        <script src="~/Scripts/Budgeting/HwDamage_Datagrid.js"></script>

        <script type="text/javascript">

            var oems_chosen = [];
            var month_list;
            var loc_list;
            var item_list;
            var project_list;
            var bu_list;
            var hwstatus_list;
            var UserAuthorizeToEdit;
            if('@TempData["UserAuthorizeToEdit"]' == 'False')
                UserAuthorizeToEdit = false;
            else
                UserAuthorizeToEdit = true;

            var yr_list;
            var currentYear;
                debugger;
                $(document).ready(function () {
                    debugger;
                     //$(".selectpicker").selectpicker('refresh');
                    $('#repairBtn').prop('hidden', !UserAuthorizeToEdit);

                    //Reference the DropDownList for Year to be selected by Requestor
                    var ddlYears = document.getElementById("ddlYears");
                    //Determine the Current Year.
                    var currentYear = (new Date()).getFullYear();
                    ////Loop and add the Year values to DropDownList.
                    for (var i = currentYear; i >= 2019; i--) {
                        var option = document.createElement("OPTION");
                        option.innerHTML = i;
                        option.value = i;
                        ddlYears.appendChild(option);

                        if (option.value == (currentYear)) {
                            //if (option.value == (currentYear - 2)) {
                            option.defaultSelected = true;
                            //option.defaultSelected = true;
                        }
                        debugger;
                        filtered_yr = $("#ddlYears").val();
                         $(".selectpicker").selectpicker('refresh');
                        debugger;
                    }




                    //At load, Display the data for Current year
                    if (filtered_yr == null) {
                        filtered_yr = new Date().getFullYear();
                    }



                    $.ajax({

                        type: "Get",
                        async: false,
                        url: "/HwDamage/Lookup_HwDamage",
                        success: onsuccess_lookupdata,
                        error: onerror_lookupdata
                    })


                    function onsuccess_lookupdata(data) {
                        debugger;
                         month_list = JSON.parse(data.data_Mon.Data.Content);
                         loc_list = JSON.parse(data.data_Loc.Data.Content);
                         item_list = JSON.parse(data.data_Item.Data.Content);
                         project_list = JSON.parse(data.data_Project.Data.Content);
                         bu_list = JSON.parse(data.data_BU.Data.Content);
                         hwstatus_list = [];
                        hwstatus_list.push({ Status: "Repairable" });
                        hwstatus_list.push({ Status: "Non-Repairable" });

                        yr_list = [];
                        currentYear = (new Date()).getFullYear();
                        for (var i = 2019; i <= currentYear + 1; i++) {
                            yr_list.push({ "Year": i });

                        }

                        debugger;
                        //$('.selectpicker').selectpicker('selectAll'); //it wil hit fnoemchange to select all & then execute generate hwdamage
                        GenerateHwDamage(month_list, loc_list, item_list, project_list, hwstatus_list, yr_list, bu_list, oems_chosen, UserAuthorizeToEdit, filtered_yr);
                    }

                    function onerror_lookupdata(response) {
                        alert("Error lookup");

                    }

                });
            //function fnOEMChange(oem) {
            //    debugger;
            //    oems_chosen = [];
            //    //oems_chosen = new Array();
            //    for (var i = 0, len = oem.options.length; i < len; i++) {
            //        if (document.getElementById('selectOEM').selectedIndex != -1) {
            //            options = oem.options;
            //            opt = options[i];
            //            if (opt.selected) {
            //                var o = opt.value;
            //                //store the labids chosen by user from dropdown to process the relevant chart data
            //                oems_chosen.push( o );
            //            }
            //        }
            //    }
            //    debugger;
            //    GenerateHwDamage(month_list, loc_list, item_list, project_list, hwstatus_list, yr_list, bu_list, oems_chosen, UserAuthorizeToEdit);
            //}

            //Function to change year from dropdown
            function fnYearChange(yearselect) {
                debugger;
                //$("#RequestTable_RFO").prop('hidden', true);
                //document.getElementById("loadpanel").style.display = "block";

                //genSpinner_load = document.querySelector("#load");
                //genSpinner_load.classList.add('fa');
                //genSpinner_load.classList.add('fa-spinner');
                //genSpinner_load.classList.add('fa-pulse');
                filtered_yr = yearselect.value;
                GenerateHwDamage(month_list, loc_list, item_list, project_list, hwstatus_list, yr_list, bu_list, oems_chosen, UserAuthorizeToEdit, filtered_yr);

                debugger;

            }

            document.querySelector('#repairBtn').addEventListener('click', function () {


                var url = '@Url.Action("IndexHwDamageMasterlist", "HWDamage")';
                window.open(url, '_blank');

            }, false)
        </script>

    }
</head>
<body>

    <div>

        @*<table width="50%" align="center">*@
        <!--<tr class="beforeadd">
        <td align="right">
            <button id="myBtn" type="button" onclick="onAdd()" title="Click here to Add/Update Roles/Skillsets" class="btn btn-outline-secondary">
                Configure-->
        @*<img style=" height:40px; width:80px;right:0" src="~/Content/images/Edit.png" />*@
        <!--</button>
            </td>
        </tr>-->
        @*<tr class="beforeadd">*@
        @*<td>*@

        <div>
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/wrenchblue.png" style="width:50px;height:50px;" alt="HW Damage" />
                    </td>
                    <td><h2 style="text-align:center;margin-top:10px;"><b> HW Damage Report </b></h2></td>
                </tr>
            </table>
        </div>

        <table>
            <tr>
            </tr>

            <tr>
                <td>
                    <label style="text-align:left;  padding-right: 10px;" class="" for="Year"><b>Choose the Year:</b> </label>

                    <select id="ddlYears" class="selectpicker show-tick" onchange="fnYearChange(this)"
                            data-live-search="true"
                            data-actions-box="true"
                            data-width="130px"
                            style="cursor:pointer;"></select>

                </td>
                @*<td style="width:9.5vw">

                    <label style="text-align:left;  padding-right: 10px;" class="" for="oem"><b>Choose the OEM:</b> </label>
                </td>
                <td style="width:76.2vw;position:relative;left:-8px;">

                    @Html.DropDownList("OEM", Model.OEMSelectList as List<SelectListItem>, new
               {
                   @class = "selectpicker",
                   @title = "Select OEM",
                   @id = "selectOEM",
                   @style = "cursor:pointer; overflow:visible;",
                   multiple = "multiple",
                   @onchange = "fnOEMChange(this)",
                   //data_style = "btn-success",
                   data_live_search = "true",
                   autocomplete = "off",
                   data_actions_box = "true",
                   data_width = "150px",
                   data_display = "static",
                   data_dropup_auto = "false"
               })



                </td>*@


                <td align="right">
                    <button id="repairBtn" type="button" onclick="onAdd()" title="Click here to Add Item Repairable Cost" class="btn btn-outline-secondary">
                        Configure Repairable Cost
                    </button>

                </td>
            </tr>
            </table>
        <table>
            <tr>
                <td>
                    <div id="hwDamage_dataGrid" style="width:97vw;margin:0 auto;height: 70.2vh;"></div>

                </td>
               
            </tr>
        </table>

        @* margin:0 auto; - div align center *@
    </div>

</body>
</html>