@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.3/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.3/css/dx.light.css" />*@

    <script src="~/Scripts/vectormap-utils/dx.vectormaputils.js"></script>
    <script src="~/Scripts/vectormap-utils/dx.vectormaputils.debug.js"></script>
    <script src="~/Scripts/globalize.js"></script>
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>*@

    @*<script src="~/Scripts/vectormap-data/africa.js"></script>
        <script src="~/Scripts/vectormap-data/canada.js"></script>
        <script src="~/Scripts/vectormap-data/eurasia.js"></script>
        <script src="~/Scripts/vectormap-data/europe.js"></script>
        <script src="~/Scripts/vectormap-data/usa.js"></script>
        <script src="~/Scripts/vectormap-data/world.js"></script>*@


    @*<script src="https://cdn3.devexpress.com/jslib/22.1.3/js/dx.all.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/world.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/africa.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/canada.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/eurasia.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/europe.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/usa.js"></script>
        <script src="data.js"></script>*@
    @*<link rel="stylesheet" type="text/css" href="styles.css" />*@
    @*<script src="index.js"></script>*@


    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/dx.all.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/world.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/africa.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/canada.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/eurasia.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/europe.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/vectormap-data/usa.js"></script>






    <script src="~/Scripts/data.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            debugger;

            LoadMap();









            var test = document.getElementById('test');
            /*test.onclick = function show(labcardscbe) {*/
            function show() {


                window.location.href = "RemoteControl/LabCarView";
                //const main = document.getElementById('main');
                //const div = document.getElementById('labcardshttp://localhost:2569/RemoteControl/LabCarView
                //div.style.display = 'block';
                //main.style.display = 'none';
                //const clone = div.cloneNode(true);

                //while (main.firstChild) main.firstChild.remove();

                //main.appendChild(clone);
            }
        });

        function LoadMap() {
            debugger;
            var locations = $('#vector-map').dxVectorMap({
                tooltip: {
                    enabled: true,
                    customizeTooltip(arg) {
                        if (arg.layer.type === 'marker') {
                            return { text: arg.attribute('name') };
                        }
                        return null;
                    },
                },
                onClick(e) {
                    if (e.target && e.target.layer.type === 'marker') {
                        debugger;
                        if (e.component._tooltip._text.element.innerHTML === "Coimbatore") {
                            //e.component.center(e.target.coordinates()).zoomFactor(10);
                            window.location.href = "RemoteControl/LabCarView";
                        }
                        else if (e.component._tooltip._text.element.innerHTML === "Bangalore") {
                            //e.component.center(e.target.coordinates()).zoomFactor(10);
                            window.location.href = "RemoteControl/LabCarViewBan";
                        }
                    }
                },
                bounds: [-180, 85, 180, -60],
                layers: [{
                    dataSource: DevExpress.viz.map.sources.world,
                    hoverEnabled: false,
                }, {
                    dataSource: markers,
                }],
            }).dxVectorMap('instance');
        }


    </script>


</head>

<body>



    <div id="main">



        <div id="labview">

            <div style="padding-left:500px;">
                <section class="article-wrapper">
                    <div class="article-container">
                        <div class="article-block">
                            <div class="entry-content">
                                <h1 style=" padding-left:100px">Lab Control Panel</h1>

                            </div>
                        </div>
                    </div>
                </section>
            </div>


            @*<div style="padding-left:250px;">
                    <table class="row" width="100%">

                        <tr>
                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <a href="#" onclick="return show();">
                                            <img src="~/Content/T_RBEI_COB_SEZ_Bldg_DrittelSeite.jpg" style="width:200px;height:200px;" />
                                        </a>
                                    </div>

                                    <div class="card-title" style="font-size:1.2rem;"><span>Coimbatore</span></div>

                                </div>


                            </td>
                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/bosch Bangalore.jpg" style="width:200px;height:200px;" />
                                    </div>


                                    <div class="card-title" style="font-size:1.2rem;color:grey;"><span>Bangalore</span></div>


                                </div>


                            </td>

                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/BOSCH_ABSTATT_17631_2_DrittelSeite.jpg" style="width: 200px; height: 200px;" />
                                    </div>


                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Abstatt</span></div>


                                </div>


                            </td>

                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/Bosch-Gudalajara.jpg" style="width: 200px; height: 200px;" />
                                    </div>


                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Guadalajara</span></div>


                                </div>


                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/ho chi min city.jpg" style="width: 200px; height: 200px;" />
                                    </div>

                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Ho Chi Minh City</span></div>

                                </div>


                            </td>
                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/suzhou.jpg" style="width: 200px; height: 200px;" />
                                    </div>


                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Suzhou</span></div>


                                </div>


                            </td>

                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/yokohama.jpg" style="width: 200px; height: 200px;" />
                                    </div>


                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Yokohama</span></div>


                                </div>


                            </td>

                            <td style="padding-left:50px;" ></td>

                            <td>
                                <div class="card-content">
                                    <div class="card-image">
                                        <span class="card-caption"></span>

                                        <img src="~/Content/plymouth.jpg" style="width: 200px; height: 200px;" />
                                    </div>


                                    <div class="card-title" style="font-size: 1.2rem; color: grey;"><span>Plymouth</span></div>


                                </div>


                            </td>

                        </tr>


                    </table>
                </div>*@

            <div class="demo-container">
                <div id="vector-map"></div>
            </div>


        </div>

    </div>
</body>
</html>






