
@{
    ViewBag.Title = "ConfigureRFOMail";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configure RFO Mail</title>
    <style>
        .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
            font-size: 17px;
            font-weight: bold;
        }

        .dx-datagrid-headers .dx-header-row {
            background-color: antiquewhite;
        }

        .dx-header-row {
            color: black;
        }

        .dx-datagrid-headers.dx-state-disabled:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .dx-datagrid-headers {
            white-space: normal;
        }

        .dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row > td > .dx-datagrid-text-content {
            white-space: normal;
        }

        a {
            margin-left: 5px;
        }
    </style>
</head>
<script type="text/javascript">
    var RFOApprover_list;
    var lookup_data;
    var spoton_emp_list;
    var NTID;
    var emp_name;
    var Section_List;
    $(document).ready(function () {
        

        $.ajax({

            type: "GET",
            url: "/BudgetingVKM/RFOApprover",
            async: false,
            //data: { 'year': filtered_yr },
            success: function (data) {
                debugger;
                //lookup_data = data;
                //RFOApprover_list = lookup_data.RFOApprover_List;
                RFOApprover_list = data;
            },
            error: function (jqXHR, exception) {
                debugger;
                $.notify("Error in loading the data! ", {
                    globalPosition: "top center",
                    className: "warn"
                })
            }
        })

        $.ajax({

            type: "GET",
            url: "/BudgetingVKM/SectionList",
            async: false,
            //data: { 'year': filtered_yr },
            success: function (data) {
                debugger;
                //lookup_data = data;
                //RFOApprover_list = lookup_data.RFOApprover_List;
                Section_List = data;
            },
            error: function (jqXHR, exception) {
                debugger;
                $.notify("Error in loading the data! ", {
                    globalPosition: "top center",
                    className: "warn"
                })
            }
        })

        $.ajax({

            type: "Get",
            async: false,
            url: "/BudgetingVKM/Lookup_SpotOnList",
            success: function (data) {
                debugger;
                //lookup_data = data;
                //RFOApprover_list = lookup_data.RFOApprover_List;
                spoton_emp_list = data.EmpDetails;
            },
            error: function (jqXHR, exception) {
                debugger;
                $.notify("Error in loading the data! ", {
                    globalPosition: "top center",
                    className: "warn"
                })
            }
        })


        GetRFOMailDetails();

        GetCTGDetails();
    });
    debugger;

    function GetRFOMailDetails() {
        debugger;

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "../BudgetingVKM/GetRFOMailDetails",
            //data: JSON.stringify({ startdate: sdate, enddate: edate }),
            dataType: 'json',
            //traditional: true,
            success: function (data) {
                debugger;

                if (data.data.length > 0) {

                    debugger;

                    LoadDatagrid(data.data);
                    //$.notify('Data Loaded Successfully', {
                    //    globalPosition: "top center",
                    //    className: "success"
                    //});
                }

                else {
                    LoadDatagrid(data.data);
                    $.notify('No Data', {
                        globalPosition: "top center",
                        className: "warn"
                    });
                }


            },
            error: function (jqXHR, exception) {
                debugger;
                $.notify("Error in loading the data! ", {
                    globalPosition: "top center",
                    className: "warn"
                })
            }
        });
    }

    function GetCTGDetails() {
        debugger;

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "../BudgetingVKM/GetCTGDetails",
            //data: JSON.stringify({ startdate: sdate, enddate: edate }),
            dataType: 'json',
            //traditional: true,
            success: function (data) {
                debugger;

                if (data.data.length > 0) {

                    debugger;

                    LoadCTGDatagrid(data.data);
                    //$.notify('Data Loaded Successfully', {
                    //    globalPosition: "top center",
                    //    className: "success"
                    //});
                }

                else {
                    LoadCTGDatagrid(data.data);
                    $.notify('No Data', {
                        globalPosition: "top center",
                        className: "warn"
                    });
                }


            },
            error: function (jqXHR, exception) {
                debugger;
                $.notify("Error in loading the data! ", {
                    globalPosition: "top center",
                    className: "warn"
                })
            }
        });
    }

    function LoadCTGDatagrid(data) {
        $('#CTGDetails').dxDataGrid({
            dataSource: data,
            loadPanel: {
                enabled: true
            },
            valueChangeEvent: 'keyup',
            hoverStateEnabled: {
                enabled: true
            },
            //columnMinWidth: 50,
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            remoteOperations: { groupPaging: true },
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true,
            },
            paging: {
                pageSize: 10,
            },
            groupPanel: {
                visible: true,
                placeholder: "Group By Panel",
            },
            grouping: {
                autoExpandAll: true,
            },
            //repaintChangesOnly: true,
            columnFixing: {
                enabled: true
            },
            columnChooser: {
                enabled: true
            },
            export: {
                enabled: true,

            },
            onToolbarPreparing: function (e) {
                dataGrid = e.component;

                e.toolbarOptions.items[0].showText = 'always';


            },
            editing: {

                mode: "row",
                allowAdding: true,
                allowUpdating: true,
                //allowDeleting: !data.IsDelivered,
                useIcons: true,
            },

            columnAutoWidth: true, //needed to allow horizontal scroll - column area expanding when there are more columns instead of fixed area with conjusted columns
            columnAutoHeight: true,
            showScrollbar: 'always',
            remoteOperations: false,
            showColonAfterLabel: true,
            showValidationSummary: true,
            //validationMessageMode: 'always',
            //validationMessagePosition: 'right',
            headerFilter: {
                visible: true,
                applyFilter: "auto",
                allowSearching: true
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            showBorders: true,
            alignment: "center",
            columns: [
                {
                    type: "buttons",
                    width: 65,
                    alignment: "left",
                    fixed: true,
                    fixedPosition: "left",
                    buttons: [
                        "edit",
                    ]
                },
                {
                    columns: [
                        {
                            caption: "CTG Details",
                            alignment: "center",
                            columns: [

                                {
                                    caption: "ID",
                                    dataField: 'ID',
                                    allowEditing: false,
                                    visible: false,
                                },

                                {
                                    caption: "Section",
                                    dataField: 'Section',
                                    width: 400,
                                    lookup: {
                                        dataSource: function (options) {
                                            debugger;
                                            return {
                                                store: Section_List,
                                            };
                                        },
                                        valueExpr: "Section",
                                        displayExpr: "Section"
                                    },
                                    //allowEditing: false,
                                },
                                {
                                    caption: 'Approved ($)',
                                    dataField: 'Approved',
                                    width: 300,
                                    dataType: "number",
                                    format: { type: "currency", precision: 2 },
                                    allowEditing: false,
                                },
                                {
                                    caption: 'Utilized ($)',
                                    dataField: 'Utilized',
                                    width: 300,
                                    dataType: "number",
                                    format: { type: "currency", precision: 2 },
                                    allowEditing: false,
                                },
                                {
                                    caption: 'Balance ($)',
                                    dataField: 'Balance',
                                    width: 300,
                                    dataType: "number",
                                    format: { type: "currency", precision: 2 },
                                    allowEditing: false,
                                },
                                {
                                    caption: 'Amount ($)',
                                    dataField: 'Amount',
                                    width: 300,
                                    dataType: "number",
                                    format: { type: "currency", precision: 2 },
                                },
                            ],
                        },
                    ],
                },
                ],

            width: "96vw", //needed to allow horizontal scroll
            height: "70vh",

            onEditorPreparing: function (e) {
                //debugger;
                var component = e.component,
                    rowIndex = e.row && e.row.rowIndex;//new elements are positioned on the rowindex

                if (e.dataField === "Section") {
                    
                    debugger;
                    var onValueChanged = e.editorOptions.onValueChanged;//event for itemname; makes sure that the itemname is modified data
                    e.editorName = "dxAutocomplete";
                    //e.editorName.cellInfo.value = e.value;
                    //e.editorOptions.placeholder = 'Select Emp Name';
                    e.editorOptions.onValueChanged = function (e) {
                        //debugger;
                        onValueChanged.call(this, e);
                        debugger;



                    }



                }

                


            },

            onRowInserting: function (e) {
                debugger;
                Selected = [];
                Selected.push(e.data);
                SaveCTGDetails(Selected);
            },
            onRowUpdating(e) {
                debugger;
                Selected = [];
                Selected.push({
                    ID: e.key.ID,
                    Section: e.key.Section,
                    Amount: e.newData.Amount,
                });
                SaveCTGDetails(Selected);
            },
        });
    }



    function LoadDatagrid(data) {
        $('#RFOMailDetails').dxDataGrid({
            dataSource: data,
            loadPanel: {
                enabled: true
            },
            valueChangeEvent: 'keyup',
            hoverStateEnabled: {
                enabled: true
            },
            columnMinWidth: 50,
            showColumnLines: true,
            showRowLines: true,
            rowAlternationEnabled: true,
            remoteOperations: { groupPaging: true },
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true,
            },
            paging: {
                pageSize: 10,
            },
            groupPanel: {
                visible: true,
                placeholder: "Group By Panel",
            },
            grouping: {
                autoExpandAll: true,
            },
            //repaintChangesOnly: true,
            columnFixing: {
                enabled: true
            },
            columnChooser: {
                enabled: true
            },
            export: {
                enabled: true,

            },
            onToolbarPreparing: function (e) {
                dataGrid = e.component;

                e.toolbarOptions.items[0].showText = 'always';


            },
            editing: {

                mode: "row",
                allowAdding: true,
                allowUpdating: true,
                //allowDeleting: !data.IsDelivered,
                useIcons: true,
            },

            columnAutoWidth: true, //needed to allow horizontal scroll - column area expanding when there are more columns instead of fixed area with conjusted columns
            columnAutoHeight: true,
            showScrollbar: 'always',
            remoteOperations: false,
            showColonAfterLabel: true,
            showValidationSummary: true,
            //validationMessageMode: 'always',
            //validationMessagePosition: 'right',
            headerFilter: {
                visible: true,
                applyFilter: "auto",
                allowSearching: true
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            showBorders: true,
            columns: [
                {
                    type: "buttons",
                    width: 65,
                    alignment: "left",
                    fixed: true,
                    fixedPosition: "left",
                    buttons: [
                        "edit",
                    ]
                },
                {
                    columns: [
                        {
                            caption: "RFO Approver Mail Configuration",
                            alignment: "center",
                            columns: [

                                {
                                    caption: "ID",
                                    dataField: 'ID',
                                    allowEditing: false,
                                    visible: false,
                                },
                                {
                                    caption: "Section",
                                    dataField: 'Section',
                                    editorType: 'dxSelectBox',
                                    editorOptions:
                                    {
                                        items: RFOApprover_list,
                                        displayExpr: 'Section_Dept_Grp',
                                        valueExpr: 'Section_Dept_Grp',
                                        searchEnabled: true,
                                    },
                                    validationRules: [{
                                        type: "required"
                                    }],
                                    //allowEditing: false,
                                },
                                {
                                    caption: "NTID",
                                    dataField: 'NTID',
                                    lookup: {
                                        dataSource: function (options) {
                                            debugger;
                                            return {
                                                store: spoton_emp_list,
                                            };
                                        },
                                        valueExpr: "NTID",
                                        displayExpr: "NTID"
                                    },
                                    //allowEditing: false,
                                },
                                {
                                    caption: "Employee Name",
                                    dataField: 'EmployeeName',
                                    lookup: {
                                        dataSource: function (options) {
                                            debugger;
                                            return {
                                                store: spoton_emp_list,
                                            };
                                        },
                                        valueExpr: "EmployeeName",
                                        displayExpr: "EmployeeName"
                                    },
                                    //allowEditing: false,
                                },

                                {
                                    caption: "Paused",
                                    dataField: 'IsPaused',
                                    dataType: "boolean",
                                    allowEditing: true,
                                },

                            ],
                        },
                    ],
                },
            ],
            width: "96vw", //needed to allow horizontal scroll
            height: "70vh",

            onEditorPreparing: function (e) {
                //debugger;
                var component = e.component,
                    rowIndex = e.row && e.row.rowIndex;//new elements are positioned on the rowindex

                if (e.dataField === "NTID") {
                    e.editorOptions.onFocusOut = function (x) {
                        $.ajax({
                            type: "post",
                            url: "/BudgetingVKM/GetEmployeeName",
                            data: { Ntid: e.row.data.NTID },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                debugger;
                                //var res;
                                // res = JSON.parse(data.data.Data.Content);
                                if (data.success == true) {
                                    NTID = data.NTID;
                                    emp_name = data.EmployeeName;
                                  
                                    component.cellValue(rowIndex, "NTID", NTID);
                                    component.cellValue(rowIndex, "EmployeeName", emp_name);
                                    
                                }
                                else {
                                    $.notify(data.msg, {
                                        globalPosition: "top center",
                                        className: "error",
                                        autoHideDelay: 20000
                                    })
                                }
                            }
                        });
                    }
                    debugger;
                    var onValueChanged = e.editorOptions.onValueChanged;//event for itemname; makes sure that the itemname is modified data
                    e.editorName = "dxAutocomplete";
                    //e.editorName.cellInfo.value = e.value;
                    //e.editorOptions.placeholder = 'Select Emp Name';
                    e.editorOptions.onValueChanged = function (e) {
                        //debugger;
                        onValueChanged.call(this, e);
                        debugger;



                    }



                }

                if (e.dataField === "EmployeeName") {
                    e.editorOptions.onFocusOut = function (x) {
                        $.ajax({
                            type: "post",
                            url: "/BudgetingVKM/GetNTID",
                            data: { EmpName: e.row.data.EmployeeName },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                debugger;
                                //var res;
                                // res = JSON.parse(data.data.Data.Content);
                                if (data.success == true) {
                                    NTID = data.NTID;
                                    emp_name = data.EmployeeName;
                                    
                                    component.cellValue(rowIndex, "NTID", NTID);
                                    component.cellValue(rowIndex, "EmployeeName", emp_name);
                                    
                                }
                                else {
                                    $.notify(data.msg, {
                                        globalPosition: "top center",
                                        className: "error",
                                        autoHideDelay: 20000
                                    })
                                }
                            }
                        });
                    }
                    debugger;
                    var onValueChanged = e.editorOptions.onValueChanged;//event for itemname; makes sure that the itemname is modified data
                    e.editorName = "dxAutocomplete";
                    //e.editorName.cellInfo.value = e.value;
                    //e.editorOptions.placeholder = 'Select Emp Name';
                    e.editorOptions.onValueChanged = function (e) {
                        //debugger;
                        onValueChanged.call(this, e);
                        debugger;



                    }



                }

                
            },

            onRowInserting: function (e) {
                debugger;
                Selected = [];
                Selected.push(e.data);
                SaveRFOMail(Selected);
            },
            onRowUpdating(e) {
                debugger;
                Selected = [];
                Selected.push({
                    ID: e.key.ID,
                    Section: e.key.Section,
                    EmployeeName: e.key.EmployeeName,
                    NTID: e.key.NTID,
                    IsPaused: e.newData.IsPaused,
                });
                SaveRFOMail(Selected);
            },
        });
    }

    

    function SaveRFOMail(id1) {
        debugger;
        $.ajax({
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            url: "/BudgetingVKM/SaveRFOMail",
            data: { 'rfo': id1[0] },
            success: function (data) {
                debugger;
                if (data.success) {
                    $.notify("Saved/Updated successfully", {
                        globalPosition: "top center",
                        className: "success"
                    });
                }
                else {
                    $.notify("Unable to Save/Update! ", {
                        globalPosition: "top center",
                        className: "warn"
                    });
                }
                GetRFOMailDetails();

            },
            error: function (jqXHR, exception) {
                debugger;
                GetRFOMailDetails();
                $.notify("Unable to Save/Update! ", {
                    globalPosition: "top center",
                    className: "warn"
                });
            },
        });
    }

    function SaveCTGDetails(id1) {
        debugger;
        $.ajax({
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            url: "/BudgetingVKM/SaveCTGDetails",
            data: { 'ctg': id1[0] },
            success: function (data) {
                debugger;
                if (data.success) {
                    $.notify("Saved/Updated successfully", {
                        globalPosition: "top center",
                        className: "success"
                    });
                }
                else {
                    $.notify("Unable to Save/Update! ", {
                        globalPosition: "top center",
                        className: "warn"
                    });
                }
                GetCTGDetails();

            },
            error: function (jqXHR, exception) {
                debugger;
                GetCTGDetails();
                $.notify("Unable to Save/Update! ", {
                    globalPosition: "top center",
                    className: "warn"
                });
            },
        });
    }

    
</script>

<body>
    <div>
        <br />
        
        <div style="float:left;" id="RFOMailDetails"></div>
        <div style="float:left;" id="CTGDetails"></div>
    </div>
</body>