
@{
    Layout = "~/Views/Shared/_LayoutPageInventory1.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>


<link href="@Url.Content("~/Content/StyleSheet5.css")" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="~/Scripts/SpareConfig.js"></script>
<script type="text/javascript">
    //
    // Tabs Toggler
    //

    $(document).ready(function () {
        var BU_list, OEM_list, Group_list, Item_list, Item_headerFilter, Currency_list, Group_headerFilter, OEM_headerFilter, InventoryType_headerFilter;
        // var dataGridHWInventory;
        debugger;
        //Ajax call for getting Lookup data which contains information like BU,OEM
        $.ajax({

            type: "GET",
            url: "/InventoryLab/Lookup",
            async: false,
            success: onsuccess_lookupdata,
            error: onerror_lookupdata
        })

        function onsuccess_lookupdata(response) {
            debugger;
            lookup_data = response.data;
            Item_list = lookup_data.Item_List;
            
            debugger;
            //Function to send to js

            generate_sp_c(Item_list)
        }

        function onerror_lookupdata(response) {
            alert("Error lookup");

        }



       

    });
    debugger;
    //Javascript file for Hardware Inventory

</script>


<body>

    <div class="main">
        <section class="article-wrapper">
            <div class="article-container">
                <div class="article-block">
                    <div class="entry-content">
                        <h1>Spare Configuration</h1>

                    </div>
                </div>
            </div>
        </section>

        <div id="tabs" class="tabs-block">
            <div id="tabs-section" class="tabs">
                <table id="SpareConfigure" class="table table-bordered display compact nowrap cell-border">
                </table>
                <div id="popup" style="display:none;">
                    @*<table id="labcarinfo"></table>*@
                </div>
            </div>
    </div>

        </div>

    
</body>

