
@{
    ViewBag.Title = "QuarterlyUtilization";
    Layout = "~/Views/Shared/_Layout_SLCockpit.cshtml";
}


<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        $(document).ready(function () {
            debugger;
            var data = @Html.Raw(Json.Encode(Model));
            OnSuccess_QuarUtil(data);

            function OnSuccess_QuarUtil(data) {
                debugger;
                var dataObjData = eval(data.Y1);
                var dataObjData2 = eval(data.Y2);
                var is_yr12021 = eval(data.Year1);
                var is_yr22021 = eval(data.Year2);

                var quarterly_year1 = [];
                var quarterly_year2 = [];
                for (i = 0; i < dataObjData.length; i++) { // to split the comma sep Roles into list and store as datasource - ince tgbox only accepts if array

                     quarterly_year1.push({
                        Year: "VKM " + dataObjData[i].Year, //"/Date(timestamp)/" to new Date("yyyy-MM-dd") format

                        CostElement: dataObjData[i].CostElement== "1" ? "MAE" : (dataObjData[i].CostElement == "2" ? "Non-MAE" : (dataObjData[i].CostElement == "3" ? "Software" : "")),
                        Quarter: dataObjData[i].Quarter == "1" ? "Q1" :
                            (dataObjData[i].Quarter == "2" ? "Q2" :
                                (dataObjData[i].Quarter == "3" ? "Q3" :
                                    (dataObjData[i].Quarter == "4" ? "Q4" :
                                        "Plan Total"))),
                        BU: dataObjData[i].BU,
                         Projected: dataObjData[i].Projected,
                         Utilized: dataObjData[i].Utilized,
                         Plan: dataObjData[i].Plan,
                         BudgetCode: dataObjData[i].BudgetCode

                        // ApprCost: Math.round(dataObjData[i].ApprCost),
                      //  OrderPrice: dataObjData[i].OrderPrice != null ? Math.round(dataObjData[i].OrderPrice) : " - ",
                       // Projected: (dataObjData[i].OrderStatus != null && dataObjData[i].OrderStatus == "6") ? Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].ApprCost) : Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].OrderPrice),
                       // OrderQuarter: Math.floor((orderdate.getMonth() + 3) / 3),
                      //  BU: dataObjData[i].BU == "1" ? "2WP" : (dataObjData[i].BU == "3" ? "MB" : "OSS")

                    });

                }
                for (i = 0; i < dataObjData2.length; i++) { // to split the comma sep Roles into list and store as datasource - ince tgbox only accepts if array
                    quarterly_year2.push({
                        Year: "VKM " + dataObjData2[i].Year, //"/Date(timestamp)/" to new Date("yyyy-MM-dd") format

                        CostElement: dataObjData2[i].CostElement == "1" ? "MAE" : (dataObjData2[i].CostElement == "2" ? "Non-MAE" : (dataObjData2[i].CostElement == "3" ? "Software" : "")),
                        Quarter: dataObjData2[i].Quarter == "1" ? "Q1" :
                            (dataObjData2[i].Quarter == "2" ? "Q2" :
                                (dataObjData2[i].Quarter == "3" ? "Q3" :
                                    "Q4")),
                        BU: dataObjData2[i].BU,
                        Projected: dataObjData2[i].Projected,
                        Utilized: dataObjData2[i].Utilized,
                        BudgetCode: dataObjData2[i].BudgetCode,
                        Plan: dataObjData2[i].Plan


                        // ApprCost: Math.round(dataObjData[i].ApprCost),
                        //  OrderPrice: dataObjData[i].OrderPrice != null ? Math.round(dataObjData[i].OrderPrice) : " - ",
                        // Projected: (dataObjData[i].OrderStatus != null && dataObjData[i].OrderStatus == "6") ? Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].ApprCost) : Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].OrderPrice),
                        // OrderQuarter: Math.floor((orderdate.getMonth() + 3) / 3),
                        //  BU: dataObjData[i].BU == "1" ? "2WP" : (dataObjData[i].BU == "3" ? "MB" : "OSS")

                    });

                }

                //for (i = 0; i < dataObjData.length; i++) { // to split the comma sep Roles into list and store as datasource - ince tgbox only accepts if array
                //    var orderdate = dataObjData[i].OrderDate != null ? new Date(new Date(parseInt(dataObjData[i].OrderDate.substr(6))).toISOString().slice(0, 10)) : new Date((parseInt(new Date(parseInt(dataObjData[i].RequestDate.substr(6))).toISOString().slice(0, 4)) + 1) + "-" + new Date(parseInt(dataObjData[i].RequestDate.substr(6))).toISOString().slice(5, 10).toString());

                //    //grmemarray.push({ Project: res[i].Project_Team.substring(1, res[i].Project_Team.length - 1)  });
                //    quarterly.push({
                //        VKMYr: "VKM " + (parseInt(new Date(parseInt(dataObjData[i].RequestDate.substr(6))).toISOString().slice(0, 4)) + 1).toString(), //"/Date(timestamp)/" to new Date("yyyy-MM-dd") format

                //        CostElement: dataObjData[i].CostElement == "1" ? "MAE" : (dataObjData[i].CostElement == "2" ? "Non-MAE" : (dataObjData[i].CostElement == "3" ? "Software" : "")),
                //       // ApprCost: Math.round(dataObjData[i].ApprCost),
                //        OrderPrice: dataObjData[i].OrderPrice != null ? Math.round(dataObjData[i].OrderPrice) : " - ",
                //       // Projected: (dataObjData[i].OrderStatus != null && dataObjData[i].OrderStatus == "6") ? Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].ApprCost) : Math.round(dataObjData[i].ApprCost) - Math.round(dataObjData[i].OrderPrice),
                //        OrderQuarter: Math.floor((orderdate.getMonth() + 3) / 3),
                //        BU: dataObjData[i].BU == "1" ? "2WP" : (dataObjData[i].BU == "3" ? "MB" : "OSS")

                //    });

                //}
                debugger;

               var vkmsummary = $('#VKMSummaryTable').dxPivotGrid({
                    allowSortingBySummary: true,
                    allowFiltering: true,
                    showBorders: true,
                    showColumnGrandTotals: false,
                   showRowGrandTotals: true,
                   showRowTotals: false,
                   showColumnTotals: true,
                   headerFilter: { visible: true },
                   fieldPanel: {
                       //showColumnFields: true,
                       //showDataFields: true,
                       showRowFields: true,
                       visible: true,
                       showFilterFields: true,
                       allowFieldDragging: true
                   },
                    fieldChooser: {
                        enabled: false,
                        //height: 400,
                    },
                    //export: {
                    //    enabled: true
                    //},
                   width: "90vw",
                    onCellPrepared: function (e) {
                       // debugger;

                          //if (data && data.Quarter != "Q1") {
                                    //    var pivot = $("#VKMSummaryTable1").dxPivotGrid("instance");
                                    //    pivot.getDataSource().field("Plan", {
                                    //        visible: false
                                    //    });
                                    //}
                        //pivot = $("#VKMSummaryTable").dxPivotGrid("instance");
                        //pivot.getDataSource().field("Plan", {
                        //    visible: false                        });
                        e.cellElement.css("color", "black");
                        if (e.area === "column" /*|| e.area == "row"*/) {
                            //debugger;
                            e.cellElement.css("font-weight", "bold");
                            e.cellElement.css("font-size", 15);

                            if (e.cell.path != undefined && e.cell.path[0] != undefined && e.cell.path[0].includes("VKM")) {

                                //e.cellElement.css("background-color", "#6099bf"); //"#5fa1d4");
                                // e.cellElement.css("color", "#FFFF");
                                //e.cellElement.css("font-size", 20);
                                //e.cellElement.css("width", 5);
                                //e.cellElement.css("background-color", "#4080AD"); //"#5fa1d4");
                                //e.cellElement.css("color", "#FFFF");
                                e.cellElement.css("font-size", 18);
                                e.cellElement.css("width", 5);
                            }
                            if (e.cell.path != undefined && e.cell.path[1] != undefined && e.cell.path[1].includes("Q")) {

                                e.cellElement.css("background-color", "#FFFF");
                                e.cellElement.css("color", "#0000");
                                e.cellElement.css("font-size", 15);


                            }
                            if (e.area == "column" && e.cell.type == "T") {
                               // debugger;
                                e.cellElement.css("background-color", "#ccc8ca");
                                e.cellElement.css("color", "#0000");
                            }

                            //if (e.cell.path != undefined && e.cell.path[1] != undefined &&  e.cell.path[1].includes("Q")) {
                            //    e.cellElement.css("background-color", "#5fa1d4");
                            //    e.cellElement.css("color", "#0000");
                            //}
                            if (e.cell.path != undefined && e.cell.path[2] === "2WP+MB") {
                                debugger;

                                e.cellElement.css("background-color", "#b32e82");
                                e.cellElement.css("color", "#FFFF");
                                pivot = $("#VKMSummaryTable").dxPivotGrid("instance");
                                pivot.getDataSource().field("Plan", {
                                    visible: false
                                });
                            }

                            if (e.cell.path != undefined && e.cell.path[2] === "OSS") {
                                e.cellElement.css("background-color", "#0f9096");
                                e.cellElement.css("color", "#FFFF");
                            }
                        }

                        if (e.cell.columnPath != undefined && e.cell.columnType == "T") {
                           // debugger;
                           // e.cellElement.css("background-color", "blue");
                        }
                        if (e.cell.columnPath != undefined && e.cell.columnPath[2] === "OSS" /*|| e.area == "row"*/) {

                            e.cellElement.css("background-color", "#bce4e6");

                        }
                        if ((e.cell.columnPath != undefined && e.cell.columnPath[2] === "2WP+MB")  /*|| e.area == "row"*/) {
                            //if (e.cell.columnPath[1] === "Q1") {
                                debugger;
                                pivot =$("#VKMSummaryTable").dxPivotGrid("instance");
                                pivot.getDataSource().field("Plan", {
                                    visible: false
                                });
                            //}
                            e.cellElement.css("background-color", "#f0c0de"); //"#eba4d1"); //"#bce4e6"); //

                        }

                    },

                       allowExpandAll: false,
                   onCellClick: function (e) {
                       e.cancel = true;
                   },
                    dataSource: {

                        fields: [
                            {
                            caption: 'CostElement',
                            width: 70,
                            dataField: 'CostElement',
                                area: 'row',
                                expanded: true
                            //sortBySummaryField: 'Total',
                            },
                            {


                               width: 70,
                                dataField: 'BudgetCode',
                                area: 'row',
                                visible: is_yr12021,
                                expanded: true

                                //sortBySummaryField: 'Total',
                            },
                            //{


                            //    width: 70,
                            //    dataField: 'Plan',
                            //    area: 'row',
                            //    summaryType: 'sum',
                            //    visible: true,
                            //    expanded: true

                            //    //sortBySummaryField: 'Total',
                            //},
                        {
                            dataField: 'Year',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                            // dataType: 'date',
                            area: 'column',

                            expanded: true,
                        },


                        //{
                        //    dataField: 'OrderDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                        //    dataType: 'date',
                        //    area: 'column',
                        //    caption: "Utilize group",
                        //    expanded: true,

                        //},
                            //{
                            //    caption: 'Plan',
                            //    dataField: 'Plan',
                            //    dataType: 'number',
                            //   // summaryType: 'sum',
                            //    format: 'currency',
                            //    area: 'column',
                            //    //expanded: true,
                            //},
                        {
                            dataField: 'Quarter',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                            //dataType: 'date',
                            area: 'column',

                            expanded: true,

                        },
                        {

                            dataField: 'BU',

                            area: 'column',
                            //expanded: true,
                        },

                        //{
                        //caption: 'City',
                        //dataField: 'city',
                        //width: 150,
                        //area: 'row',
                        //},
                        //  {
                        //   dataField: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                        // dataType: 'date',
                        //            area: 'column',
                        //  caption: "P"
                        //  },
                            //{
                            //    caption: 'Plan',
                            //    dataField: 'Plan',
                            //    dataType: 'number',
                            //    summaryType: 'sum',
                            //    format: 'currency',
                            //    area: 'data',
                            //    //expanded: true,
                            //},
                        {
                            caption: 'Projected',
                            dataField: 'Projected',
                            dataType: 'number',
                            summaryType: 'sum',
                            format: 'currency',
                            area: 'data',
                            //expanded: true,
                        },



                        //{
                        //    groupName: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))).toISOString().slice(0,10),// new Date('RequestDate'),
                        //    //groupInterval: 'month',
                        //    // visible: false,
                        //    groupInterval: 'month',
                        //    visible: false,

                        //},

                        //{
                        //    groupName: "VKMYr", groupInterval: "year", groupIndex: 0},

                        //{ groupName: "VKMYr", groupInterval: "month", groupIndex: 1 },
                        //{
                        //    groupName: "VKMYr", groupInterval: "quarter", groupIndex: 2},
                        // {
                        //     dataField: 'ActualDeliveryDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                        //     dataType: 'date',
                        //     area: 'column',
                        //     caption: "U"
                        //   },

                        {
                            caption: 'Used',
                            dataField: 'Utilized',
                            dataType: 'number',
                            summaryType: 'sum',
                            format: 'currency',
                            area: 'data',
                            //expanded: true,
                        },
                            //{
                            //    caption: 'Projected',
                            //    dataField: 'Projected',
                            //    dataType: 'number',
                            //    summaryType: 'sum',
                            //    format: 'currency',
                            //    area: 'data',
                            //   // expanded: true,
                            //}



                        ],
                        store: new DevExpress.data.ArrayStore(
                            {
                                data: quarterly_year1,
                                onLoaded: function (data) {
                                    debugger;
                                    //if (data && data.Quarter != "Q1") {
                                    //    var pivot = $("#VKMSummaryTable1").dxPivotGrid("instance");
                                    //    pivot.getDataSource().field("Plan", {
                                    //        visible: false
                                    //    });
                                    //}
                                    //if (data && !("Quarter" in data[0])) {
                                    //    var pivot = $("#sales").dxPivotGrid("instance");
                                    //    pivot.getDataSource().field("weekPerMonthCount", {
                                    //        visible: false
                                    //    });
                                    //}
                                }
                            }
                        ),
                    },
                }).dxPivotGrid('instance');


                var vkmsummary2 = $('#VKMSummaryTable2').dxPivotGrid({
                    allowExpandAll: false,
                    allowSortingBySummary: true,
                    allowFiltering: true,
                    showBorders: true,
                   showColumnGrandTotals: false,
                   showRowGrandTotals: true,
                    showRowTotals: false,
                    showColumnTotals: true,
                    fieldChooser: {
                        enabled: false,
                        //height: 400,
                   },
                     headerFilter: { visible: true },
        fieldPanel: {
            //showColumnFields: true,
            //showDataFields: true,
            showRowFields: true,
            visible: true,
            showFilterFields: true,
            allowFieldDragging: true
        },
                    //export: {
                    //    enabled: true
                    //},
                   width: "90vw",
                    onCellPrepared: function (e) {

                        e.cellElement.css("color", "black");
                        if (e.area === "column" /*|| e.area == "row"*/) {
                            //debugger;
                            e.cellElement.css("font-weight", "bold");
                            e.cellElement.css("font-size", 15);

                            if (e.cell.path != undefined && e.cell.path[0] != undefined && e.cell.path[0].includes("VKM")) {

                               // e.cellElement.css("background-color", "#4080AD"); //"#5fa1d4");
                                //e.cellElement.css("color", "#FFFF");
                                e.cellElement.css("font-size", 18);
                                e.cellElement.css("width", 5);
                            }
                            if (e.cell.path != undefined && e.cell.path[1] != undefined && e.cell.path[1].includes("Q")) {

                                e.cellElement.css("background-color", "#FFFF");
                                e.cellElement.css("color", "#0000");
                                e.cellElement.css("font-size", 15);
                            }
                            //if (e.cell.path != undefined && e.cell.path[1] != undefined &&  e.cell.path[1].includes("Q")) {
                            //    e.cellElement.css("background-color", "#5fa1d4");
                            //    e.cellElement.css("color", "#0000");
                            //}
                            if (e.cell.path != undefined && e.cell.path[2] === "2WP+MB") {
                                e.cellElement.css("background-color", "#b32e82");
                                e.cellElement.css("color", "#FFFF");
                            }

                            if (e.cell.path != undefined && e.cell.path[2] === "OSS") {
                                e.cellElement.css("background-color", "#0f9096");
                                e.cellElement.css("color", "#FFFF");
                            }


                        }
                        if (e.area == "column" && e.cell.type == "T") {
                           // debugger;
                            e.cellElement.css("background-color", "#ccc8ca");
                            e.cellElement.css("color", "#0000");
                        }
                        if (e.cell.columnPath != undefined && e.cell.columnPath[2] === "OSS" /*|| e.area == "row"*/) {

                            e.cellElement.css("background-color", "#bce4e6");

                        }
                        if ((e.cell.columnPath != undefined && e.cell.columnPath[2] === "2WP+MB")  /*|| e.area == "row"*/) {

                            e.cellElement.css("background-color", "#f0c0de"); //"#eba4d1"); //"#bce4e6"); //

                        }

                    },



                    dataSource: {

                        fields: [{
                            caption: 'CostElement',
                            width: 70,
                            dataField: 'CostElement',
                            area: 'row',
                            expanded: true
                            //sortBySummaryField: 'Total',
                        },
                            {

                                width: 70,
                                dataField: 'BudgetCode',
                                area: 'row',
                                visible: is_yr22021,
                                expanded: true

                                //sortBySummaryField: 'Total',
                            },
                        {
                            dataField: 'Year',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                            // dataType: 'date',
                            area: 'column',

                            expanded: true,
                        },


                        {
                            dataField: 'Quarter',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                            //dataType: 'date',
                            area: 'column',
                            //caption: "Utilize group",
                            expanded: true,

                        },
                        {

                            dataField: 'BU',

                            area: 'column',
                            //expanded: true,
                        },


                        {
                            caption: 'Projected',
                            dataField: 'Projected',
                            dataType: 'number',
                            summaryType: 'sum',
                            format: 'currency',
                            area: 'data',
                            //expanded: true,
                        },


                        {
                            caption: 'Used',
                            dataField: 'Utilized',
                            dataType: 'number',
                            summaryType: 'sum',
                            format: 'currency',
                            area: 'data',
                            //expanded: true,
                        },


                        ],
                        store: quarterly_year2,
                    },
                    onCellClick: function (e) {
                        e.cancel = true;
                    },
                }).dxPivotGrid('instance');

        //        vkmsummary = $('#VKMSummaryTable').dxPivotGrid({
        //            allowSortingBySummary: true,
        //            allowFiltering: true,
        //            showBorders: true,
        //            showColumnGrandTotals: false,
        //            showRowGrandTotals: true,
        //            showRowTotals: true,
        //            showColumnTotals: true,
        //            fieldChooser: {
        //                enabled: false,
        //                //height: 400,
        //            },
        //            //export: {
        //            //    enabled: true
        //            //},
        //            width: 1500,
        //            onCellPrepared: function (e) {
        //                e.cellElement.css("color", "black");
        //                if (e.area === "column" /*|| e.area == "row"*/) {

        //                    e.cellElement.css("font-weight", "bold");
        //                    e.cellElement.css("font-size", 15);
        //                }
        //            },



        //            dataSource: {

        //            fields: [{
        //                    caption: 'CostElement',
        //                    width: 120,
        //                    dataField: 'CostElement',
        //                    area: 'row',
        //                    //sortBySummaryField: 'Total',
        //                },
        //{
        //                        dataField: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
        //                        // dataType: 'date',
        //                                area: 'column',
        //    caption: "P",
        //    expanded: true,
        //                    },


        //                    //{
        //                    //    dataField: 'OrderDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
        //                    //    dataType: 'date',
        //                    //    area: 'column',
        //                    //    caption: "Utilize group",
        //                    //    expanded: true,

        //                    //},

        //                    {
        //                        dataField: 'OrderQuarter',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
        //                        //dataType: 'date',
        //                        area: 'column',
        //                        caption: "Utilize group",
        //                        expanded: true,

        //                    },
        //                    {

        //                        dataField: 'BU',

        //                        area: 'column',
        //                        //expanded: true,
        //                    },

        //                    //{
        //                    //caption: 'City',
        //                    //dataField: 'city',
        //                    //width: 150,
        //                    //area: 'row',
        //                    //},
        //                  //  {
        //                     //   dataField: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
        //                        // dataType: 'date',
        //                    //            area: 'column',
        //                      //  caption: "P"
        //                  //  },

        //                    //{
        //                    //    caption: 'Plan',
        //                    //    dataField: 'ApprCost',
        //                    //    dataType: 'number',
        //                    //    summaryType: 'sum',
        //                    //    format: 'currency',
        //                    //    area: 'data',
        //                    //    //expanded: true,
        //                    //},



        //                    //{
        //                    //    groupName: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))).toISOString().slice(0,10),// new Date('RequestDate'),
        //                    //    //groupInterval: 'month',
        //                    //    // visible: false,
        //                    //    groupInterval: 'month',
        //                    //    visible: false,

        //                    //},

        //                    //{
        //                    //    groupName: "VKMYr", groupInterval: "year", groupIndex: 0},

        //                    //{ groupName: "VKMYr", groupInterval: "month", groupIndex: 1 },
        //                    //{
        //                    //    groupName: "VKMYr", groupInterval: "quarter", groupIndex: 2},
        //                    // {
        //                    //     dataField: 'ActualDeliveryDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
        //                    //     dataType: 'date',
        //                    //     area: 'column',
        //                    //     caption: "U"
        //                    //   },

        //                    {
        //                        caption: 'Used',
        //                        dataField: 'OrderPrice',
        //                        dataType: 'number',
        //                        summaryType: 'sum',
        //                        format: 'currency',
        //                        area: 'data',
        //                        //expanded: true,
        //                    },
        //                    //{
        //                    //    caption: 'Projected',
        //                    //    dataField: 'Projected',
        //                    //    dataType: 'number',
        //                    //    summaryType: 'sum',
        //                    //    format: 'currency',
        //                    //    area: 'data',
        //                    //   // expanded: true,
        //                    //}



        //                ],
        //                store: quarterly,
        //            },
        //        }).dxPivotGrid('instance');


                  //vkmsummary = $('#VKMSummaryTable').dxPivotGrid({
                //    allowSortingBySummary: true,
                //    allowFiltering: true,
                //    showBorders: true,
                //    showColumnGrandTotals: false,
                //    showRowGrandTotals: true,
                //    showRowTotals: true,
                //    showColumnTotals: true,
                //    fieldChooser: {
                //        enabled: true,
                //        height: 400,
                //    },
                //    onCellPrepared: function (e) {
                //        e.cellElement.css("color", "black");
                //        if (e.area === "column" /*|| e.area == "row"*/) {

                //            e.cellElement.css("font-weight", "bold");
                //            e.cellElement.css("font-size", 15);
                //        }
                //    },



                //    dataSource: {
                //        fields: [{
                //            caption: 'CostElement',
                //            width: 120,
                //            dataField: 'CostElement',
                //            area: 'row',
                //            //sortBySummaryField: 'Total',
                //        },


                //        {
                //            dataField: 'OrderDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                //            dataType: 'date',
                //            area: 'row',
                //            caption: "Utilize group"
                //        },


                //        //{
                //        //caption: 'City',
                //        //dataField: 'city',
                //        //width: 150,
                //        //area: 'row',
                //        //},
                //        {
                //            dataField: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                //            // dataType: 'date',
                //            area: 'column',
                //            caption: "P"
                //        },

                //        {
                //            caption: 'Plan',
                //            dataField: 'ApprCost',
                //            dataType: 'number',
                //            summaryType: 'sum',
                //            format: 'currency',
                //            area: 'data',
                //        },

                //        {
                //            groupName: 'RequestDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))).toISOString().slice(0,10),// new Date('RequestDate'),
                //            groupInterval: 'quarter',
                //            visible: false,
                //        },
                //        {
                //            groupName: 'VKMYr',//new Date(parseInt(data.data[0].RequestDate.substr(6))).toISOString().slice(0,10),// new Date('RequestDate'),
                //            //groupInterval: 'month',
                //            // visible: false,
                //        },



                //        // {
                //        //     dataField: 'ActualDeliveryDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))),
                //        //     dataType: 'date',
                //        //     area: 'column',
                //        //     caption: "U"
                //        //   },

                //        {
                //            caption: 'Used',
                //            dataField: 'OrderPrice',
                //            dataType: 'number',
                //            summaryType: 'sum',
                //            format: 'currency',
                //            area: 'data',
                //        },
                //        {
                //            caption: 'Projected',
                //            dataField: 'Projected',
                //            dataType: 'number',
                //            summaryType: 'sum',
                //            format: 'currency',
                //            area: 'data',
                //        },

                //            // {
                //            //     groupName: 'ActualDeliveryDate',//new Date(parseInt(data.data[0].RequestDate.substr(6))).toISOString().slice(0,10),// new Date('RequestDate'),
                //            //     groupInterval: 'quarter',
                //            //     visible: true,//false,
                //            // },

                //        ],
                //        store: quarterly,
                //    },
                //}).dxPivotGrid('instance');

            }
        });



    </script>

</head>

<body>
   

    <table align="center" style="width: 90%;">

        <tr>
            <td><p style="text-align:center;margin-top:15px;font-size:20px; font-family:Arial;"><b> Quarterly Utilization </b> </p></td>
        </tr>
        <tr align="center">

            <td style="padding-right: 20px">

                <div id="VKMSummaryTable" style="width: 70vh; height: 100%; "></div>

            </td>

        </tr>
        <tr style="height:20px;"></tr>
        <tr  align="center">
            <td style="padding-right: 20px">
                <div id="VKMSummaryTable2" style="width: 70vh; height: 100%; "></div>

            </td>
        </tr>

    </table>
</body>