@model LC_Reports_V1.Models.LCfilterInfo
@{
    ViewBag.Title = "CPC";
    Layout = "~/Views/Shared/_Layout_CPC.cshtml";
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLab - Reporting Options</title>


    <script src="~/Content/employees.js"></script>
    <link href="~/Content/LabReportPage.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/CPC/LoadDropdowns.js"></script>*@
    <script src="~/Scripts/export/exceljs.min.js"></script>
    <script src="~/Scripts/export/FileSaver.min.js"></script>
    <script src="~/Scripts/CPC/LoadDataGrid.js"></script>

    <style>
        /*#ribbon {
          overflow: hidden;
          position: fixed;*/ /* Set the navbar to fixed position */
        /*top: 0;*/ /* Position the navbar at the top of the page */
        /*width: 100%;*/ /* Full width */
        /*}*/

        .LabType {
            visibility: visible;
        }

        .LabLocation {
            visibility: visible;
        }

        .Setup {
            visibility: visible;
        }

        .Type {
            visibility: visible;
        }


        /* Base for label styling */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: 0;
            opacity: 0.00;
        }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 2.3em;
                font-size: 0.75em;
                line-height: 1.7;
                cursor: pointer;
            }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 4px;
                    width: 1em;
                    height: 1em;
                    border: 1px solid #aaa;
                    background: #FFF;
                    border-radius: .2em;
                    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                    -webkit-transition: all .275s;
                    transition: all .275s;
                }

                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                    content: '✓';
                    position: absolute;
                    top: .6em;
                    left: .45em;
                    font-size: 1.2em;
                    color: #CB22ED;
                    line-height: 0;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }

                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0) rotate(45deg);
                    transform: scale(0) rotate(45deg);
                }

                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1) rotate(0);
                    transform: scale(1) rotate(0);
                }

        /* Disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #e9e9e9;
        }

        [type="checkbox"]:disabled:checked + label:after {
            color: #777;
        }

        [type="checkbox"]:disabled + label {
            color: #aaa;
        }

        /* Accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
        }


        .container-fluid.scrollable {
            height: 100%; /*Sets the scrollable area to 100% of the viewport*/
            overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
        }
    </style>



    @section Scripts{

        <script type="text/javascript">
            var View;
            var Activities;
            var now;
            var edate;
            var sdate;
            var strtDate;
            var edDate;
            var year;
            $(document).ready(function () {
                localStorage.clear();
                debugger;
                View = $('.Viewby:checked').val();

                fnYearSel();

                //if (View == "Date") {
                //    document.getElementById("chkView2").disabled = true;

                //    document.getElementById("chkView3").disabled = true;
                //}


                $("#ddlYear").change(function () {
                    debugger;
                    year = this.value;
                    SetTempData(year);
                });




                if (View == "Date") {
                    document.getElementById('dates').style.display = "block";
                    now = new Date();
                    edate = now.setDate(now.getDate() - 1);
                    now = new Date();
                    sdate = now.setDate(now.getDate() - 15);


                    $("#sdate").dxDateBox({
                        type: "date",
                        value: sdate
                    });

                    $("#edate").dxDateBox({
                        type: "date",
                        value: edate
                    });
                }

                else {
                    document.getElementById('dates').style.display = "none";
                }


                $(".loader-wrapper").fadeOut("slow");


                $('#chkSetupAll').on('click', function () {
                    debugger;
                    if (this.checked) {
                        $('.Setup').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.Setup').each(function () {
                            this.checked = false;
                        });
                    }
                });
                debugger;
                $('.Setup').on('click', function () {
                    debugger;
                    if ($('.Setup:checked').length == $('.Setup').length) {
                        $('#chkSetupAll').prop('checked', true);
                    } else {
                        $('#chkSetupAll').prop('checked', false);
                    }
                });

                $('#chkLocAll').on('click', function () {
                    debugger;
                    if (this.checked) {
                        $('.Location').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.Location').each(function () {
                            this.checked = false;
                        });
                    }
                });

                $('.Location').on('click', function () {
                    debugger;
                    if ($('.Location:checked').length == $('.Location').length) {
                        $('#chkLocAll').prop('checked', true);
                    } else {
                        $('#chkLocAll').prop('checked', false);
                    }
                });


                //$('#chkSetupAll').on('click', function () {
                //    debugger;
                //    if (this.checked) {
                //        $('.Setup').each(function () {
                //            this.checked = true;
                //        });
                //    } else {
                //        $('.Setup').each(function () {
                //            this.checked = false;
                //        });
                //    }
                //});

                //$('.Setup').on('click', function () {
                //    if ($('.Setup:checked').length == $('.Setup').length) {
                //        $('#chkSetupAll').prop('checked', true);
                //    } else {
                //        $('#chkSetupAll').prop('checked', false);
                //    }
                //});

                $('#chkTypeAll').on('click', function () {
                    debugger;
                    if (this.checked) {
                        $('.Type').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.Type').each(function () {
                            this.checked = false;
                        });
                    }
                });

                $('.Type').on('click', function () {
                    if ($('.Type:checked').length == $('.Type').length) {
                        $('#chkTypeAll').prop('checked', true);
                    } else {
                        $('#chkTypeAll').prop('checked', false);
                    }
                });


                $('#chkActAll').on('click', function () {
                    debugger;
                    if (this.checked) {
                        $('.Act').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.Act').each(function () {
                            this.checked = false;
                            $('#chkAct6').prop("checked", true);
                        });
                    }
                });

                $('.Act').on('click', function () {
                    if ($('.Act:checked').length == $('.Act').length) {
                        $('#chkActAll').prop('checked', true);
                    } else {
                        $('#chkActAll').prop('checked', false);




                    }
                });

                $('#chkFilAll').on('click', function () {
                    debugger;
                    if (this.checked) {
                        $('.cfilter').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.cfilter').each(function () {
                            this.checked = false;
                        });
                    }
                });

                $('.cfilter').on('click', function () {
                    if ($('.cfilter:checked').length == $('.cfilter').length) {
                        $('#chkFilAll').prop('checked', true);
                    } else {
                        $('#chkFilAll').prop('checked', false);

                        //$('#chkAct6').prop('checked', true);
                    }
                });



                //var viewby;

                $('.Viewby').on('click', function () {

                    View = $('.Viewby:checked').val();
                    debugger;
                    if (View == "Date") {
                        debugger;
                        document.getElementById('dates').style.display = "block";

                        now = new Date();
                        edate = now.setDate(now.getDate() - 1);
                        now = new Date();
                        sdate = now.setDate(now.getDate() - 15);



                        $("#sdate").dxDateBox({
                            type: "date",
                            value: sdate
                        });

                        $("#edate").dxDateBox({
                            type: "date",
                            value: edate
                        });


                    }
                    else if (View == "Week") {
                        document.getElementById('dates').style.display = "none";
                    }
                    else if (View == "Month") {
                        document.getElementById('dates').style.display = "none";
                    }
                    else {
                        document.getElementById('dates').style.display = "block";
                    }


                });

                //function ValidateViewSelection() {
                //    debugger;
                //    var checkboxes = document.getElementsByName("view");
                //    var numberOfCheckedItems = 0;
                //    for (var i = 0; i < checkboxes.length; i++) {
                //        if (checkboxes[i].checked)
                //            numberOfCheckedItems++;
                //    }

                //}



                GenerateCPC();


            });

            //$(function () {
            //    $('#selectLabType').multiselect({
            //        includeSelectAllOption: true
            //    });
            //});

            function SetTempData(year) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: "../CPC/SetTempData",
                    //data: '{ year : year }',
                    data: JSON.stringify({ year: year }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        //window.location = window.location.href;
                    }
                });
            }

            function fnYearSel() {
                debugger;

                var currentYear = (new Date()).getFullYear();
                for (var i = 2021; i <= currentYear; i++) {
                    var option = document.createElement("OPTION");
                    option.innerHTML = i;
                    option.value = i;
                    ddlYear.appendChild(option);
                    // if (option.value == currentYear || option.value == (currentYear + 1) || option.value == (currentYear - 2)) {
                    if (option.value == currentYear) {
                        option.defaultSelected = true;
                    }
                    debugger;
                }
            }

            function GenerateCPC() {
                debugger;
                //var LabTypes = $('#selectLabType').val();
                //var Locations = $('#selectLocation').val();

                $.notify('Loading the data. Please wait!', {
                    globalPosition: "top center",
                    className: "warn"
                });

                var year = $("#ddlYear").val();

                @*@TempData["Year"] = year;*@

                var SetupTypes = new Array();
                //$("input:checked").each(function () {
                //    //console.log($(this).val()); //works fine
                //    LabTypes.push($(this).val());
                //});
                debugger;
                $('input:checkbox[name=SetupType]:checked').each(function () {
                    debugger;
                    SetupTypes.push($(this).val())
                });

                var Locations = new Array();
                $('input:checkbox[name=Location]:checked').each(function () {
                    //Locations.push($(this).val())
                    if ($(this).val() == "Si") {
                        debugger;
                        Locations.push($(this).val())
                        Locations.push("Abt")
                    }
                    else {
                        Locations.push($(this).val())
                    }
                });

                var Types = new Array();
                $('input:checkbox[name=Types]:checked').each(function () {
                    debugger;
                    Types.push($(this).val())
                });

                Activities = new Array();
                $('input:checkbox[name=Activity]:checked').each(function () {
                    Activities.push($(this).val())
                });

                var Colorfilters = new Array();
                $('input:checkbox[name=Filter]:checked').each(function () {
                    debugger;
                    Colorfilters.push($(this).val())
                });


                debugger;

                sdate = $("#sdate").dxDateBox("option", "value");
                edate = $("#edate").dxDateBox("option", "value");

                if (sdate == null)
                    sdate = 0;
                if (edate == null)
                    edate = 0;

                //var View = new Array();
                //$('input:checkbox[name=ViewBy]:checked').each(function () {
                //    debugger;
                //    View.push($(this).val())
                //});

                debugger;



                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "../CPC/GenerateCPC",
                    data: JSON.stringify({ startdate: sdate, enddate: edate, slocation: Locations, ssetuptype: SetupTypes, stype: Types, sactivity: Activities, sfilter: Colorfilters, sview: View, year: year }),
                    dataType: 'json',
                    //traditional: true,
                    success: function (data) {
                        debugger;
                        //$("#loadingDiv").css("display", "block");
                        //alert(data.data.length);
                        if (data.data.Data.Content.length > 0) {

                            debugger;
                            var res = JSON.parse(data.data.Data.Content);
                            if (View == "Date") {
                                debugger;
                                document.getElementById("date_dataGrid").style.display = "block";
                                document.getElementById("week_dataGrid").style.display = "none";
                                document.getElementById("month_dataGrid").style.display = "none";
                                Load_DateDataGrid(res);
                            }
                            else if (View == "Week") {
                                debugger;
                                document.getElementById("date_dataGrid").style.display = "none";
                                document.getElementById("week_dataGrid").style.display = "block";
                                document.getElementById("month_dataGrid").style.display = "none";
                                Load_WeekDataGrid(res);

                            }
                            else if (View == "Month") {
                                document.getElementById("date_dataGrid").style.display = "none";
                                document.getElementById("week_dataGrid").style.display = "none";
                                document.getElementById("month_dataGrid").style.display = "block";
                                Load_MonthDataGrid(res);
                            }

                            else {
                                document.getElementById("date_dataGrid").style.display = "block";
                                document.getElementById("week_dataGrid").style.display = "none";
                                document.getElementById("month_dataGrid").style.display = "none";
                                Load_DateDataGrid(res);
                            }



                            $.notify('Data Loaded Successfully', {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                        else {
                            $('#myModal').modal();
                        }
                    },
                    error: function (jqXHR, exception) {
                        debugger;
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg = 'Not connect.\n Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg = 'Requested page not found. [404]';
                        } else if (jqXHR.status == 500) {
                            msg = 'Internal Server Error [500].';
                        } else if (exception === 'parsererror') {
                            msg = 'Requested JSON parse failed.';
                        } else if (exception === 'timeout') {
                            msg = 'Time out error.';
                        } else if (exception === 'abort') {
                            msg = 'Ajax request aborted.';
                        } else {
                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        }
                        $('#post').html(msg);
                    },
                });
                //});
            }

        </script>

    }
</head>
<body>



    <div id="CPCReport" style="width:100%; height:100%;">



        @using (Html.BeginForm("Index", "CPC", FormMethod.Post, new { name = "form", id = "form" }))
        {
            <div class="container-fluid scrollable" style="margin-top:90px;width:100%;">


                <div>
                    <label style="text-align:left;top:0px;font-size:14px;" for="lab location"><b>SETUP TYPE:</b></label>


                    <input type="checkbox" id="chkSetupAll" name="AllSetupType" value="ALL" checked />
                    <label for="chkSetupAll" style="padding-right: 10px; background-color:#dc80ba"><b>ALL</b></label>

                    <input type="checkbox" id="chkset1" name="SetupType" value="TSG4" class="Setup" checked />
                    <label for="chkset1" style="padding-right: 10px;background-color:#dc80ba"><b>TSG4</b></label>

                    <input type="checkbox" id="chkset2" name="SetupType" value="Pbox" class="Setup" checked />
                    <label for="chkset2" style="padding-right: 10px; background-color:#dc80ba"><b>Pbox</b></label>

                    <input type="checkbox" id="chkset3" name="SetupType" value="MLC" class="Setup" checked />
                    <label for="chkset3" style="padding-right: 10px; background-color:#dc80ba"><b>MLC</b></label>

                    <input type="checkbox" id="chkset4" name="SetupType" value="ACUROT" class="Setup" checked />
                    <label for="chkset4" style="padding-right: 10px; background-color:#dc80ba"><b>ACUROT</b></label>


                    <label style="text-align:left;top:0px; font-size:14px;" for="Filter By"><b>FILTER BY:</b></label>

                    <input type="checkbox" id="chkFilAll" name="AllFilter" value="ALL" checked />
                    <label for="chkFilAll" style="padding-right: 10px; background-color:#7fd3d7"><b>ALL</b></label>

                    <input type="checkbox" id="chkFil1" name="Filter" value="Red" class="cfilter" checked />
                    <label for="chkFil1" style="padding-right: 10px; background-color:#7fd3d7"><b>Red</b></label>

                    <input type="checkbox" id="chkFil2" name="Filter" value="Green" class="cfilter" checked />
                    <label for="chkFil2" style="padding-right: 10px; background-color:#7fd3d7"><b>Green</b></label>

                    <input type="checkbox" id="chkFil3" name="Filter" value="Yellow" class="cfilter" checked />
                    <label for="chkFil3" style="padding-right: 10px; background-color:#7fd3d7"><b>Yellow</b></label>


                    <label style="text-align:left;top:0px; font-size:14px;" for="Activity Type"><b>ACTIVITY:</b></label>

                    <input type="checkbox" id="chkActAll" name="AllActivity" value="ALL" checked />
                    <label for="chkActAll" style="padding-right: 10px; background-color:#fdd78b"><b>ALL</b></label>

                    <input type="checkbox" id="chkAct1" name="Activity" value="Auto" class="Act" checked />
                    <label for="chkAct1" style="padding-right: 10px; background-color:#fdd78b"><b>Auto</b></label>

                    <input type="checkbox" id="chkAct2" name="Activity" value="Manual" class="Act" checked />
                    <label for="chkAct2" style="padding-right: 10px; background-color:#fdd78b"><b>Manual</b></label>

                    <input type="checkbox" id="chkAct3" name="Activity" value="Night" class="Act" checked />
                    <label for="chkAct3" style="padding-right: 10px; background-color:#fdd78b"><b>Night</b></label>

                    <input type="checkbox" id="chkAct4" name="Activity" value="Weekend" class="Act" checked />
                    <label for="chkAct4" style="padding-right: 10px; background-color:#fdd78b"><b>Weekend</b></label>

                    <input type="checkbox" id="chkAct5" name="Activity" value="DownTime" class="Act" checked />
                    <label for="chkAct5" style="padding-right: 10px; background-color:#fdd78b"><b>DownTime</b></label>

                    <input type="checkbox" id="chkAct6" name="Activity" value="Total" class="Act" checked />
                    <label for="chkAct6" style="padding-right: 10px; background-color:#fdd78b"><b>Total</b></label>

                   
                    
                </div>

                <div style="padding-top:10px;">
                    <label style="text-align:left;top:0px;font-size:14px;" for="lab location"><b>SITE:</b></label>

                <input type="checkbox" id="chkLocAll" name="AllLocations" value="ALL" checked/>
                <label for="chkLocAll" style="padding-right: 10px;  background-color:#7fb0a4"><b>ALL</b></label>

                <input type="checkbox" id="chk2" name="Location" value="Ban" class="Location" checked/>
                <label for="chk2" style="padding-right: 10px; background-color:#7fb0a4"><b>RBEI</b></label>

                <input type="checkbox" id="chk3" name="Location" value="Si" class="Location" checked/>
                <label for="chk3" style="padding-right: 10px; background-color:#7fb0a4"><b>RBEU</b></label>

                @*<input type="checkbox" id="chk4" name="Location" value="Cob" class="Location" checked/>
                <label for="chk4" style="padding-right: 10px; background-color:#7fb0a4"><b>Coimbatore</b></label>*@

                <input type="checkbox" id="chk5" name="Location" value="Hc" class="Location" checked/>
                <label for="chk5" style="padding-right: 10px; background-color:#7fb0a4"><b>RBVH</b></label>

                <input type="checkbox" id="chk6" name="Location" value="Ply" class="Location" checked/>
                <label for="chk6" style="padding-right: 10px; background-color:#7fb0a4"><b>RBNA</b></label>

                <input type="checkbox" id="chk8" name="Location" value="Szh" class="Location" checked/>
                <label for="chk8" style="padding-right: 10px; background-color:#7fb0a4"><b>RBAC</b></label>

                <input type="checkbox" id="chk9" name="Location" value="Yh" class="Location" checked/>
                <label for="chk9" style="padding-right: 10px; background-color:#7fb0a4"><b>RBJP</b></label>

                <label style="text-align: left; top: 0px;font-size:14px;" for="View By"><b>VIEW BY:</b></label>

                <input type="radio" id="chkView1" name="ViewBy" value="Date" class="Viewby" checked />
                <label for="chkView1" style="padding-right: 10px; background-color:#7fc6e7;font-size:12px; padding:2px; text-align:center;"><b>Date</b></label>

                <input type="radio" id="chkView2" name="ViewBy" value="Week" class="Viewby" />
                <label for="chkView2" style="padding-right: 10px; background-color:#7fc6e7;font-size:12px; padding:2px; text-align:center;"><b>Week</b></label>

                <input type="radio" id="chkView3" name="ViewBy" value="Month" class="Viewby" />
                <label for="chkView3" style="padding-right: 10px; background-color:#7fc6e7;font-size:12px; padding:2px; text-align:center;"><b>Month</b></label>
                
                <label style="text-align: left;top: 0px; font-size:14px;" for="Type"><b>TYPE:</b></label>
                <input type="checkbox" id="chkTypeAll" name="AllTypes" value="ALL" checked/>
                <label for="chkTypeAll" style="padding-right: 10px; background-color:#a791bf"><b>ALL</b></label>

                <input type="checkbox" id="chkType1" name="Types" value="RBT" class="Type" checked/>
                <label for="chkType1" style="padding-right: 10px; background-color:#a791bf"><b>RBT</b></label>

                <input type="checkbox" id="chkType2" name="Types" value="Sys Test" class="Type" checked/>
                <label for="chkType2" style="padding-right: 10px; background-color:#a791bf"><b>Sys Test</b></label>

                <label style="text-align:left;top:0px;font-size:14px;" for="Year"><b>YEAR:</b></label>
                <select id="ddlYear" class="selectpicker" style="cursor: pointer; " data-live-search="true" data-actions-box="true" autocomplete="off" data-width="10px" data-display="static" data-dropup-auto="false"  ></select>


                <button  id="view" class="btn btn-outline-dark btn-sm" onclick="GenerateCPC(); return false;"><i class="fa dx-fa-button-content-reverse"></i><b>View</b></button>

                    
                </div>

                <div id="dates" style="padding-top:10px;">

                    <table style="float:left">
                        <tr>

                            <td class="">
                                <div class="dx-field">
                                    <div class="dx-field-label">Start Date</div>
                                    <div class="dx-field-value">
                                        <div id="sdate"></div>
                                    </div>
                                </div>
                            </td>

                            <td style="padding-left:20px;">
                                <div class="dx-field">
                                    <div class="dx-field-label">End Date</div>
                                    <div class="dx-field-value">
                                        <div id="edate"></div>
                                    </div>
                                </div>
                            </td>                         

                        </tr>
                       
                    </table>


                </div>




                @*<button style="float:left; padding-left:30px; align-content:center;" id="view" class="btn btn-outline-dark" onclick="GenerateCPC(); return false;"><i class="fa dx-fa-button-content-reverse" style="margin:2px;text-align:center;"></i><b>View</b></button>*@




            </div>

            <br />

            <div >
                <div id="date_dataGrid" style="height: 500px;"></div>
                <div id="week_dataGrid" style="height: 500px;"></div>
                <div id="month_dataGrid" style="height: 500px;"></div>
            </div>


        }


    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Ready</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Saved successfully
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
