
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async=async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLab - POSubDetails</title>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .dx-datagrid-headers.dx-state-disabled:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
            font-size: 17px;
            font-weight: bold;
        }

        .dx-datagrid-headers .dx-header-row {
            background-color: antiquewhite;
        }

        .dx-header-row {
            color: black;
        }
    </style>
    @section Scripts{
        <script src="~/Scripts/POSubItem.js"></script>
        <script type="text/javascript">

                                    //var BU_list, OEM_list, DEPT_list, Group_list, Item_list, OrderStatus_list, Fund_list, Currency_list, Mode_List;
                                    //var DifferenceofDates = "";
                                    //var trigger_toUpdateVKM = false;
                                    //var param_toUpdateVKM_RequestID = ""
                                    //$(document).ready(function () {
                                    //    localStorage.clear();

                                    //    $.ajax({

                                    //        type: "GET",
                                    //        url: "/POSubItem/Lookup",
                                    //        async: false,
                                    //        success: onsuccess_lookupdata,
                                    //        error: onerror_lookupdata
                                    //    })


                                    //    function onsuccess_lookupdata(response) {

                                    //        lookup_data = response.data;
                                    //        BU_list = lookup_data.BU_List;
                                    //        OEM_list = lookup_data.OEM_List;
                                    //        DEPT_list = lookup_data.DEPT_List;
                                    //        //if (lookup_data.Groups_List != null)
                                    //        //    Group_list = lookup_data.Groups_List;
                                    //        //else
                                    //        Group_list = lookup_data.Groups_test;//Groups_oldList;
                                    //        Item_list = lookup_data.Item_List;
                                    //        OrderStatus_list = lookup_data.OrderStatus_List;
                                    //        Fund_list = lookup_data.Fund_List;
                                    //        Currency_list = lookup_data.Currency_List;
                                    //        debugger;

                                    //    }

                                    //    function onerror_lookupdata(response) {
                                    //        alert("Error lookup");

                                    //    }

                                    //    $.ajax({

                                    //        type: "GET",
                                    //        url: "/POSubItem/GetMode",
                                    //        async: false,
                                    //        success: onsuccess_getMode,
                                    //        error: onerror_getMode
                                    //    })



                                    //    //Success function for Mode
                                    //    function onsuccess_getMode(response) {

                                    //        lookup_data = response.data;
                                    //        Mode_List = lookup_data;
                                    //        debugger;

                                    //    }


                                    //    function onerror_getMode(response) {
                                    //        alert("Error Getting Mode Data");

                                    //    }
                                    //    showgrid();
                                    //});


                                    //function showgrid() {
                                    //    debugger;
                                    //    $.ajax({
                                    //        type: "POST",
                                    //        url: "/POSubItem/GetPODetails",
                                    //        datatype: "json",
                                    //        success: function (data) {
                                    //            //debugger;
                                    //            if (data.data.length > 0) {
                                    //                debugger;
                                    //                //var res = JSON.parse(data.data.Data.Content);
                                    //                var res = eval(data.data);
                                    //                LoadDataGrid(res);

                                    //            }
                                    //        },
                                    //        error: function (jqXHR, exception) {
                                    //            debugger;
                                    //            var msg = '';
                                    //            if (jqXHR.status === 0) {
                                    //                msg = 'Not connect.\n Verify Network.';
                                    //            } else if (jqXHR.status == 404) {
                                    //                msg = 'Requested page not found. [404]';
                                    //            } else if (jqXHR.status == 500) {
                                    //                msg = 'Internal Server Error [500].';
                                    //            } else if (exception === 'parsererror') {
                                    //                msg = 'Requested JSON parse failed.';
                                    //            } else if (exception === 'timeout') {
                                    //                msg = 'Time out error.';
                                    //            } else if (exception === 'abort') {
                                    //                msg = 'Ajax request aborted.';
                                    //            } else {
                                    //                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                    //            }
                                    //            $('#post').html(msg);
                                    //        }
                                    //        });
                                    //        }

                                    //function LoadDataGrid(res) {

                                    //    debugger;

                                    //    $("#gridContainerPO").dxDataGrid({
                                    //        dataSource: res,
                                    //        columnAutoWidth: true,
                                    //        width: "97vw",
                                    //        height: "83vh",
                                    //        editing: {
                                    //            mode: "row",
                                    //            allowUpdating: true,
                                    //            //allowDeleting: true,
                                    //            //allowAdding: true,
                                    //            useIcons: true
                                    //        },
                                    //        searchPanel: {
                                    //            visible: true,
                                    //            width: 240,
                                    //            placeholder: "Search..."
                                    //        },
                                    //        filterRow: {
                                    //            visible: true

                                    //        },
                                    //        loadPanel: {
                                    //            enabled: true
                                    //        },
                                    //        headerFilter: {
                                    //            visible: true,
                                    //            applyFilter: "auto"
                                    //        },
                                    //        allowColumnReordering: true,
                                    //        grouping: {
                                    //            autoExpandAll: true,
                                    //        },
                                    //        groupPanel: {
                                    //            visible: true,
                                    //        },
                                    //        columnChooser: {
                                    //            enabled: true
                                    //        },
                                    //        showBorders: true,
                                    //        onContentReady: function (e) {
                                    //            //debugger;
                                    //            e.element.find('.dx-datagrid-headers').toggleClass('dx-state-disabled', e.component.hasEditData());
                                    //        },
                                    //        export: {
                                    //            enabled: true
                                    //        },
                                    //        columnFixing: {
                                    //            enabled: true
                                    //        },

                                    //        columns: [
                                    //            {
                                    //                type: "buttons",
                                    //                width: 60,
                                    //                alignment: "left",
                                    //                buttons: [
                                    //                    "edit", "delete",
                                    //                    {
                                    //                        hint: "Send to Inventory",   //button for adding data to HW Inventory
                                    //                        icon: "movetofolder",
                                    //                        visible: function (e) {

                                    //                            if (e.row.data.Currentstatus == 5) {           //Visibilty if orderstatus is delivered

                                    //                                return true;
                                    //                            }

                                    //                        },
                                    //                        onClick: function (e) {              //Sending the row data to the controller
                                    //                            //LinkToInventory(e.row.data);
                                    //                            debugger;
                                    //                            $("#popup1").dxPopup({
                                    //                                showTitle: true,
                                    //                                title: "Choose the Inventory",
                                    //                                visible: true,
                                    //                                hideOnOutsideClick: true,
                                    //                                //width: 450,
                                    //                                //height: 350,
                                    //                                resizeEnabled: true,
                                    //                                contentTemplate: function (container) {
                                    //                                    var scrollView = $("<div id='scrollView'></div>");
                                    //                                    //var content = $("<div></div>");
                                    //                                    //scrollView.append(content);
                                    //                                    scrollView.append('<div id="radioGroupContainer" style="padding-bottom: 20px;"></div>');
                                    //                                    scrollView.append('<form id="HwInvDetails" method = "post"></div>');
                                    //                                    scrollView.append('<div id="spareinv"></div>');
                                    //                                    scrollView.append('<div id="compinv" ></div>');
                                    //                                    scrollView.append('<div id="button"></div>');
                                    //                                    //content.text("test content").height(1000);
                                    //                                    scrollView.dxScrollView({
                                    //                                        height: '100%',
                                    //                                        width: '100%'

                                    //                                    });

                                    //                                    container.append(scrollView);

                                    //                                    return container;
                                    //                                }

                                    //                            });
                                    //                            $(function () {
                                    //                                $("#radioGroupContainer").dxRadioGroup({
                                    //                                    dataSource: ["Hardware Inventory", "Spare Inventory", "Component Inventory"],
                                    //                                    layout: "horizontal",
                                    //                                    onValueChanged: function (e) {
                                    //                                        const previousValue = e.previousValue;
                                    //                                        const newValue = e.value;
                                    //                                        // Event handling commands go here
                                    //                                        //alert("Button."+e.value)
                                    //                                        debugger;
                                    //                                        if (newValue == "Hardware Inventory") {
                                    //                                            debugger;
                                    //                                            $('#spareinv').hide();
                                    //                                            $('#compinv').hide();
                                    //                                            $('#button').show();
                                    //                                            $('#HwInvDetails').show();
                                    //                                        }
                                    //                                        else if (newValue == "Spare Inventory") {
                                    //                                            debugger;
                                    //                                            $('#HwInvDetails').hide();
                                    //                                            $('#compinv').hide();
                                    //                                            $('#spareinv').show();
                                    //                                            $('#button').hide();
                                    //                                        }
                                    //                                    }
                                    //                                });
                                    //                            });

                                    //                            $("#button").dxButton({
                                    //                                text: "Submit",
                                    //                                //type: "success",
                                    //                                //useSubmitBehavior: true,
                                    //                                onClick: function (e) {
                                    //                                    //Sending the row data to the controller
                                    //                                    debugger;
                                    //                                    LinkToInventory(e.form.data);
                                    //                                }

                                    //                            });

                                    //                            $("#spareinv").dxButton({
                                    //                                text: "Spare Test",

                                    //                            });
                                    //                            $("#compinv").dxButton({
                                    //                                text: "Comp Test",

                                    //                            });

                                    //                            $.ajax({
                                    //                                type: "POST",
                                    //                                //contentType: "application/json; charset=utf-8",
                                    //                                url: "/POSubItem/getPOdetails_inv",
                                    //                                data: { 'req': e.row.data },
                                    //                                //datatype: "json",
                                    //                                success: function (data) {

                                    //                                    debugger;

                                    //                                    $("#HwInvDetails").dxForm({
                                    //                                        //formData: {
                                    //                                        //    Remarks: data.data.L1Remarks,
                                    //                                        //    RequestDate: data.data.RequestDate
                                    //                                        //}

                                    //                                        formData: data.data[0],
                                    //                                        items: [{
                                    //                                            itemType: 'group',
                                    //                                            caption: 'Hardware Inventory Details',
                                    //                                            colCount: 2,
                                    //                                            items: [
                                    //                                                {
                                    //                                                    dataField: 'InventoryType',
                                    //                                                    caption: 'Inventory Type',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: Item_list,
                                    //                                                        displayExpr: 'Item_Name',
                                    //                                                        valueExpr: 'S_No',
                                    //                                                    },


                                    //                                                },

                                    //                                                {
                                    //                                                    dataField: 'SerialNo',
                                    //                                                    //width: 70,
                                    //                                                    caption: 'Serial Number',
                                    //                                                    /*dataType: 'number',*/
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Serial No. is required",
                                    //                                                        showColonAfterLabel: true,
                                    //                                                        showValidationSummary: true,
                                    //                                                        validationMessageMode: 'always',
                                    //                                                        validationMessagePosition: 'right',
                                    //                                                    }]
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'BondNo',
                                    //                                                    //width: 70,
                                    //                                                    caption: 'Bond Number',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Bond No. is required"
                                    //                                                    }]
                                    //                                                    /*dataType: 'number',*/

                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'BondDate',
                                    //                                                    caption: 'Bond Date',
                                    //                                                    editorType: 'dxDateBox',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Bond Date is required"
                                    //                                                    }]
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'AssetNo',
                                    //                                                    caption: 'Asset Number',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Asset No. is required"
                                    //                                                    }]
                                    //                                                    /*dataType: 'number',*/
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'HardwareResponsible',
                                    //                                                    caption: 'Hardware Responsible',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "HW Responsible is required"
                                    //                                                    }]
                                    //                                                    /*dataType: 'string',*/
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'HandoverTo',
                                    //                                                    caption: 'Handover To',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Handover To is required"
                                    //                                                    }]
                                    //                                                    /*dataType: 'string',*/
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'Mode',
                                    //                                                    caption: 'Mode',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: Mode_List,
                                    //                                                        displayExpr: 'Mode',
                                    //                                                        valueExpr: 'ID',
                                    //                                                    },
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Selecting Mode is required"
                                    //                                                    }]
                                    //                                                    /*dataType: 'string',*/
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'Remarks',
                                    //                                                    caption: 'Remarks',

                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "Remarks is required"
                                    //                                                    }]
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'ALMNo',
                                    //                                                    caption: 'ALM Number',
                                    //                                                    validationRules: [{
                                    //                                                        type: "required",
                                    //                                                        message: "ALM No. is required"
                                    //                                                    }]
                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'BU',
                                    //                                                    caption: 'BU',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: BU_list,
                                    //                                                        displayExpr: 'BU',
                                    //                                                        valueExpr: 'ID',
                                    //                                                        disabled: true,
                                    //                                                    },



                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'OEM',
                                    //                                                    caption: 'OEM',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: OEM_list,
                                    //                                                        displayExpr: 'OEM',
                                    //                                                        valueExpr: 'ID',
                                    //                                                        disabled: true,
                                    //                                                    },

                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'GROUP',
                                    //                                                    caption: 'Group',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: Group_list,
                                    //                                                        displayExpr: 'Group',
                                    //                                                        valueExpr: 'ID',
                                    //                                                        disabled: true,
                                    //                                                    },

                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'ItemDescription',
                                    //                                                    caption: 'Item Name',
                                    //                                                    //dataType: 'string',
                                    //                                                    //editorType: 'dxSelectBox',
                                    //                                                    //editorOptions: {
                                    //                                                    //    items: Item_list,
                                    //                                                    //    displayExpr: 'Item_Name',
                                    //                                                    //    valueExpr: 'S_No',
                                    //                                                    //    disabled: true,
                                    //                                                    //},


                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'ItemName',
                                    //                                                    caption: 'Item Name From Planner',
                                    //                                                    editorType: 'dxSelectBox',
                                    //                                                    editorOptions: {
                                    //                                                        items: Item_list,
                                    //                                                        displayExpr: 'Item_Name',
                                    //                                                        valueExpr: 'S_No',
                                    //                                                        disabled: true,
                                    //                                                    },

                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'POQuantity',
                                    //                                                    caption: 'Quantity',
                                    //                                                    editorOptions: {
                                    //                                                        disabled: true
                                    //                                                    },

                                    //                                                },
                                    //                                                {
                                    //                                                    dataField: 'UOM',
                                    //                                                    caption: 'UOM',
                                    //                                                    editorOptions: {
                                    //                                                        disabled: true
                                    //                                                    },

                                    //                                                },

                                    //                                                {
                                    //                                                    dataField: 'ActualDeliveryDate',
                                    //                                                    caption: 'Actual Delivery Date',
                                    //                                                    editorOptions: {
                                    //                                                        disabled: true
                                    //                                                    },

                                    //                                                },


                                    //                                            ],

                                    //                                        }],

                                    //                                    });

                                    //                                },
                                    //                            });

                                    //                        },
                                    //                    }
                                    //                 ],



                                    //                fixed: true,
                                    //                fixedPosition: "left"
                                    //            },
                                    //            {

                                    //                alignment: "center",
                                    //                columns: [
                                    //                    //{
                                    //                    //    dataField: "BU",
                                    //                    //    width: 70,
                                    //                    //    groupIndex: 0,
                                    //                    //    //setCellValue: function (rowData, value) {
                                    //                    //    //    debugger;
                                    //                    //    //    rowData.BU = value;

                                    //                    //    //},
                                    //                    //    //lookup: {
                                    //                    //    //    dataSource: function (options) {
                                    //                    //    //        debugger;
                                    //                    //    //        return {

                                    //                    //    //            store: BU_list,
                                    //                    //    //        };

                                    //                    //    //    },
                                    //                    //    //    valueExpr: "ID",
                                    //                    //    //    displayExpr: "BU"
                                    //                    //    //},
                                    //                    //    allowEditing: false
                                    //                    //},



                                    //                    //{
                                    //                    //    dataField: "OEM",
                                    //                    //    groupIndex: 0,
                                    //                    //    width: 90,
                                    //                    //    //lookup: {
                                    //                    //    //    dataSource: OEM_list,
                                    //                    //    //    valueExpr: "ID",
                                    //                    //    //    displayExpr: "OEM"
                                    //                    //    //},
                                    //                    //    allowEditing: false

                                    //                    //},
                                    //                    //{
                                    //                    //    dataField: "Dept",
                                    //                    //    groupIndex: 0,
                                    //                    //    caption: "Dept",
                                    //                    //    //setCellValue: function (rowData, value) {
                                    //                    //    //    debugger;
                                    //                    //    //    rowData.DEPT = value;
                                    //                    //    //    rowData.Group = null;

                                    //                    //    //},
                                    //                    //    width: 130,
                                    //                    //    //lookup: {
                                    //                    //    //    dataSource: function (options) {
                                    //                    //    //        debugger;
                                    //                    //    //        return {

                                    //                    //    //            store: DEPT_list,
                                    //                    //    //            filter: options.data ? ["Outdated", "=", false] : null


                                    //                    //    //        };
                                    //                    //    //    },

                                    //                    //    //    valueExpr: "ID",
                                    //                    //    //    displayExpr: "DEPT"

                                    //                    //    //},
                                    //                    //    allowEditing: false
                                    //                    //},
                                    //                    //{
                                    //                    //    dataField: "GROUP",
                                    //                    //    groupIndex: 0,
                                    //                    //    width: 100,
                                    //                    //    //validationRules: [{ type: "required" }],
                                    //                    //    //lookup: {
                                    //                    //    //    dataSource: function (options) {

                                    //                    //    //        return {

                                    //                    //    //            store: Group_list,

                                    //                    //    //            filter: options.data ? ["Dept", "=", options.data.DEPT] : null
                                    //                    //    //        };

                                    //                    //    //    },
                                    //                    //    //    valueExpr: "ID",
                                    //                    //    //    displayExpr: "Group"
                                    //                    //    //},
                                    //                    //    allowEditing: false

                                    //                    //},

                                    //                    {
                                    //                        dataField: "RequestID",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },
                                    //                    {
                                    //                        dataField: "ItemName",
                                    //                        //width: 400,
                                    //                        groupIndex: 0,
                                    //                        //validationRules: [{ type: "required" }],

                                    //                        //CAS 2: testing for same masterlist for bus
                                    //                        lookup: {
                                    //                            dataSource: function (options) {
                                    //                                //debugger;
                                    //                                return {


                                    //                                    store: Item_list,

                                    //                                    //filter: options.data ? [["BU", "=", BU_forItemFilter/*options.data.BU*/], 'and', ["Deleted", "=", false]] : null
                                    //                                }



                                    //                            },

                                    //                            valueExpr: "S_No",
                                    //                            displayExpr: "Item_Name"
                                    //                        },

                                    //                        //calculateSortValue: function (data) {
                                    //                        //    debugger;
                                    //                        //    const value = this.calculateCellValue(data);
                                    //                        //    return this.lookup.calculateCellValue(value);
                                    //                        //},
                                    //                        allowEditing: false

                                    //                    },

                                    //                    //{
                                    //                    //    dataField: "Unit_Price",
                                    //                    //    caption: "Unit Price",
                                    //                    //    dataType: "number",
                                    //                    //    format: { type: "currency", precision: 0 },
                                    //                    //    valueFormat: "#0",
                                    //                    //    allowEditing: false,
                                    //                    //    validationRules: [{ type: "required" }, {
                                    //                    //        type: "range",
                                    //                    //        message: "Please enter valid price > 0",
                                    //                    //        min: 0.01,
                                    //                    //        max: Number.MAX_VALUE
                                    //                    //    }],
                                    //                    //    allowEditing: false,
                                    //                    //    visible: false


                                    //                    //},
                                    //                    //{
                                    //                    //    dataField: "Total_Price",
                                    //                    //    width: 100,
                                    //                    //    calculateCellValue: function (rowData) {

                                    //                    //        if (rowData.Required_Quantity > 0 && rowData.Unit_Price > 0) {
                                    //                    //            return rowData.Unit_Price * rowData.Required_Quantity;
                                    //                    //        }
                                    //                    //        else
                                    //                    //            return 0.0;
                                    //                    //    },

                                    //                    //    dataType: "number",
                                    //                    //    format: { type: "currency", precision: 0 },
                                    //                    //    valueFormat: "#0",
                                    //                    //    allowEditing: false
                                    //                    //},


                                    //                    {
                                    //                        dataField: "VKMYear",
                                    //                        caption: "VKM Yr",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },
                                    //                    {
                                    //                        dataField: "PONumber",
                                    //                        caption: "PO",
                                    //                        allowEditing: false,
                                    //                    },
                                    //                    {
                                    //                        dataField: "PIFID",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },
                                    //                    , {
                                    //                        dataField: "Fund",
                                    //                            setCellValue: function (rowData, value) {
                                    //                                //debugger;
                                    //                                rowData.Fund = value;

                                    //                            },
                                    //                            lookup: {
                                    //                                dataSource: function (options) {
                                    //                                    //debugger;
                                    //                                    return {

                                    //                                        store: Fund_list,
                                    //                                    };

                                    //                                },
                                    //                                valueExpr: "ID",
                                    //                                displayExpr: "Fund"
                                    //                        },
                                    //                        allowEditing: false,
                                    //                    },
                                    //                    {
                                    //                        dataField: "FundCenter",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },
                                    //                    , {
                                    //                        dataField: "BudgetCode",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },

                                    //                    , {
                                    //                        dataField: "ItemDescription",
                                    //                        width: 250,
                                    //                        allowEditing: false
                                    //                    },
                                    //                     {
                                    //                        dataField: "POQuantity",
                                    //                         allowEditing: false,
                                    //                        caption: "PO Qty"
                                    //                    },
                                    //                    , {
                                    //                        dataField: "UOM",
                                    //                        allowEditing: false,
                                    //                        visible: false
                                    //                    },

                                    //                    {
                                    //                        dataField: "UnitPrice",
                                    //                        allowEditing: false

                                    //                    },
                                    //                    {
                                    //                        dataField: "Netvalue",
                                    //                        allowEditing: false,

                                    //                    },
                                    //                     {
                                    //                        dataField: "Netvalue_USD",
                                    //                         //allowEditing: false,
                                    //                         visible: false
                                    //                    },

                                    //                    , {
                                    //                        dataField: "Currency",
                                    //                        allowEditing: false,
                                    //                        visible: false,
                                    //                            setCellValue: function (rowData, value) {
                                    //                                //debugger;
                                    //                                rowData.Currency = value;

                                    //                            },
                                    //                            lookup: {
                                    //                                dataSource: function (options) {
                                    //                                    //debugger;
                                    //                                    return {

                                    //                                        store: Currency_list,
                                    //                                    };

                                    //                                },
                                    //                                valueExpr: "ID",
                                    //                                displayExpr: "Currency"
                                    //                            },
                                    //                    }
                                    //                    ,  {
                                    //                        dataField: "Plant",
                                    //                        allowEditing: true,
                                    //                    },
                                    //                     {
                                    //                         dataField: "POCreatedOn",
                                    //                         caption: "Order Dt",
                                    //                         dataType: "date",
                                    //                         allowEditing: false,
                                    //                    },
                                    //                    {
                                    //                        dataField: "VendorName",
                                    //                        caption: "Vendor",
                                    //                        allowEditing: false,
                                    //                    },
                                    //                    //{
                                    //                    //    dataField: "DeliveryDateRequested",
                                    //                    //    allowEditing: true,
                                    //                    //    caption: "Delivery Requested"
                                    //                    //},
                                    //                    {
                                    //                        caption: "Tentative",
                                    //                        columns: [

                                    //                            {
                                    //                                dataField: "CW"
                                    //                            },
                                    //                            {
                                    //                                dataField: "TentativeDeliveryDate",
                                    //                                allowEditing: true,
                                    //                                caption: "Dt",
                                    //                                dataType: "date",
                                    //                            }
                                    //                        ]
                                    //                    },
                                    //                    {
                                    //                        dataField: "ActualDeliveryDate",
                                    //                        allowEditing: true,
                                    //                        caption: "Actual Dt",
                                    //                        dataType: "date",
                                    //                    },
                                    //                    {
                                    //                        dataField: "DifferenceinDeliveRyDate",
                                    //                        allowEditing: false,
                                    //                        caption: "Plan-Actual"
                                    //                    },

                                    //                    , {
                                    //                        dataField: "ActalAmt",
                                    //                        visible: false
                                    //                    }
                                    //                    , {
                                    //                        dataField: "NegotiatedAmt",
                                    //                        visible: false
                                    //                    }
                                    //                    , {
                                    //                        dataField: "Savings",
                                    //                        visible: false
                                    //                    }
                                    //                    , {
                                    //                        dataField: "Currentstatus",
                                    //                        caption: "Status",
                                    //                        setCellValue: function (rowData, value) {
                                    //                            //debugger;
                                    //                            rowData.Currentstatus = value;
                                    //                            //if (rowData.Currentstatus === "Delivered") {
                                    //                            //    buttons[0].visible = true;
                                    //                            //}


                                    //                        },
                                    //                        lookup: {
                                    //                            dataSource: function (options) {
                                    //                                //debugger;
                                    //                                return {

                                    //                                    store: OrderStatus_list,
                                    //                                };

                                    //                            },
                                    //                            valueExpr: "ID",
                                    //                            displayExpr: "OrderStatus"
                                    //                        },
                                    //                    }
                                    //                    , "PORemarks"


                                    //                ]
                                    //            }],
                                    //        onEditorPreparing: function (e) {
                                    //            var component = e.component,
                                    //                rowIndex = e.row && e.row.rowIndex;//new elements are positioned on the rowindex

                                    //            if (e.dataField === "ActualDeliveryDate") {
                                    //                //debugger;
                                    //                var onValueChanged = e.editorOptions.onValueChanged;//event for BU; makes sure that the BU is modified data
                                    //                e.editorOptions.onValueChanged = function (e) {
                                    //                    onValueChanged.call(this, e);
                                    //                    //debugger;
                                    //                    var tentativedeldt = component.cellValue(rowIndex, "TentativeDeliveryDate");

                                    //                    if (tentativedeldt != undefined && tentativedeldt != null && tentativedeldt != "" && e.value != undefined && e.value != null && e.value != "") {
                                    //                        //debugger;
                                    //                        $.ajax({

                                    //                            type: "post",
                                    //                            url: "/POSubItem/GetDateDifference",
                                    //                            data: { Tentative: component.cellValue(rowIndex, "TentativeDeliveryDate"), Actual: e.value },
                                    //                            datatype: "json",
                                    //                            traditional: true,
                                    //                            success: function (data) {
                                    //                                //debugger;



                                    //                                DifferenceofDates = data.data;
                                    //                                window.setTimeout(function () {
                                    //                                    //debugger;
                                    //                                    component.cellValue(rowIndex, "DifferenceinDeliveRyDate", DifferenceofDates);
                                    //                                }, 1000);



                                    //                            }
                                    //                        })
                                    //                        //// Emulating a web service call

                                    //                    }
                                    //                    else {
                                    //                        window.setTimeout(function () {
                                    //                            //debugger;
                                    //                            component.cellValue(rowIndex, "DifferenceinDeliveRyDate", "");
                                    //                        }, 1000);
                                    //                    }
                                    //                    //if (component.cellValue(rowIndex, "RequestID") != undefined && component.cellValue(rowIndex, "RequestID") != null && component.cellValue(rowIndex, "RequestID") != "") {
                                    //                    //    debugger;
                                    //                    //    $.ajax({

                                    //                    //        type: "post",
                                    //                    //        url: "/POSubItem/UpdateDetailsinVKM",
                                    //                    //        data: { RequestID: component.cellValue(rowIndex, "RequestID") },
                                    //                    //        datatype: "json",
                                    //                    //        traditional: true,
                                    //                    //        success: function (data) {
                                    //                    //            debugger;
                                    //                    //            // reviewer_2 = data;


                                    //                    //        }
                                    //                    //    })
                                    //                    //}
                                    //                    trigger_toUpdateVKM = true;
                                    //                    //debugger;
                                    //                    param_toUpdateVKM_RequestID = component.cellValue(rowIndex,"RequestID");
                                    //                }
                                    //            }


                                    //            if (e.dataField === "TentativeDeliveryDate") {
                                    //                //debugger;
                                    //                //var Tentaive = new Date(e.value).toISOString().slice(0, 10);
                                    //                var onValueChanged = e.editorOptions.onValueChanged;//event for BU; makes sure that the BU is modified data
                                    //                e.editorOptions.onValueChanged = function (e) {
                                    //                    onValueChanged.call(this, e);
                                    //                    //debugger;
                                    //                    //if (component.cellValue(rowIndex, "RequestID") != undefined && component.cellValue(rowIndex, "RequestID") != null && component.cellValue(rowIndex, "RequestID") != "") {
                                    //                    //    debugger;
                                    //                    //    $.ajax({

                                    //                    //        type: "post",
                                    //                    //        url: "/POSubItem/UpdateDetailsinVKM",
                                    //                    //        data: { RequestID: component.cellValue(rowIndex, "RequestID") },
                                    //                    //        datatype: "json",
                                    //                    //        traditional: true,
                                    //                    //        success: function (data) {
                                    //                    //            debugger;
                                    //                    //            // reviewer_2 = data;


                                    //                    //        }
                                    //                    //    })
                                    //                    //}
                                    //                    trigger_toUpdateVKM = true;
                                    //                    //debugger;
                                    //                    param_toUpdateVKM_RequestID = component.cellValue(rowIndex,"RequestID");

                                    //                    var actaldeldt = component.cellValue(rowIndex, "ActualDeliveryDate");
                                    //                    if (actaldeldt != undefined && actaldeldt != null && actaldeldt != "" && e.value != undefined && e.value != null && e.value != "") {
                                    //                        //debugger;
                                    //                        $.ajax({

                                    //                            type: "post",
                                    //                            url: "/POSubItem/GetDateDifference",
                                    //                            data: { Tentative: e.value, Actual: component.cellValue(rowIndex, "ActualDeliveryDate") },
                                    //                            datatype: "json",
                                    //                            traditional: true,
                                    //                            success: function (data) {
                                    //                                //debugger;

                                    //                                DifferenceofDates = data.data;
                                    //                                //// Emulating a web service call
                                    //                                window.setTimeout(function () {
                                    //                                    //debugger;
                                    //                                    component.cellValue(rowIndex, "DifferenceinDeliveRyDate", DifferenceofDates);
                                    //                                }, 1000);



                                    //                            }
                                    //                            , error: function (data) {
                                    //                                window.setTimeout(function () {
                                    //                                    //debugger;
                                    //                                    component.cellValue(rowIndex, "DifferenceinDeliveRyDate", "");
                                    //                                }, 1000);

                                    //                            }
                                    //                        })


                                    //                    }
                                    //                    else {
                                    //                        window.setTimeout(function () {
                                    //                            //debugger;
                                    //                            component.cellValue(rowIndex, "DifferenceinDeliveRyDate", "");
                                    //                        }, 1000);
                                    //                    }
                                    //                    //debugger;


                                    //                    //// Emulating a web service call

                                    //                    //window.setTimeout(function () {
                                    //                    //    debugger;
                                    //                    //    component.cellValue(rowIndex, "DifferenceinDeliveRyDate", DifferenceofDates);
                                    //                    //}, 1000)
                                    //                }
                                    //            }


                                    //            if (e.dataField === "Currentstatus") {

                                    //                var onValueChanged = e.editorOptions.onValueChanged;//event for BU; makes sure that the BU is modified data
                                    //                e.editorOptions.onValueChanged = function (e) {
                                    //                    onValueChanged.call(this, e);
                                    //                    //debugger;

                                    //                    //if (component.cellValue(rowIndex, "RequestID") != undefined && component.cellValue(rowIndex, "RequestID") != null && component.cellValue(rowIndex, "RequestID") != "") {
                                    //                    //    debugger;
                                    //                    //    $.ajax({

                                    //                    //        type: "post",
                                    //                    //        url: "/POSubItem/UpdateDetailsinVKM",
                                    //                    //        data: { RequestID: component.cellValue(rowIndex, "RequestID") },
                                    //                    //        datatype: "json",
                                    //                    //        traditional: true,
                                    //                    //        success: function (data) {
                                    //                    //            debugger;
                                    //                    //            // reviewer_2 = data;


                                    //                    //        }
                                    //                    //    })
                                    //                    //}
                                    //                    trigger_toUpdateVKM = true;
                                    //                    //debugger;
                                    //                    param_toUpdateVKM_RequestID = component.cellValue(rowIndex,"RequestID");
                                    //                }
                                    //            }
                                    //            //debugger;


                                    //        },
                                    //        onRowInserting: function (e) {
                                    //            //debugger;
                                    //            $.notify(" Your Purchase Order details is being added...Please wait!", {
                                    //                globalPosition: "top center",
                                    //                className: "success"
                                    //            })
                                    //            Selected = [];
                                    //            //var LeadTime_tocalc_ExpReqdDt;
                                    //            //debugger;
                                    //            // e.data.Total_Price = e.data.Unit_Price * e.data.Required_Quantity;
                                    //            // e.data.Reviewed_Cost = e.data.Unit_Price * e.data.Reviewed_Quantity;
                                    //            Selected.push(e.data);
                                    //            //debugger;
                                    //            Save_POdata(Selected);
                                    //        },
                                    //        onRowUpdated: function (e) {
                                    //            $.notify(" Your Purchase Order details is being Updated...Please wait!", {
                                    //                globalPosition: "top center",
                                    //                className: "success"
                                    //            })
                                    //            Selected = [];
                                    //            //var LeadTime_tocalc_ExpReqdDt;
                                    //            //debugger;
                                    //            // e.data.Total_Price = e.data.Unit_Price * e.data.Required_Quantity;
                                    //            // e.data.Reviewed_Cost = e.data.Unit_Price * e.data.Reviewed_Quantity;
                                    //            Selected.push(e.data);
                                    //            //debugger;
                                    //            Save_POdata(Selected);








                                    //        },

                                    //    });
                                    //}

                                    ////Function for passing the row to the controller
                                    //function LinkToInventory(id1) {
                                    //    //debugger;
                                    //    $.ajax({
                                    //        type: "POST",
                                    //        //contentType: "application/json; charset=utf-8",
                                    //        url: "/POSubItem/LinkToInventory",
                                    //        data: { 'req': id1},
                                    //        //datatype: "json",
                                    //        success: function (data) {
                                    //            $.notify(" Added to Inventory!", {
                                    //                globalPosition: "top center",
                                    //                className: "success"
                                    //            })
                                    //            //debugger;

                                    //        },
                                    //        error: function (jqXHR, exception) {
                                    //            //debugger;
                                    //            var msg = '';
                                    //            if (jqXHR.status === 0) {
                                    //                msg = 'Not connect.\n Verify Network.';
                                    //            } else if (jqXHR.status == 404) {
                                    //                msg = 'Requested page not found. [404]';
                                    //            } else if (jqXHR.status == 500) {
                                    //                msg = 'Internal Server Error [500].';
                                    //            } else if (exception === 'parsererror') {
                                    //                msg = 'Requested JSON parse failed.';
                                    //            } else if (exception === 'timeout') {
                                    //                msg = 'Time out error.';
                                    //            } else if (exception === 'abort') {
                                    //                msg = 'Ajax request aborted.';
                                    //            } else {
                                    //                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                    //            }
                                    //            $('#post').html(msg);
                                    //        },
                                    //    });
                                    //}



                                    //function Save_POdata(id1) {
                                    //                //debugger;
                                    //                $.ajax({
                                    //                    type: "POST",
                                    //                    //contentType: "application/json; charset=utf-8",
                                    //                    url: "/POSubItem/Save_POdata",
                                    //                    data: {'req': id1[0] },
                                    //                    //datatype: "json",
                                    //                    success: function (data) {
                                    //                        $.notify(" Updated Successfully!", {
                                    //                            globalPosition: "top center",
                                    //                            className: "success"
                                    //                        })
                                    //                        //debugger;
                                    //                        if (trigger_toUpdateVKM) {
                                    //                            $.ajax({

                                    //                                type: "post",
                                    //                                url: "/POSubItem/UpdateDetailsinVKM",
                                    //                                data: { RequestID: param_toUpdateVKM_RequestID },
                                    //                                datatype: "json",
                                    //                                traditional: true,
                                    //                                success: function (data) {
                                    //                                    //debugger;
                                    //                                    // reviewer_2 = data;
                                    //                                    trigger_toUpdateVKM = false;
                                    //                                    param_toUpdateVKM_RequestID = "";

                                    //                                }
                                    //                            })

                                    //                        }

                                    //                    },
                                    //                    error: function (jqXHR, exception) {
                                    //                        debugger;
                                    //                        var msg = '';
                                    //                        if (jqXHR.status === 0) {
                                    //                            msg = 'Not connect.\n Verify Network.';
                                    //                        } else if (jqXHR.status == 404) {
                                    //                            msg = 'Requested page not found. [404]';
                                    //                        } else if (jqXHR.status == 500) {
                                    //                            msg = 'Internal Server Error [500].';
                                    //                        } else if (exception === 'parsererror') {
                                    //                            msg = 'Requested JSON parse failed.';
                                    //                        } else if (exception === 'timeout') {
                                    //                            msg = 'Time out error.';
                                    //                        } else if (exception === 'abort') {
                                    //                            msg = 'Ajax request aborted.';
                                    //                        } else {
                                    //                            msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                    //                        }
                                    //                        $('#post').html(msg);
                                    //                    },
                                    //                });
                                    //            }
        </script>
    }
</head>



<body>


    @*<div>
            <img id="loader" class="center" src="~/Content/images/loading1.gif" />
        </div>*@

    <table style="width:95vw;">
        <tr>
            <td align="center">
                <h2><b> Bonaparte View </b></h2>
            </td>
        </tr>
        <tr>
            <td>

                <div id="gridContainerPO" @*style="width:120vw;"*@></div>

            </td>

        </tr>
    </table>
    <div id="popup1" style="display:none;">
        @*<div id="radioGroupContainer" style="margin-bottom: 20px;"></div>

            <div id="HwInvDetails" style="padding-top: 20px;"></div>
            <div id="button"></div>*@
        @*<button id="button" type="button"></button>*@

    </div>
    @*<div id="popup2" style="display:none;">
            <div id="HwInvDetails"></div>
        </div>*@
</body>
</html>