@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.box {
    overflow: hidden;
}

.contextNav {
    display: block;
}

.selected {
    display: block;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.entry-content {
    background-color: #edf0f0;
}
.entry-content > *:not(:last-child) {
    margin-bottom: 1rem;
}
h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: #0d0d0d;
    /*font-family: Roboto, sans-serif;*/
    /*font-family:  Arial, Helvetica, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-wrap: break-word;
    padding: 20px 20px 0px 700px;
  
}
.checklist_wrap .box {
    display: flex;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

.twothirds last box tab {
    padding: 20px 20px 10px 700px;
    
}

.center {
    margin: auto;
    /*width: 100%;*/
    padding: 5px;
    margin-left: 300px;
}

.card-center {
    margin: auto;
    width: 100%;
    padding: 5px;
    /*margin-left: 50px;*/
}




.checklist-wrap {
    display: flex;
    /*  padding-top: 0.5em;*/
    padding-right: 0.25em;
    padding-left: 0.15em;
}

.contextNav.onethird {
    background-color: transparent;
   
}

.checklist-select li {
    text-align: right;
    background-color: #4080ad;
    color: #fff;
    /* background: #00a5b5; */
  padding:0.75em;
    margin-bottom: 0.15em;
    text-decoration: none;
    marker: none;
    list-style-type: none;
}

.checklist-select > ul li  > span.tab-label {
    width: 100%;
    display: block;
    margin-top: 0.2rem;
    height: 100%; background-color: transparent;
    color: #0067b8;
}

.checklist-select li.active {
/*   // background-color: #0067b8;*/
    background-color: #fff;
    color: #0067b8;
    text-decoration: none;
    marker: none;
}

.checklist-select li:hover {
    cursor: pointer;
    color: #0067b8;
    text-decoration: none;
    marker: none;
}

@media only screen and (min-width:609px) {

    .contextNav {
        display: block;
        inline-size: 250px;
       
    }

    .checklist-select{
        display: block;
        inline-size:200px;
       padding-left:0.75em;
        text-decoration:none;
        marker:none;
        padding: 0.1px
    }
       /* .checklist-select > ul {
            width: 250px;
            height: 250px
        }

            .checklist-select > ul li  {
                flex-wrap: wrap;
            }*/
/*        .checklist-select > ul li > span {
            width: 100%;
            height: 50%;
        }*/

            .checklist-select > ul li > span.tab-label {
                width: 100%;
                display: block;
                margin-top: 5rem;
                height: 100%
            }
    .checklist-wrap .box {
        display: none;
        opacity: 0;

        /*transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;*/
    }

    .checklist-wrap .selected {
        display: block;
        opacity: 1;
        /*transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;*/
    }

    .checklist-wrap .box .deptBox > div {
        display: none;
    }

    .checklist-wrap .selected .deptBox > div {
        display: block;
    }

    .albums {
        /*display: grid;*/
        grid-template-columns: repeat(1, minmax(660px, 20px));
        gap: 1em;
        margin: 1em;
    }

    .album_details h2 {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 0.25em;
    }

    .album__artwork {
        width: 70%;
        height: 70%;
        /*border-radius: 1em;*/
    }

    .album {
        /* background: #b6ede8;*/
        background-color: #e3efe8;
        background-image: linear-gradient(215deg, #e3efe8 0%, #0067b8 294%);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        border-radius: 0.5em;
       /* display: grid;*/
        /*grid-template-columns: 100px 150px;
    gap: -5.5em;*/
        align-items: center;
        color: white;
        font-weight: 100;
        /*height: 100px;*/
        caption-side: top;
    }

    .album-new {
        /*  background: linear-gradient(to right, #eff1f2, #e0e2e5);*/
        background-color: #e3efe8;
        background-image: linear-gradient(315deg, #e3efe8 0%, #0067b8 294%);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        border-radius: 0.5em;
        /* gap: 1.5em;*/

        color: white;
        font-weight: 100;
        height: 100px;
        caption-side: top;
       
    }

    .main_switch {
        width: 8em;
        margin-left: auto;
        margin-right: auto;
        /*padding: 10px;*/
        position: center;
        position: absolute;
        height: 9em;
        /*border-radius: 1em;*/
    }

    .switch-toggle {
        float: left;
        background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
        /*margin-left: auto;
        margin-right: auto;*/
        /*margin-top: 70px;*/
        margin-left: 230px;
        width: 10em;
        position: center;
    }

        .switch-toggle input {
            position: absolute;
            opacity: 0;
            height: 30px;
        }

            .switch-toggle input + label {
                padding: 9px;
                height: 50px;
                float: left;
                color: black;
                font-weight: bold;
                cursor: pointer;
                width: 50px;
                font-size: 25px;

            }

            .switch-toggle input:checked + #onlabel {
                background: Green;
            }

            .switch-toggle input:checked + #offlabel {
                background: red;
            }

    .slide-border {
        /*width: 120px;
        height: 50px;*/
        width: 95px;
        height: 50px;
        border: 2px solid #f0ebeb;
        border-radius: 130px;
        margin-bottom: 25px;
        padding: 1px;
        background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
        box-shadow: 0 0 0 2px #fbfbfb;
        cursor: pointer;
    }

        .slide-border:last-child {
            margin-bottom: 0;
        }

    input[type="checkbox"] {
        display: none;
    }

    .slide-border label {
        position: relative;
        display: inline-block;
        /*width: 110px;
        height: 40px;*/
        width: 90px;
        height: 40px;
        background: #d13613;
        border-radius: 80px;
        /*border-radius: 80px;*/
        cursor: pointer;
        box-shadow: inset 0 0 16px rgba(0,0,0,.3);
        transition: background .5s;
    }
    input[type="checkbox"]:checked + label {
        background: #13d162;
    }

    .handle {
        position: absolute;
        top: -5px;
        left: -5px;
        /*width: 50px;
        height: 50px;*/
        width: 50px;
        height: 50px;
        border: 1px solid #e5e5e5;
        background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
        border-radius: 50%;
        box-shadow: 3px 5px 10px 0 rgba(0,0,0,.4);
        transition: left .4s;
    }

    input[type="checkbox"]:checked + label > .handle {
        left: calc(100% - 70px + 25px);
    }

    
}


