@model LC_Reports_V1.Models.LCfilterInfo

@{
    ViewBag.Title = "Test System Not Loaded Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title>Test System Not Loaded Status </title>
<h2>Test System Not Loaded Status</h2>

