
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <title>SmartLab - FAQ</title>
    <style>
        *, *:before, *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }

        .accordion a {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding: 1rem 3rem 1rem 1rem;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border-bottom: 1px solid #e5e5e5;
        }

            .accordion a:hover,
            .accordion a:hover::after {
                cursor: pointer;
                color: #ff5353;
            }

                .accordion a:hover::after {
                    border: 1px solid #ff5353;
                }

            .accordion a.active {
                color: #ff5353;
                border-bottom: 1px solid #ff5353;
            }

            .accordion a::after {
                font-family: 'Ionicons';
                content: '\+';
                position: absolute;
                float: right;
                right: 1rem;
                font-size: 1rem;
                color: #7288a2;
                padding: 5px;
                width: 30px;
                height: 30px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid #7288a2;
                text-align: center;
            }

            .accordion a.active::after {
                font-family: 'Ionicons';
                content: '\-';
                color: #ff5353;
                border: 1px solid #ff5353;
            }

        .accordion .content {
            opacity: 0;
            padding: 0 1rem;
            max-height: 0;
            border-bottom: 1px solid #e5e5e5;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

            .accordion .content p {
                font-size: 1rem;
                font-weight: 300;
            }

            .accordion .content.active {
                opacity: 1;
                padding: 1rem;
                max-height: 100%;
                -webkit-transition: all 0.35s ease 0.15s;
                -o-transition: all 0.35s ease 0.15s;
                transition: all 0.35s ease 0.15s;
            }
    </style>
</head>
<body>
    <header>
    </header>

    <div class="container">

        @*<h2>Lab Equipment Planner FAQ</h2>*@
        <div>
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/fq.png" style="width:50px;height:55px;" alt="Lab Equipment Planner FAQ" />
                    </td>
                    <td><h2 style="text-align:center;margin-top:10px;"><b> Lab Equipment Planner FAQ </b></h2></td>
                </tr>
            </table>
        </div>

        <div class="accordion">
            <div class="accordion-item">
                <a>How to raise a request for a new Item?</a>
                <div class="content">
                    <p>
                        Use the "Add New" option in the Request Module.
                        <img src="~/Content/images/add.png" />
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How to Edit a request entry?</a>
                <div class="content">
                    <p>
                        Use the edit button along side the Item that you want to Edit -
                        <img src="~/Content/images/edit_new.png" />
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How to Delete a request entry?</a>
                <div class="content">
                    <p>
                        Use the Delete button along side the Item that you want to Delete -
                        <img src="~/Content/images/Delete.png" />
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How to Submit a request entry?</a>
                <div class="content">
                    <p>
                        Use the Submit button along side the Item that you want to Submit -
                        <img src="~/Content/images/Submit.png" />
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>What is the scope of “Submit All”?</a>
                <div class="content">
                    <p>All the Request Items Present in your queue will move to the next level of review.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>What do I do when I have to place request for an Item not available in the request form?</a>
                <div class="content">
                    <p>
                        Kindly contact the VKM SPOCs in the respective BU.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Can I view my request Items after I submit them?</a>
                <div class="content">
                    <p>Yes, Your history of requests will be retained in your view as well as you can use the Export Feature.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Can I track the status of my requests?</a>
                <div class="content">
                    <p>Yes, Use the Request Status option available in your view to monitor the change of Request Status.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Can I view the request items of my peer EMs ?</a>
                <div class="content">
                    <p>Yes, Use the Export Feature on the top right of VKM Requests to View your history of requests and other requests placed in your department</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Is there any options available if EM/HOE is unavailable for a particular period of time?</a>
                <div class="content">
                    <p>Yes, Proxy can be assigned via sending a request mail to SmartLab Tools Team. Please refer the Contact Page for details.</p>
                </div>
            </div>
            @*<div class="accordion-item">
                <a>Can there be multiple proxies assigned for an EM/HOE?</a>
                <div class="content">
                    <p>EM/HOE can have a single unique proxy.</p>
                </div>
            </div>*@
        </div>


    </div>
    <div>
        <table style="margin-top:50px; margin-left:100px;">
            <tr>
                <td>
                    
                    @Html.ActionLink("Click here ", "DownloadTemplate", new { })
                    to know more about SmartLab Budgeting 3.0.


                </td>
                
            </tr>
            <tr>
                <td>
                    Got a question? We're here to answer! If you don't see your question here, drop us a line on our  <a href="http://smartlab.apac.bosch.com/Budgeting/Contact">Contact Page.</a>

                </td>
            </tr>
               
           
        </table>
        
    </div>
    <div align="center">
        <p align="center">
            <br />
            <br />
                  </p>
    </div>
    <script>
        const items = document.querySelectorAll(".accordion a");

        function toggleAccordion() {
            this.classList.toggle('active');
            this.nextElementSibling.classList.toggle('active');
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>
</body>
</html>

