@{
    ViewData["Title"] = "LabAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <title>Equipment/SW Requests</title>
    <style>
        section {
            padding: 25px;
        }
    </style>

    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @section scripts{


        <script>
            var OEM_list;
            var dataGridLEP;
            var dataGrid;
            //Ajax call to Get Request Item Data
            $.ajax({
                type: "GET",
                url: encodeURI("../Admin_Lab/GetLabData"),
                success: OnSuccess_GetData,
                error: OnError_GetData
            });


            function OnSuccess_GetData(response) {
                var objdata = (response.data);
                //var updated_TotalPrice;

                dataGridLEP = $("#LabsTable").dxDataGrid({

                    dataSource: objdata,
                    editing: {
                        mode: "row",
                        allowUpdating: true,
                        allowDeleting: false,
                        allowAdding: false,
                        useIcons: true
                    },
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    columnChooser: {
                        enabled: true
                    },
                    filterRow: {
                        visible: true

                    },
                    headerFilter: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    selection: {
                        applyFilter: "auto"
                    },
                    // repaintChangesOnly: true,
                    paging: {
                        pageSize: 15
                    },
                    searchPanel: {
                        visible: true,
                        width: 240,
                        placeholder: "Search Labs..."
                    },
                    loadPanel: {
                        enabled: true
                    },
                    onEditorPreparing: function (e) {


                    },

                    columns: [
                        {
                            type: "buttons",
                            width: 100,
                            alignment: "left",
                            buttons: [
                                "edit"]
                        },
                        {

                            alignment: "center",
                            columns: [
                                {
                                    dataField: "DisplayName",
                                    caption: "Lab Name",
                                    allowEditing: false

                                },
                                {
                                    dataField: "OEM",
                                    caption: "Assigned OEM",
                                    validationRules: [{ type: "required" }],

                                    lookup: {
                                        dataSource: OEM_list,
                                        valueExpr: "ID",
                                        displayExpr: "OEM"
                                    }
                                },

                            ]
                        }],
                    export: {
                        enabled: true

                    },

                    onRowUpdated: function (e) {
                        $.notify("OEM Updation in progress...Please wait!", {
                            globalPosition: "top center",
                            className: "success"
                        })
                        Update(e.data);
                    }
                }).dxDataGrid('instance').refresh();

                dataGrid = $("#SpocTable").dxDataGrid({

                    dataSource: response.spocList,
                    editing: {
                        mode: "row",
                        allowUpdating: true,
                        allowDeleting: true,
                        allowAdding: true,
                        useIcons: true
                    },
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    columnChooser: {
                        enabled: true
                    },
                    filterRow: {
                        visible: true

                    },
                    headerFilter: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    selection: {
                        applyFilter: "auto"
                    },
                    // repaintChangesOnly: true,
                    paging: {
                        pageSize: 15
                    },
                    searchPanel: {
                        visible: true,
                        width: 240,
                        placeholder: "Search..."
                    },
                    loadPanel: {
                        enabled: true
                    },
                    onEditorPreparing: function (e) {
                        if (e.dataField === "OEM" && e.parentType === "dataRow") {
                            e.editorOptions.disabled = !e.row.isNewRow;
                        }

                    },

                    columns: [
                        {
                            type: "buttons",
                            width: 100,
                            alignment: "left",
                            buttons: [
                                "edit", 'delete']
                        },
                        {

                            alignment: "center",
                            columns: [
                                {
                                    dataField: "OEM",
                                    caption: "OEM",
                                    width: 80,
                                    lookup: {
                                        dataSource: OEM_list,
                                        valueExpr: "OEM",
                                        displayExpr: "OEM"
                                    }
                                },
                                {
                                    dataField: "Spoc",
                                    caption: "OEM SPOC",


                                },


                            ]
                        }],
                    export: {
                        enabled: true

                    },

                    onRowUpdated: function (e) {
                        $.notify("OEM Updation in progress...Please wait!", {
                            globalPosition: "top center",
                            className: "success"
                        })

                        debugger;
                        //const regex = /\.com(?=[,.\s])/g;
                        var email = e.data.Spoc;
                        let replacedEmail = "";
                        let lastChars = "";

                        for (let i = 0; i < email.length; i++) {
                            const currentChar = email[i];
                            if (currentChar === "," || currentChar === "." || currentChar === " ") {
                                if (lastChars.toLowerCase() === ".com") {
                                    replacedEmail += ";";
                                    lastChars = "";
                                    continue;
                                }
                            }
                            lastChars = lastChars.slice(-3) + currentChar;
                            replacedEmail += currentChar;
                        }
                        e.data.Spoc = replacedEmail;
                        debugger;
                        UpdateSpoc(e.data);
                    },
                    onRowInserting: function (e) {
                        $.notify("OEM Updation in progress...Please wait!", {
                            globalPosition: "top center",
                            className: "success"
                        })

                        debugger;
                        var email = e.data.Spoc;
                        let replacedEmail = "";
                        let lastChars = "";

                        for (let i = 0; i < email.length; i++) {
                            const currentChar = email[i];
                            if (currentChar === "," || currentChar === "." || currentChar === " ") {
                                if (lastChars.toLowerCase() === ".com") {
                                    replacedEmail += ";";
                                    lastChars = "";
                                    continue;
                                }
                            }
                            lastChars = lastChars.slice(-3) + currentChar;
                            replacedEmail += currentChar;
                        }
                        e.data.Spoc = replacedEmail;
                        debugger;
                        AddSpoc(e.data);
                    },
                    onRowRemoving: function (e) {
                        debugger;
                        DeleteSpoc(e.data.OEM);

                    },
                }).dxDataGrid('instance').refresh();

            }

            function OnError_GetData(response) {

                $.notify('Unable to load the Item Requests, Please Try again later!', {
                    globalPosition: "top center",
                    className: "warn"
                });

            }

            $.ajax({
                type: "GET",
                url: "/Admin_Lab/LookupOEM",
                async: false,
                success: onsuccess_lookupdata,
                error: onerror_lookupdata
            })


            function onsuccess_lookupdata(response) {
                debugger;
                OEM_list = response.data;
            }

            function onerror_lookupdata(response) {
                $.notify('Unable to retrieve the OEM List.', {
                    globalPosition: "top center",
                    className: "warn"
                });
            }

            function Update(id1) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: encodeURI("../Admin_Lab/UpdateOEM"),
                    data: { 'req': id1 },
                    success: function (data) {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                });
            }

            function AddSpoc(id1) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: encodeURI("../Admin_Lab/AddSpoc"),
                    data: { 'req': id1 },
                    success: function (data) {
                        debugger;

                        //refresh data
                        if (data.success) {
                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Updated the details!", {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                            function error_refresh_getdata(response) {



                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }

                        }
                        else {
                            //ajax call to get data for refreshing
                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Error in updating the details!", {
                                    globalPosition: "top center",
                                    className: "warn"
                                })

                            }
                            function error_refresh_getdata(response) {
                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }

                        }
                    },

                    error: function (data) {
                        $.notify("User is not Authorized!!", {
                            globalPosition: "top center",
                            className: "error"
                        })

                        debugger;


                    }
                });
            }
            function UpdateSpoc(id1) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: encodeURI("../Admin_Lab/EditSpoc"),
                    data: { 'req': id1 },
                    success: function (data) {
                        debugger;

                        //refresh data
                        if (data.success) {
                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Updated the details!", {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                            function error_refresh_getdata(response) {



                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }

                        }
                        else {
                            //ajax call to get data for refreshing
                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Error in updating the details!", {
                                    globalPosition: "top center",
                                    className: "warn"
                                })

                            }
                            function error_refresh_getdata(response) {
                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }

                        }
                    },

                    error: function (data) {
                        $.notify("User is not Authorized!!", {
                            globalPosition: "top center",
                            className: "error"
                        })

                        debugger;


                    }
                });
            }

            function DeleteSpoc(id) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: encodeURI("../Admin_Lab/DeleteSpoc"),
                    data: { 'id': id },
                    success: function (data) {
                        debugger;
                        if (data.success == true) {

                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable ").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Deleted Successfully!", {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                            function error_refresh_getdata(response) {



                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }
                        }
                        else {

                            $.ajax({
                                type: "GET",
                                url: encodeURI("../Admin_Lab/GetLabData"),
                                success: success_refresh_getdata,
                                error: error_refresh_getdata

                            });

                            function success_refresh_getdata(response) {
                                debugger;

                                var getdata = response.spocList;
                                $("#SpocTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify("Error deleting the data, Try again!", {
                                    globalPosition: "top center",
                                    className: "warn"
                                })

                            }
                            function error_refresh_getdata(response) {



                                var getdata = response.spocList;
                                $("#HardwareTable").dxDataGrid({
                                    dataSource: getdata
                                });

                                $.notify('Unable to Refresh Request Items list right now, Please Try again later!', {
                                    globalPosition: "top center",
                                    className: "warn"
                                });

                            }
                            //setTimeout(function () { location.reload(true); }, 3000);
                        }


                    }

                });


            }
        </script>
    }
</head>
<body style="overflow-y: hidden;">
    <div class="main">
        <div class="article-container" style="padding-top:2em">

            <h3 style="text-align:center"><b>Lab Admin - OEM SPOC Mapping</b></h3>
        </div>


        <div class="container-fluid">
            <div class="row" style=" overflow:hidden; padding-top:10px;">
                <div class="col-12 col-md-6" style="float:left;">
                    <table id="LabsTable" class="table table-bordered display compact nowrap cell-border" width="100%"></table>
                </div>
                <div class="col-12 col-md-6" style="float:right;">
                    <table id="SpocTable" class="table table-bordered display compact nowrap cell-border" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
    
   
</body>

</html>
