

@{
    ViewBag.Title = "VKM Planner";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <title>Equipment/SW Requests</title>
    <style>
        section {
            padding: 25px;
        }


        .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
            /*font-size: 17px;*/
            /*font-weight: bold;*/
            font: bold 16px arial;
        }

        .dx-datagrid-headers .dx-header-row {
            background-color: antiquewhite;
        }

        .dx-header-row {
            color: black;
        }

        .dx-editor-cell .dx-texteditor .dx-texteditor-input {
            background-color: lightgray;
        }

        .dx-datagrid-content /*.dx-datagrid-table .dx-row .dx-editor-cell*/ .dx-texteditor /*.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container*/ {
            background-color: antiquewhite;
        }

        .dx-datagrid-filter-row,
        .dx-datagrid-filter-row .dx-editor-cell .dx-texteditor-input {
            background-color: antiquewhite;
        }

        .columnHeaderCSS {
            /*font-weight: bold;*/
            color: #000000;
            background-color: antiquewhite !important;
        }

        #ddlYears {
            margin-bottom: 25px;
        }

        /*On editing - disable filtering on headers*/
        .dx-datagrid-headers.dx-state-disabled:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }


        .dx-data-row.dx-state-hover > td {
            cursor: pointer;
            color: black !important;
            background-color: #e3f2fd !important;
        }

        .dx-datagrid {
            font: 13px arial; /*change default font size*/
        }

            .dx-datagrid .dx-row > td {
                padding: 0; /*decrease row height*/
            }


        /* Base for label styling */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: 0;
            opacity: 0.00;
        }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 2.3em;
                font-size: 1em;
                line-height: 1.7;
                cursor: pointer;
            }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 4px;
                    width: 1em;
                    height: 1em;
                    border: 1px solid #aaa;
                    background: #FFF;
                    border-radius: .2em;
                    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                    -webkit-transition: all .275s;
                    transition: all .275s;
                }

                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                    content: '✓';
                    position: absolute;
                    top: .6em;
                    left: .45em;
                    font-size: 1.2em;
                    color: #b1095c;
                    line-height: 0;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }

                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0) rotate(45deg);
                    transform: scale(0) rotate(45deg);
                }

                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1) rotate(0);
                    transform: scale(1) rotate(0);
                }

        /* Disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #e9e9e9;
        }

        [type="checkbox"]:disabled:checked + label:after {
            color: #777;
        }

        [type="checkbox"]:disabled + label {
            color: #aaa;
        }

        /* Accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
        }

        .dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row > td > .dx-datagrid-text-content {
            white-space: normal;
        }

        @@media (max-width: 980px) {
            .titlecss {
                margin-top: 20px;
            }
            .busummary {
                width: 100%;
                float: left;
                display: inline-block;
            }

            .info {
                background-color: #e7f3fe;
                border-left: 15px solid #2196F3;
                border-radius: 25px;
                padding-top: 10px;
                padding: 20px;
                width: 100%;
                display: inline-block;
                margin-bottom: 20px;
                font-size: smaller;
            }
        }
        @@media (min-width: 980px) {
            .busummary {
                width: 55%;
                float: left;
                display: inline-block;
                margin-right:20px;
            }

            .info {
                background-color: #e7f3fe;
                border-left: 15px solid #2196F3;
                border-radius: 25px;
                padding-top: 10px;
                padding: 20px;
                width: 40%;
                display: inline-block;
                margin-bottom: 20px;
                font-size: smaller;
            }
        }
        @@media (max-width: 450px) {
            .titlecss {
                margin-top: 60px;
            }
        }

    </style>





    @section scripts{
        @*JS Library specific for Bootstrap-Select Dropdown*@
        <script src="~/Scripts/bootstrap-select.js"></script>

        @*CSS Library*@
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        @*External stylesheet to exhibit Budgeting Request functionality*@
        <script src="~/Scripts/BudgetingRequest.js"></script>



    }
</head>
<body>
    <header>

        <div class="titlecss">
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/requ.png" style="width:40px;height:45px;" alt="VKM Request" />
                    </td>
                    <td><h4 style="text-align:center;margin-top:10px;"><b> Lab Equipment Planner </b></h4></td>
                </tr>
            </table>
        </div>

    </header>



    @*<div id="RequestImport">

            @using (Ajax.BeginForm("Index", "BudgetingRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "RequestImport", OnSuccess = "mySuccessFuntion(returnedData)", OnFailure = "myFailureFuntion(returnedData)" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
            {
                <div style="width:80%">
                    <b>Import Items to Request List : </b>
                    <div class="custom-file" style="width:30%">
                        <input type="file" class="custom-file-input" id="postedFile" name="postedFile" accept=".xlsx">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnable()" />
                    <i id="UploadSpinner"></i>
                </div>
                @Html.ActionLink("Click here to download template", "DownloadTemplate", new { })
            }
        </div>*@





    <div style="float:right;margin-right:10px;">
        <button id="btnSubmitAll" class="btn btn-outline-success btn-sm" ;" style="margin-bottom:25px;"><i class='fa fa-check-square-o'></i> Submit All <i id="SubmitSpinner"></i></button>
        <input type="image" src="/Content/images/Excel_Icon.png" alt="ExportToExcel" width="35" height="32" id="export" title="Export" class="btn btn-outline-secondary btn-sm" style="margin-bottom:25px;" />
    </div>

    <div style="margin-left:10px;">
        <button id="btn_summary" class="btn btn-outline-primary btn-sm" style="margin-bottom:10px;"><i class="fa fa-info-circle"></i> Requests Summary</button>
        @* <a id="buttonClearFilters" class="btn btn-outline-secondary btn-sm" style="width: 130px;margin-bottom:10px;"><i class="fa fa-check"></i> Clear Filters</a>*@

        <label style="text-align:left;" class="" for="Year"><b> Choose VKM Year:</b></label>
        <select id="ddlYears" class="selectpicker show-tick" onchange="fnYearChange(this)"
                data-live-search="true"
                data-actions-box="true"
                data-width="100px"
                style="cursor:pointer;margin-bottom:20px;"></select>

        <label title="Please select the options to view the mentioned data" style="text-align:left;top:0px; font-size:18px; padding-left:10px;" for=""><b>Details:</b></label>

        <input class="chkvkm" type="checkbox" id="chkRequest" name="Request" value="Request" />
        <label for="chkRequest" style="padding-right: 10px; background-color:#7fd3d7;border-radius:5px;">Request</label>
        <input class="chkvkm" type="checkbox" id="chkItem" name="Item" value="Item" />
        <label for="chkItem" style="padding-right: 10px; background-color:#dc80ba;border-radius:5px;">Item</label>


    </div>



    <div class="toggler">
        <div id="effect" style="display:none" class="ui-widget-content ui-corner-all">


            <div id="summarydiv" style="float:left">
                <table id="BUSummaryTable" class="table table-bordered display compact nowrap cell-border busummary">
                </table>
                <div class="info" style="display:inline-block">
                    <h5><strong> <i class="fa fa-info-circle"></i>  Info :</strong></h5>
                    <p style="color:black">
                        Kindly note that BU Summary provides current user’s request totals under each BU. The below Dept summary briefs the request totals under user's department.
                    </p>
                </div>

                <table cellpadding="0" cellspacing="0" border="0" id="deptsummarytable" class="table table-bordered display compact nowrap cell-border busummary" >
                </table>
            </div>


            @*<div id="summarydiv" style="display: flex">
                    <div style="width: 50%;">
                        <table id="BUSummaryTable" class="table table-bordered display compact nowrap cell-border">
                        </table>
                    </div>

                    <div class="info">
                        <h5><strong> <i class="fa fa-info-circle"></i>  Info :</strong></h5>
                        <p style="color:black">
                            Kindly note that BU Summary provides current user’s request totals under each BU. The below Dept summary briefs the request totals under user's department.
                        </p>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" id="deptsummarytable" class="table table-bordered display compact nowrap cell-border" style="width:60%;float:left">
                    </table>
                </div>*@
        </div>
    </div>

    @* commented import in LE Planner - based on discussion with ELO - as import is available in Lab RFO *@

    @*<div id="LEPlannerImport" style="width:37%;margin-top:5px;">

        @using (Ajax.BeginForm("Index_import", "BudgetingRequest", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "LEPlannerImport", OnSuccess = "mySuccessFuntion(rdata)", OnFailure = "myFailureFuntion()" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
        {


            <table style="margin-left:5px;" width="100%">
                <tr>
                    <td>
                        <b>Import Request Details : </b>
                    </td>
                    <td>
                        <div class="custom-file" style="width:100%">
                            <input type="file" class="custom-file-input" id="postedFile" name="postedFile" accept=".xlsx" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </td>
                    <td>
                        <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnable()" />
                        <i id="UploadSpinner"></i>
                    </td>

                </tr>
                <tr>

                    @Html.ActionLink("Click here to download template", "DownloadTemplate", new { @class = "style_width" })
                </tr>
            </table>

        }

    </div>*@

    <p id="demo" style="color:red; margin-left:10px;"></p>
    <div align="center" style="font-size: 30px;">
        <i id="load"></i>
        <span class="spinner-text" id="loadpanel" style="font-size:20px;display:none">Please, wait...Fetching your Item Requests</span>

    </div>

    @*<div class="modal-body">
            <h5>Popover in a modal</h5>
            <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
            <hr>
        </div>*@
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>*@

    <!-- Modal -->
    @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Welcome to VKM Planning 2022 !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        To start with, Add item requests using <img src="~/Content/images/add.png" /> option.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>*@

    <table id="RequestTable" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
    </table>




</body>

</html>

