
@{
    ViewBag.Title = "Inventory List";
    Layout = "~/Views/Shared/_LayoutPageBudgeting.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>
    <title>Equipment/SW Item Master List - VKM</title>
    <style>
                section {
                    padding: 25px;
                }


                .dx-datagrid-headers.dx-state-disabled:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
                    font-size: 17px;
                    font-weight: bold;
                }

                .dx-datagrid-headers .dx-header-row {
                    background-color: antiquewhite;
                }

                .dx-header-row {
                    color: black;
                }

                /*  .dx-datagrid-filter-row >.dx-texteditor {
                    background-color: antiquewhite;
                    color: red;
                }
        */

    </style>

    @section scripts{
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        @*External stylesheet to exhibit Inventory functionality*@
        <script src="~/Scripts/BudgetingInventory.js"></script>
    }
</head>
<body>
    <header>
        @*<h2>Lab Equipment List (VKM) - 2021</h2>*@
        <div>
            <table align="center">
                <tr>
                    <td>
                        <img class="card-img mx-auto d-block" src="~/Content/images/ilist.png" style="width:33px;height:35px;" alt="VKM Items List" />
                    </td>
                    <td><h4 style="text-align:center;"><b> Items Master List</b></h4></td>
                </tr>
            </table>
        </div>

    </header>
 
      <div>
            <div id="InventoryImport">
                
                @using (Ajax.BeginForm("Index", "BudgetingInventory", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "InventoryImport", OnSuccess = "mySuccessFuntion(returnedData)", OnFailure = "myFailureFuntion(returnedData)" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
                {
                        <div style="width:80%" >
                            <b>Import Items to Inventory : </b>
                            <div class="custom-file" style="width:30%">
                                <input type="file" class="custom-file-input" id="postedFile" name="postedFile" accept=".xlsx">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>

                            <input type="submit" title="Upload" value="Upload" class="btn btn-outline-dark" onclick="spinnerEnable()" />
                            <i id="UploadSpinner"></i>
                        </div>
                    @Html.ActionLink("Click here to download template", "DownloadTemplate", new { })
                }
            </div>

            <a id="btnrequests" class="btn btn-outline-info btn-sm" style="margin:5px; "><i class="fa fa-inbox"></i> Requests</a>
            @*<a id="buttonClearFilters" class="btn btn-outline-secondary btn-sm" style="margin:5px; "><i class="fa fa-check"></i> Clear Filters</a>*@
             @using (Html.BeginForm("ExportDataToExcel", "BudgetingInventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {
                  <div style="float:right;height:50px">
                  <input type="submit" title="Export" value="Export" class="btn btn-outline-secondary btn-sm" style="margin:5px;float:right" />
                  </div>
             }
      <div align="center" style="font-size:30px;">
          <i id="load"></i>
          <span class="spinner-text" id="loadpanel" style="font-size:20px;">Please, wait...Fetching Item MasterList</span>

      </div>
            

            <table id="RequestTable" class="table table-bordered display compact nowrap cell-border" style="width: 100%;">
            </table>
      </div>

</body>
</html>

