
@{
    ViewBag.Title = "TSUA OEM Admin";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKX0NP1SYR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GKX0NP1SYR');
    </script>

    <style>
        #events {
            background-color: rgba(191, 191, 191, 0.15);
            padding: 20px;
            margin-top: 20px;
        }

            #events > div {
                padding-bottom: 5px;
            }

                #events > div::after {
                    content: "";
                    display: table;
                    clear: both;
                }

            #events #clear {
                float: right;
            }

            #events .caption {
                float: left;
                font-weight: bold;
                font-size: 115%;
                line-height: 115%;
                padding-top: 7px;
            }

            #events ul {
                list-style: none;
                max-height: 100px;
                overflow: auto;
                margin: 0;
            }

                #events ul li {
                    padding: 7px 0;
                    border-bottom: 1px solid #ddd;
                }

                    #events ul li:last-child {
                        border-bottom: none;
                    }

        .dx-datagrid-headers {
            background-color: wheat !important;
            font-size: large;
            color: black;
            font-weight: bold;
        }

        #gridContainer {
            width: 80%;
            height: 100%;
        }
        /*coloring for edit/delete column
                   .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit.dx-command-edit-with-icons
                {
                    width: 80px;
                    min-width: 80px;
                    background-color: wheat;
                }*/
        /* coloring for search box
                   .dx-searchbox .dx-texteditor-input
                {
                    padding-left: 34px;
                    background-color:wheat;
                }*/
        /*  coloring for column chooser
                  .dx-toolbar-text-auto-hide .dx-button .dx-button-content
                {
                    padding: 8px;
                    background-color: wheat;

                }*/
        .navbar-brand:hover, .navbar-brand:focus {
            color: var(--bs-navbar-brand-hover-color);
            align-content: center;
        }
        /*super array border*/
        .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
            border-bottom: none;
        }
        /*.dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table .dx-col-fixed {
                    background-color:wheat;
                }
        */
        hr {
            border-top-style: none;
            border-top-width: 0px;
            border-top: none;
        }
        /*.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
                    border-bottom: 1px solid #d9d9d9;*/ /* or any other color that matches your design */
        /*}*/
        /*.dx-row dx-column-lines dx-header-row{
                    height:10px;
                }*/

    </style>

    @section scripts
        {

        <script src="~/Scripts/bootstrap-select.js"></script>

        @*CSS Library*@
        <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="~/Scripts/TSUA_OEM_Admin_page.js"></script>
    }





</head>
<body class="dx-viewport">
    <div>
        <h1 style="font-size:xx-large; text-align:center;" id="heading"><b></b></h1>
    </div>
    <div class="demo-container" style="height:100%;align-content:center;">
        <div id="gridContainer" style="margin-left: 10%" ></div>
    </div>
</body>



</html>




