/*Stylesheet form SmartLabPortal_Diagnostics*/

/*.bootstrap-select > .dropdown-toggle .bs-placeholder .btn-success{
    color: brown !important;
    background-color: wheat !important;
}
*/

/*color the title of bootstrap select*/
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
    color: black !important;
}


    /*color the bootstrap select with diff color*/
    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-secondary, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-success, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-danger, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-info, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-dark, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-primary:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-secondary:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-success:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-danger:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-info:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-dark:hover, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-primary:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-secondary:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-success:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-danger:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-info:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-dark:focus, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-primary:active, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-secondary:active, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-success:active, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-danger:active, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-info:active, .bootstrap-select >
    .dropdown-toggle.bs-placeholder.btn-dark:active {
        background-color: #a7dbbb;
        color: black;
    }

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    background-color: #a7dbbb;
    color: black;
}


.btn-success {
    background-color: #a7dbbb !important;
    color: black;
}

    .btn-success.show > .btn-success.dropdown-toggle {
        background-color: #a7dbbb;
        color: black;
    }



.dx-header-row > td > .dx-datagrid-text-content:not(.dx-sort-indicator):not(.dx-header-filter-indicator) {
    /*display: none;*/
    /*display:block so that Vector Piggy Header Filter is visible*/
    display: block;
}

#Site_drpdwn .btn-light {
    background-color: #800060;
    color: white;
}

#exportContainer .dx-button {
    background-color: #279bbe;
    border-color: #238aa9;
    color: white;
}

#Pr_HW {
    background: repeating-linear-gradient(#74ABDD, #74ABDD 49.9%, #498DCB 50.1%, #498DCB 100%);
    width: 670px;
    text-align: left;
}

#Diag_Pg_Title {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#gridContainer_d1 {
    padding-top: 5px;
}

#triangle-up1 {
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 24px solid #fff;
    position: absolute;
    left: 50%;
}

#triangle-up2 {
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 24px solid #fff;
    position: absolute;
    left: 50%;
}

/*for multiple charts-9.2.2021*/
/*#chart-demo {
    height: 460px;
}

.charts {
    width: 820px;
    margin: 0 auto;
    height: 374px;
    margin-bottom: 40px;
    font-size: 0;
}
*/
#chartContainer1, #pieChartContainer1 {
    width: /*395px;*/ 95%;
    /*height: 100%;*/
    /*padding-bottom: 50px;*/
    /*display: inline-block;*/
    vertical-align: top;
    margin-bottom: 40px;
}

/*#chartContainer1 {
    margin-right: 30px;
}*/

.controls-pane {
    text-align: center;
}


#StartTime {
    height: 35px;
    /*text-align: center;*/
    color: black;
    border-radius: 5px;
    background-color: #a7dbbb;
    /*#8ad4a6;*/
    /*#4BB543;*/
}

#EndTime {
    height: 35px;
    /*text-align: center;*/
    color: black;
    border-radius: 5px;
    background-color: #a7dbbb;
}

.dx-datagrid-headers .dx-header-row {
    background-color: antiquewhite;
}

.dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
    font-size: 17px;
    font-weight: bold;
}

.dx-header-row {
    color: black;
}

.dx-data-row td {
    align-content: stretch;
}

#hw_yoy_title {
    padding-bottom: 20px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.accordion a {
    color: black;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 5px;
}

    .accordion a:hover {
        background-color: lightblue;
    }

    .accordion a.active {
        color: white;
    }

.accordion_indications::after {
    font-family: 'Ionicons';
    content: '\+';
    position: absolute;
    float: right;
    right: 1rem;
    color: black;
    font-size: 1rem; /*overall size of the icon with circular outline*/
    margin-left: 5px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; /*determines the circular outline around + icon*/
    border: 0.5px solid black; /*solid dimension  of the circular outline*/
}

.accordion_indications:hover::after {
    font-family: 'Ionicons';
    content: '\+';
    color: white;
    border: 0.5px solid white;
}

.accordion_indications.active::after {
    font-family: 'Ionicons';
    content: '\-';
    color: white;
    border: 0.5px solid white;
}

.accordion .content {
    opacity: 0;
    padding-right: 2rem;
    max-height: 0;
    width: 95%;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

    .accordion .content p {
        font-size: 1rem;
        font-weight: 300;
    }

    .accordion .content.active {
        opacity: 1;
        max-height: 100%;
        width: 95%;
        -webkit-transition: all 0.35s ease 0.15s;
        -o-transition: all 0.35s ease 0.15s;
        transition: all 0.35s ease 0.15s;
    }


.dx-header-row > td[role="columnheader"] > div.dx-treelist-text-content {
    /*font-size: 17px;*/
    /*font-weight: bold;*/
    font: bold 20px arial;
    height: 50px;
}

.dx-treelist-headers .dx-header-row {
    background-color: #88a8c2;
    border-radius: 15px;
    /*border: 15px solid darkblue;*/
    /*0 5px 10px rgba(0,0,0,.2)*/
}

.dx-header-row {
    color: black;
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
    /*background-color: lightgray;*/
}

.dx-treelist-filter-row,
.dx-treelist-filter-row .dx-editor-cell .dx-texteditor-input {
    background-color: antiquewhite;
}

.lc_comparator_icon {
    height: 50px;
    width: 50px;
}

#lccompContainer1 {
    font: 16px arial;
}

#configuration_icon {
    height: 45px;
    width: 40px;
    margin-top: 5px;
}


.dx-treelist .dx-column-lines > td {
    border: 8px solid #88a8c2;
    /*  background-image: linear-gradient( #88a8c2, #0067b8) 30;*/
    /*border-style: solid;*/
    /*border-width: 10px;*/
    /*border-right: 10px solid #88a8c2;
    border-radius: 10px !important;
    color: #88a8c2;
    background-image: linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);*/
}

.dx-treelist-rowsview .dx-treelist-text-content {
    color: black;
}
/*.dx-treelist .dx-column-lines {
    border-left: 2px solid #ce2121;
    border-right: 2px solid #ad2727;
}  */
.dx-treelist-borders .dx-treelist-rowsview, .dx-treelist-headers + .dx-treelist-rowsview {
    border-radius: 25px;
    border: 15px solid;
    /*background-color: darkblue;*/
    /*background-color: #88a8c2;*/
    /*linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);*/
    color: darkblue;
}

/*.dx-treelist-headers .dx-treelist-content{
    border-radius: 25px;
    box-shadow: 10px 15px 10px 10px pink;
}*/

.dx-treelist .dx-row-lines > td {
    /*border: 10px solid;*/
    /*color: black;*/
    /* color: darkblue;*/
    /*background-image: linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);*/
    background-color: #88a8c2;
}

.dx-treelist-rowsview .dx-treelist-expanded span {
    font: 28px/8px DXIcons; /*expand arrow wicon size*/
    color: black;
}

.dx-treelist-rowsview .dx-treelist-collapsed span {
    font: 28px/8px DXIcons; /*expand arrow wicon size*/
    color: black;
}

.dx-treelist-text-content {
    color: black;
    padding-left: 10px;
}
/*

.dx-treelist .dx-column-lines 
{
    color: black;
}*/

/*.dx-row > td[role="gridcell"] > div.dx-treelist-text-content {*/
/*font-size: 17px;*/
/*font-weight: bold;*/
/*color: black;
}*/




/*
.dx-treelist .dx-column-lines > td {
    border: 8px solid #88a8c2;
      background-image: linear-gradient( #88a8c2, #0067b8) 30;
    border-style: solid;
    border-width: 10px;
    border-right: 10px solid #88a8c2;
    border-radius: 10px !important;
    color: #88a8c2;
    background-image: linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);
}

.dx-treelist-rowsview  .dx-treelist-text-content{
    color: black;
}
.dx-treelist .dx-column-lines {
    border-left: 2px solid #ce2121;
    border-right: 2px solid #ad2727;
}  
.dx-treelist-borders .dx-treelist-rowsview, .dx-treelist-headers + .dx-treelist-rowsview {
    border-radius: 25px;
    border: 15px solid;
    background-color: darkblue;
    background-color: #88a8c2;
    linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);
    color: darkblue;
}

.dx-treelist-headers .dx-treelist-content{
    border-radius: 25px;
    box-shadow: 10px 15px 10px 10px pink;
}

.dx-treelist .dx-row-lines > td {
    border: 10px solid;
    color: black;
     color: darkblue;
    background-image: linear-gradient(315deg, #88a8c2 0%, #0067b8 294%);
    background-color: #88a8c2;
}

.dx-treelist-rowsview .dx-treelist-expanded span{
    font: 28px/8px DXIcons; expand arrow wicon size
    color: black;
}

.dx-treelist-text-content {
    color: black;
}


.dx-treelist .dx-column-lines 
{
    color: black;
}

.dx-row > td[role="gridcell"] > div.dx-treelist-text-content {
    font-size: 17px;
    font-weight: bold;
    color: black;
}*/

