


*::before,
*::after {
    box-sizing: border-box;
}

.container-fluid {
    overflow-y: hidden;
}
/*Define features form whole html view*/
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*for div main*/
.main {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #f2f2f2;
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    /*overflow: hidden;*/
}

p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*
*
 * Global Rules*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0d0d0d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-wrap: break-word;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 1.5rem;
}


/*for visited,active and hover*/
a,
a:visited {
    background-color: transparent;
    color: #0067b8;
    text-decoration: none;
    border-bottom: 1px dotted;
}

    a:hover,
    a:active {
        border-bottom: none;
        outline: 0;
    }

    a:focus {
        border-bottom: none;
        outline: thin dotted;
    }

    a img {
        border: 0;
    }

.entry-content > *:not(:last-child) {
    margin-bottom: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 2rem;*/
}

    footer .credits {
        font-size: 1rem;
    }

/**
 * Article Container*/

.article-container {
    padding: 1rem;
}

/**
 * Article Block*/

.article-block {
    text-align: center;
}

    .article-block .entry-content > p {
        color: #666;
    }

/**
 * Tabs Container*/

.tabs-container {
    /*padding: 2rem;*/
}

/**
 * Tabs Block*/

.tabs-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
*
 * Tabs*/

.tabs {
    display: flex;
}

/*.tab-head
{
    width: 10vw;
    height: 50vh;

}*/

.material-icons.md-36 {
    font-size: 36px;
}

.tabs > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    /* width: 10vw;
        height: 74vh;*/
}

    .tabs > ul li {
        display: block;
    }

        .tabs > ul li:not(:last-child) {
            border-bottom: 1px solid #262626;
        }

        .tabs > ul li a,
        .tabs > ul li a:visited {
            display: flex;
            border-bottom: none;
            text-decoration: none;
            background-color: #4080ad;
            color: #fff;
            padding: 1rem 1rem;
            transition: all 0.2s ease-in-out;
            word-wrap: break-word;
            height: 26.5vh;
        }

            .tabs > ul li a:hover,
            .tabs > ul li a:focus,
            .tabs > ul li a:active {
                border-bottom: none;
                outline: 0;
            }

            .tabs > ul li a.active {
                background-color: #fff;
                color: #306082;
            }

            .tabs > ul li a:hover:not(.active) {
                color: black;
            }

            .tabs > ul li a > span {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

                .tabs > ul li a > span.tab-label {
                    display: none;
                }

.tabs section {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    display: none;
    word-wrap: break-word;
    border-bottom: 6px solid #0067b8;
}

    .tabs section > * {
        opacity: 0;
        /*transform: translateY(20px);
            transition: opacity 0.2s, transform 0.2s;*/
    }
    /*
            .tabs section > *:nth-child(1) {
                transition-delay: 0.2s;
            }

            .tabs section > *:nth-child(2) {
                transition-delay: 0.3s;
            }*/


    .tabs section.active {
        display: block;
    }

    .tabs section.active-content > * {
        opacity: 1;
        transform: translateY(0);
    }

@media (min-width: 776px) {
    container-fluid {
        overflow-y: scroll;
    }

    .tabs > ul {
        width: 10vw;
        /*height: 74vh;*/
    }

        .tabs > ul li a {
            flex-wrap: wrap;
        }

            .tabs > ul li a > span {
                width: 100%;
                height: 50%;
            }

                .tabs > ul li a > span.tab-label {
                    width: 100%;
                    display: block;
                    margin-top: 2vh;
                    height: 50%;
                    font-size: 1.25em;
                    font-family: arial;
                    word-wrap: break-word;
                }

    .tabs section {
        width: calc(100% - 20px);
        padding: 1rem 1rem;
    }
}


/*styling for specific width*/
@media (min-width: 768px) {
    .tabs > ul {
        width: 10vw;
        height: 74vh;
    }

    body {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .tabs-container {
        /*padding: 4rem 4rem;*/
    }
}

/*styling for specific width*/
@media (min-width: 992px) {

    .tabs {
        width: 96vw;
        height: 80vh;
    }
}

/*.led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;*/
/*   -ms-animation: blinkRed 0.5s infinite;*/
/*-o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}*/

/*styling according stop frame*/
/*@-webkit-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}*/

/*styling according stop frame*/
/*@-moz-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}*/

/*styling according stop frame*/
/*@-ms-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}*/

/*styling according stop frame*/
/*@-o-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}*/

/*styling according stop frame*/
/*@keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}*/


/*style form albums container in the section*/
/*.albums {
    display: grid;
    grid-template-columns: repeat(1, minmax(660px, 20px));
    gap: 1em;
    margin: 1em;
}
*/
/*.album {*/
/* background: #b6ede8;*/
/*background-color: #e3efe8;
    background-image: linear-gradient(315deg, #e3efe8 0%, #0067b8 294%);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 100px 150px;
    gap: -5.5em;
    align-items: center;
    color: white;
    font-weight: 100;
    height: 100px;
    caption-side: top;
}*/

/*.album-new {*/
/*  background: linear-gradient(to right, #eff1f2, #e0e2e5);*/
/*background-color: #e3efe8;
    background-image: linear-gradient(315deg, #e3efe8 0%, #0067b8 294%);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 0.5em;*/
/* gap: 1.5em;*/

/*color: white;
    font-weight: 100;
    height: 100px;
    caption-side: top;
}*/


/*styling for thead datagrid*/
.dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
    /*font-size: 17px;*/
    /*font-weight: bold;*/
    font: bold 16px arial;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

.dx-datagrid-headers .dx-header-row {
    background-color: #a0c0d6;
    /*background-color: #2e536b;*/
    /*color: white;*/
}

element {
}

.dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-sort, .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter, .dx-datagrid .dx-column-indicators .dx-sort.dx-sort {
    display: inline-block;
}

.dx-datagrid .dx-datagrid-headers .dx-header-filter, .dx-datagrid .dx-datagrid-headers .dx-header-row > td {
    outline: 0;
}

.dx-datagrid .dx-header-filter-empty {
    color: #737373 !important;
}

.dx-header-row {
    color: black;
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
    background-color: #d9e6ef;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container {
    background-color: #a0c0d6;
}

.dx-datagrid-filter-row,
.dx-datagrid-filter-row .dx-editor-cell .dx-texteditor-input {
    background-color: #a0c0d6;
}

.columnHeaderCSS {
    /*font-weight: bold;*/
    color: #000000;
    background-color: #a0c0d6 !important;
}


/*On editing - disable filtering on headers*/
.dx-datagrid-headers.dx-state-disabled:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info {
    background-color: #e7f3fe;
    border-left: 15px solid #2196F3;
    border-radius: 25px;
    padding: 30px;
    width: 40%;
    height: 175px;
    display: inline-block;
    margin-left: 20px;
}


.dx-data-row.dx-state-hover > td {
    cursor: pointer;
    color: black !important;
    background-color: #e3f2fd !important;
}

.dx-datagrid {
    font: 13px arial; /*change default font size*/
}

    .dx-datagrid .dx-row > td {
        padding: 0; /*decrease row height*/
    }


.dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row > td > .dx-datagrid-text-content {
    white-space: normal;
}


.made-with {
    background: #fd264f;
    color: orange;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}

.documentation {
    color: orange;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
   
    display: flex;
    -webkit-flex-wrap: wrap;
   
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
        color: #007BC0;
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 1em;
        padding: 2rem 0;
        text-align: center;
    }

    .tabs [class^="tab"] [type="radio"], 
    .tabs [class*=" tab"] [type="radio"] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
        .tabs [class*=" tab"] [type="radio"]:hover,
        .tabs [class*=" tab"] [type="radio"]:focus {
            border-bottom: 2px solid #9E2896;
        }

        .tabs [class^="tab"] [type="radio"]:checked,
        .tabs [class*=" tab"] [type="radio"]:checked {
            border-bottom: 2px solid #9E2896;
        }

            .tabs [class^="tab"] [type="radio"]:checked + div,
            .tabs [class*=" tab"] [type="radio"]:checked + div {
                opacity: 1;
            }

        .tabs [class^="tab"] [type="radio"] + div,
        .tabs [class*=" tab"] [type="radio"] + div {
            display: block;
            opacity: 0;
            padding: 2rem 0;
            width: 90%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    .tabs .tab-2 {
        width: 50%;
    }

        .tabs .tab-2 [type="radio"] + div {
            width: 200%;
            margin-left: 200%;
        }

        .tabs .tab-2 [type="radio"]:checked + div {
            margin-left: 0;
        }

        .tabs .tab-2:last-child [type="radio"] + div {
            margin-left: 100%;
        }

        .tabs .tab-2:last-child [type="radio"]:checked + div {
            margin-left: -100%;
        }