@model LC_Reports_V1.Models.LC_Model

@{
    ViewBag.Title = "Test System Individual Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title>Test System Individual Status </title>
<h2>Test System Individual Status</h2>

